<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.netxms.ui.eclipse.console.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.netxms.ui.eclipse.console.NXMCApplication">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Empty Perspective"
            class="org.netxms.ui.eclipse.console.perspectives.EmptyPerspective"
            id="org.netxms.ui.eclipse.console.EmptyPerspective">
      </perspective>
      <perspective
            name="Default Perspective"
            class="org.netxms.ui.eclipse.console.perspectives.DefaultPerspective"
            id="org.netxms.ui.eclipse.console.DefaultPerspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Progress View"
            icon="icons/pview.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.netxms.ui.eclipse.console.application"
            name="NetXMS Management Console">
         <property
               name="appName"
               value="NetXMS Management Console">
         </property>
         <property
               name="aboutText"
               value="NetXMS Management Console">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFF00">
         </property>
         <property
               name="startupMessageRect"
               value="7,265,386,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,285,400,15">
         </property>
      </product>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
     <page name="Workbench"
           class="org.netxms.ui.eclipse.console.preferencepages.WorkbenchGeneralPrefs"
           id="org.eclipse.ui.preferencePages.Workbench">
     </page>
     <page name="Appearance"
           category="org.eclipse.ui.preferencePages.Workbench"
           class="org.eclipse.ui.ExtensionFactory:appearancePreferencePage"
           id="org.eclipse.ui.preferencePages.Views">
         <keywordReference id="org.eclipse.ui.ide.appearance"/>
         <keywordReference id="org.eclipse.ui.ide.themes"/>
         <keywordReference id="org.eclipse.ui.ide.tabs"/>
      </page>
      <page category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:keysPreferencePage"
            id="org.eclipse.ui.preferencePages.Keys"
            name="Keys">
         <keywordReference id="org.eclipse.ui.ide.keys"/>
     </page>
     <page
            name="Label Decorators"
            category="org.eclipse.ui.preferencePages.Views"
            class="org.eclipse.ui.ExtensionFactory:decoratorsPreferencePage"
            id="org.eclipse.ui.preferencePages.Decorators">
         <keywordReference id="org.eclipse.ui.ide.appearance"/>
     </page>
   </extension>

</plugin>
