<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.netxms.nxmc.core.objecttab" name="org.netxms.nxmc.core.objecttab" schema="schema/nxmc_core_objecttab.exsd"/>

   <extension
         id="org.netxms.ui.eclipse.console.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.netxms.ui.eclipse.console.NXMCApplication">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Empty Perspective"
            class="org.netxms.ui.eclipse.console.perspectives.EmptyPerspective"
            id="org.netxms.ui.eclipse.console.EmptyPerspective">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Default Perspective"
            class="org.netxms.ui.eclipse.console.perspectives.DefaultPerspective"
            id="org.netxms.ui.eclipse.console.DefaultPerspective">
      </perspective>
   </extension>

</plugin>
