<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.actionmanager.views.ActionManager"
            icon="icons/actionmgr.png"
            id="org.netxms.ui.eclipse.actionmanager.views.ActionManager"
            name="%view.ActionsConfiguration"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%actionDescription.OpenActionsConfiguration"
            id="org.netxms.ui.eclipse.actionmanager.commands.open_action_manager"
            name="%action.OpenActionsConfiguration">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.action_set.actions_configuration"
            label="Actions Configuration"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.actionmanager.actions.OpenActionManager"
               definitionId="org.netxms.ui.eclipse.actionmanager.commands.open_action_manager"
               icon="icons/actionmgr.png"
               id="org.netxms.ui.eclipse.actionmanager.actions.open"
               label="%action.OpenActionsConfiguration"
               menubarPath="config/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.netxms.client.ServerAction"
            class="org.netxms.ui.eclipse.actionmanager.ServerActionAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.netxms.ui.eclipse.actionmanager.ServerActionDecorator"
            id="org.netxms.ui.eclipse.decorators.ServerAction"
            label="%decorator.actions"
            lightweight="false"
            state="true">
         <enablement>
            <objectClass
                  name="org.netxms.client.ServerAction">
            </objectClass>
         </enablement>
         <description>
            %decorator.actions.description
         </description>
      </decorator>
   </extension>

</plugin>
