/* general */

body
{
	font-family: Verdana, Helvetica;
	font-size: 73%;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;

	height: 100%;
	border: 0;
}

html body
{
	font-size: 9pt;

	text-align: left;
}

table, tr, td, th
{
	font-size: 100%;
	border-collapse: collapse;
	empty-cells: show;
}

th
{
	background-color: rgb(214, 225, 235);
	//background-color: rgb(222, 231, 239);
}

td
{
	vertical-align: top;
}

img
{
	border: 0;
}

.subheader
{
	height: 1.6em;
	font-size: 110%;
	font-weight: bold;
	border-bottom: 1px solid rgb(204,204,204);
	position: relative;
}

.subheader > span
{
	position: absolute;
	bottom: 0;
}

/* main menu */

#nav_menu
{
	background-color: #3D5C7A;

	font-weight: bold;
	/* text-transform: uppercase; */
	
	width: 100%;
	height: 2.3em;
}

#nav_menu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav_menu li
{
	float: left;
	margin: 0.15em 0.15em;
}

#nav_menu a
{
	height: 2em;
	line-height: 2em;
	float: left;
	width: 9em;
	display: block;
	color: #FFFFFF;
	/* background-color: rgb(71, 107, 143); */
	background-color: transparent;
	text-decoration: none;
	text-align: center;
	/* border: 1px solid transparent; */
}

/*#nav_menu a:focus
{
	border: 1px solid red;
}*/

#nav_menu a:hover
{
	text-decoration: none;
	color: #FFCC00;
	background-color: #7590AE;
}

/* submenu */

#nav_submenu
{
	background-color: #3D5C7A;

	font-weight: bold;
	font-size: 8pt;
	/* text-transform: uppercase; */
	
	width: 100%;
	height: 2em;
}

#nav_submenu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav_submenu li
{
	float: left;
	margin: 0.10em 0.10em;
}

#nav_submenu a
{
	height: 1.6em;
	line-height: 1.6em;
	float: left;
	width: 9em;
	display: block;
	color: #FFFFFF;
	/* background-color: rgb(71, 107, 143); */
	background-color: transparent;
	text-decoration: none;
	text-align: center;
	/* border: 1px solid transparent; */
}

/*#nav_submenu a:focus
{
	border: 1px solid red;
}*/

#nav_submenu a:hover
{
	text-decoration: none;
	color: #FFCC00;
	background-color: #7590AE;
}

/* main body */

#clientarea
{
	margin: 0;
	/* padding: 0.5em 0.5em; */
	clear: left;
	float: none;
}

#clientarea h1
{
	color: rgb(117,144,174);
	background-color: transparent;
	font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
	font-size: 200%;
	margin: 0 0 0.5em 0;
	padding: 0;
}

#clientarea p
{
	line-height: 1.75em;
	margin: 1em 0 1.5em 0;
	padding: 0;
}

/* box */

.box
{
	border: 2px solid rgb(204,204,204);
}

.boxTitle
{
	height: 2em;
	font-size: 110%;
	font-weight: bold;
	border-bottom: 2px solid rgb(204,204,204);
	position: relative;
	padding-left: 0.5em;
}

.boxTitle > span
{
	position: absolute;
	bottom: 0;
}

.tableHeader
{
	color: rgb(255, 255, 255);
	background-color: rgb(109, 136, 173);
	font-size: 110%;
	font-weight: bold;
}

.odd td
{
	background-color: rgb(231, 233, 242);
}

.even td
{
	background-color: rgb(255, 255, 255);
}

/* Object view */

#objview_header
{
	height: 1.6em;
	font-size: 130%;
	font-weight: bold;
}


/* alarms */

#alarm_list
{
	border: none;
}

#alarm_list table
{
	border: 2px solid rgb(204,204,204);
	width: 100%;
}

#alarm_list td
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/*
 * ripped from http://www.wpdfd.com/editorial/wpd0103.htm
 */
#horizon        
{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: 1px;
	overflow: visible;
	visibility: visible;
	display: block;
}

#content    
{
	background-color: transparent;
	margin-left: -250px;
	position: absolute;
	top: -120px;
	left: 50%;
	width: 500px;
	height: 210px;
	visibility: visible
}

#login_dialog
{
	border: 1px dotted;
}

#login_dialog td
{
	font-size: 9pt;
}

/* */
.left, .right, .full
{
	margin: 1em 0;
	float: left;
	border-left: 1px solid rgb(204,204,204);
}

.left
{
	width: 20%;
	padding: 0 1.9%;
	overflow: auto;
}

.right
{
	text-align: justify;
	width: 72%;
	padding: 0 1.9%;
}

.full
{
	width: 92%;
	padding: 0 1.9%;
	border-left: none;
}

/* */

#alarms img
{
	vertical-align: bottom;
}


/* WebFX XTree */

.webfx-tree-container {
	margin: 0px;
	padding: 0px;
	font: icon;
	white-space: nowrap;
}

.webfx-tree-item {
	padding: 0px;
	margin: 0px;
	font: icon;
	color: black;
	white-space: nowrap;
}

.webfx-tree-item a, .webfx-tree-item a:active, .webfx-tree-item a:hover {
	margin-left: 3px;
	padding: 1px 2px 1px 2px;
}

.webfx-tree-item a {
	color: black;
	text-decoration: none;
}

.webfx-tree-item a:hover {
	color: blue;
	text-decoration: underline;
}

.webfx-tree-item a:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}

.webfx-tree-item img {
	vertical-align: middle;
	border: 0px;
}

.webfx-tree-icon {
	width: 16px;
	height: 16px;
}
.webfx-tree-item a.selected {
	color: selectedtext;
	background: selected;
}

.webfx-tree-item a.selected-inactive {
	color: windowtext;
	background: buttonface;
}


/* WebFX Table */

.webfx-columnlist {
//	border: 1px solid;
//	border-color: threedshadow threedhighlight threedhighlight threedshadow;
	overflow: hidden;
	display: block;
	-moz-user-select: none;
	-moz-user-focus: normal;
	-moz-user-input: enabled;
}

.webfx-columnlist td {
	font: menu;
	padding: 1px;
	white-space: nowrap;
}

.webfx-columnlist-head {
	position: absolute;
	background: threedface;
	overflow: hidden;
	-moz-user-select: none;
}

.webfx-columnlist-head table {
	table-layout: fixed;
}

.webfx-columnlist-head td {
	border: 1px solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
	overflow: hidden;
	text-overflow: ellipsis;
}

.webfx-columnlist-head td img {
	width:    8px;
	height:   7px;
	margin:   0px 5px 0px 5px;
	display:  none;
}

.webfx-columnlist-body {
	border: 1px solid;
	border-color: threedhighlight threedface threedface threedhighlight;
	background: window;
	overflow: auto;
}

.webfx-columnlist-body table {
	table-layout: fixed;
}

.webfx-columnlist-body td {
	border-bottom: solid white;
	border-width:  0px 1px 1px 0px;
	overflow:      hidden;
	text-overflow: ellipsis;
	white-space:   no-wrap;
}

.webfx-columnlist-body tr.selected td {
	background:   #C0C0FF;
}

.webfx-columnlist-body tr.odd td {
	background:   #FFFFC0;
}

.webfx-columnlist-body tr.even td {
	background:   window;
}

.webfx-columnlist-move-header {
	position: absolute;
	background: threedshadow;
	top: 0px;
	font: menu;
	padding: 2px;
	height: 1em;
	filter: Alpha(Opacity=50);
	-moz-opacity: 0.5;
	-moz-user-select: none;
}

.webfx-columnlist-active-header {
	border-color: threedface !important;
}

.webfx-columnlist-separator-header {
	position: absolute;
	top: 0px;
	left: 10px;
	font: menu;
	height: 1em;
	width: 1px;
	overflow: hidden;
	background: blue;
	padding: 3px 0px;
}
