/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/bin
/bin64
/config
/config.h
/config.h.in
/config.log
/config.status
/configure
contrib/mibs/netxms.mib
/lib
/libtool
netware/bin/*
sql/dbinit_mssql.sql
sql/dbinit_mysql.sql
sql/dbinit_oracle.sql
sql/dbinit_pgsql.sql
sql/dbinit_sqlite.sql
src/agent/core/MSG00001.bin
src/agent/core/messages.c
src/agent/core/messages.h
src/agent/core/nxagentd
src/agent/core/static_subagents.cpp
src/agent/install/Output
src/client/console/nxmc/rc/nxmc.xrs
src/client/console/plugins/AlarmBrowser/rc/AlarmBrowser.xrs
src/client/console/plugins/Dashboard/rc/Dashboard.xrs
src/client/console/plugins/ObjectBrowser/rc/ObjectBrowser.xrs
src/install/windows/files/*
src/libnxsl/lex.yy.cpp
src/libnxsl/parser.output
src/libnxsl/parser.tab.cpp
src/libnxsl/parser.tab.hpp
src/nxhttpd/MSG00001.bin
src/nxhttpd/messages.h
src/private
src/server/core/netxmsd
src/server/core/nxmp_lex.yy.cpp
src/server/core/nxmp_parser.output
src/server/core/nxmp_parser.tab.cpp
src/server/core/nxmp_parser.tab.hpp
src/server/include/messages.h
src/server/libnxsrv/*.bin
src/server/libnxsrv/messages.c
src/server/netxmsd/netxmsd
src/server/tools/nxaction/nxaction
src/server/tools/nxadm/nxadm
src/server/tools/nxdbmgr/nxdbmgr
src/server/tools/nxget/nxget
src/server/tools/nxupload/nxupload
src/snmp/nxmibc/Makefile
src/snmp/nxmibc/Makefile.in
src/snmp/nxmibc/lex.mp.c
src/snmp/nxmibc/parser.output
src/snmp/nxmibc/parser.tab.c
src/snmp/nxmibc/parser.tab.h
src/snmp/nxsnmpget/nxsnmpget
src/snmp/nxsnmpwalk/nxsnmpwalk
/stamp-h1
/status
www/.htpasswd.digest
www/GeoIP.dat
www/bugtrackUpload
www/data/archive
www/data/bugtrack
www/data/bugtrack/*
www/data/download/*.asc
www/data/download/*.exe
www/data/download/*.gz
www/data/download/*.md5
www/data/download/*.zip
www/data/download/agent_packages
www/data/download/preview
www/data/forum
www/data/google*.html
www/data/maintenance
www/data/webalizer
www/data/y_key_*.html
www/forumAttachDir
www/icons
www/logs
