* text=auto !eol
doc/internals.rtf -text
include/nms_agent.h -text
include/nms_common.h -text
sql/schema.sql -text
sql/setup.sql -text
src/server/core/NmsCore.dsp -text
src/server/core/NmsCore.dsw -text
src/server/core/config.cpp -text
src/server/core/core.rc -text
src/server/core/db.cpp -text
src/server/core/discovery.cpp -text
src/server/core/dload.cpp -text
src/server/core/hk.cpp -text
src/server/core/log.cpp -text
src/server/core/main.cpp -text
src/server/core/messages.mc -text
src/server/core/nms_core.h -text
src/server/core/nms_objects.h -text
src/server/core/objects.cpp -text
src/server/core/resource.h -text
src/server/core/syncer.cpp -text
src/server/core/tools.cpp -text
src/server/core/winsrv.cpp -text
src/server/dbdrv/mysql/mysql.cpp -text
src/server/dbdrv/mysql/mysql.dsp -text
src/server/dbdrv/mysql/mysql.dsw -text
src/server/dbdrv/mysql/mysqldrv.h -text
src/server/dbdrv/pgsql/pgsql.cpp -text
src/server/dbdrv/pgsql/pgsql.dsp -text
src/server/dbdrv/pgsql/pgsql.dsw -text
src/server/dbdrv/pgsql/pgsqldrv.h -text
src/server/include/dbdrv.h -text
src/server/include/nms_threads.h -text
tools/mc.pl -text
