* text=auto !eol
/.cvsignore -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/README.NetWare -text
/README.in -text
/THANKS -text
/TODO -text
/configure.ac -text
contrib/dct/generic_agent.dct -text
contrib/dct/generic_object.dct -text
contrib/logo.jpg -text
contrib/startup/redhat/netxmsd -text
doc/Makefile.am -text
doc/admin_guide.doc -text
doc/internals.rtf -text
doc/libnxcl-pg.doc -text
images/generic_printer.ico -text
images/generic_printer.png -text
images/interface.ico -text
images/interface.png -text
images/network.ico -text
images/network.png -text
images/node.ico -text
images/node.png -text
images/node_group.ico -text
images/node_group.png -text
images/service.ico -text
images/service.png -text
images/subnet.ico -text
images/subnet.png -text
images/template.ico -text
images/template.png -text
images/template_group.ico -text
images/template_group.png -text
images/template_root.ico -text
images/template_root.png -text
include/Makefile.am -text
include/getopt.h -text
include/netxms-version.h -text
include/netxmsdb.h -text
include/nms_agent.h -text
include/nms_common.h -text
include/nms_cscp.h -text
include/nms_threads.h -text
include/nms_util.h -text
include/nxclapi.h -text
include/nxcscpapi.h -text
include/nxevent.h -text
include/nximage.h -text
include/nxqueue.h -text
include/unicode.h -text
m4/Makefile.am -text
netware/Makefile.inc -text
netware/bin/.keep -text
/reconf -text
sql/.cvsignore -text
sql/Makefile.am -text
sql/Makefile.w32 -text
sql/dbinit.in -text
sql/drop.sh -text
sql/events.in -text
sql/images.in -text
sql/policy.in -text
sql/schema.in -text
sql/setup.in -text
src/Makefile.am -text
src/PPC_libs.vcw -text
src/README.libs -text
src/WIN32_libs.sln -text
src/agent/Makefile.am -text
src/agent/core/Makefile.am -text
src/agent/core/Makefile.nw -text
src/agent/core/actions.cpp -text
src/agent/core/comm.cpp -text
src/agent/core/exec.cpp -text
src/agent/core/getparam.cpp -text
src/agent/core/log.cpp -text
src/agent/core/messages.mc -text
src/agent/core/netinfo.cpp -text
src/agent/core/nxagentd.cpp -text
src/agent/core/nxagentd.def -text
src/agent/core/nxagentd.dsp -text
src/agent/core/nxagentd.dsw -text
src/agent/core/nxagentd.h -text
src/agent/core/nxagentd.rc -text
src/agent/core/procinfo.cpp -text
src/agent/core/resource.h -text
src/agent/core/service.cpp -text
src/agent/core/session.cpp -text
src/agent/core/subagent.cpp -text
src/agent/core/sysinfo.cpp -text
src/agent/core/tools.cpp -text
src/agent/core/win32.cpp -text
src/agent/subagents/Makefile.am -text
src/agent/subagents/linux/Makefile.am -text
src/agent/subagents/linux/linux.cpp -text
src/agent/subagents/netware/Makefile.nw -text
src/agent/subagents/netware/netware.cpp -text
src/agent/subagents/netware/netware.def -text
src/agent/subagents/skeleton/Makefile.am -text
src/agent/subagents/skeleton/Makefile.nw -text
src/agent/subagents/skeleton/skeleton.cpp -text
src/agent/subagents/skeleton/skeleton.dsp -text
src/agent/subagents/skeleton/skeleton.dsw -text
src/agent/subagents/winperf/tools.cpp -text
src/agent/subagents/winperf/winperf.cpp -text
src/agent/subagents/winperf/winperf.dsp -text
src/agent/subagents/winperf/winperf.dsw -text
src/agent/subagents/winperf/winperf.h -text
src/console/cmdline/cmdline.cpp -text
src/console/cmdline/main.cpp -text
src/console/cmdline/nxcmd.dsp -text
src/console/cmdline/nxcmd.dsw -text
src/console/cmdline/nxcmd.h -text
src/console/win32/ActionEditor.cpp -text
src/console/win32/ActionEditor.h -text
src/console/win32/ActionSelDlg.cpp -text
src/console/win32/ActionSelDlg.h -text
src/console/win32/AlarmBrowser.cpp -text
src/console/win32/AlarmBrowser.h -text
src/console/win32/ConsolePropsGeneral.cpp -text
src/console/win32/ConsolePropsGeneral.h -text
src/console/win32/ControlPanel.cpp -text
src/console/win32/ControlPanel.h -text
src/console/win32/CreateContainerDlg.cpp -text
src/console/win32/CreateContainerDlg.h -text
src/console/win32/CreateNodeDlg.cpp -text
src/console/win32/CreateNodeDlg.h -text
src/console/win32/CreateObjectDlg.cpp -text
src/console/win32/CreateObjectDlg.h -text
src/console/win32/CreateTGDlg.cpp -text
src/console/win32/CreateTGDlg.h -text
src/console/win32/CreateTemplateDlg.cpp -text
src/console/win32/CreateTemplateDlg.h -text
src/console/win32/DCIDataView.cpp -text
src/console/win32/DCIDataView.h -text
src/console/win32/DCIPropPage.cpp -text
src/console/win32/DCIPropPage.h -text
src/console/win32/DCIThresholdsPage.cpp -text
src/console/win32/DCIThresholdsPage.h -text
src/console/win32/DCITransformPage.cpp -text
src/console/win32/DCITransformPage.h -text
src/console/win32/DataCollectionEditor.cpp -text
src/console/win32/DataCollectionEditor.h -text
src/console/win32/DebugFrame.cpp -text
src/console/win32/DebugFrame.h -text
src/console/win32/EditActionDlg.cpp -text
src/console/win32/EditActionDlg.h -text
src/console/win32/EditBox.cpp -text
src/console/win32/EditBox.h -text
src/console/win32/EditEventDlg.cpp -text
src/console/win32/EditEventDlg.h -text
src/console/win32/EventBrowser.cpp -text
src/console/win32/EventBrowser.h -text
src/console/win32/EventEditor.cpp -text
src/console/win32/EventEditor.h -text
src/console/win32/EventPolicyEditor.cpp -text
src/console/win32/EventPolicyEditor.h -text
src/console/win32/EventSelDlg.cpp -text
src/console/win32/EventSelDlg.h -text
src/console/win32/Graph.cpp -text
src/console/win32/Graph.h -text
src/console/win32/GraphFrame.cpp -text
src/console/win32/GraphFrame.h -text
src/console/win32/GroupPropDlg.cpp -text
src/console/win32/GroupPropDlg.h -text
src/console/win32/LoginDialog.cpp -text
src/console/win32/LoginDialog.h -text
src/console/win32/MIBBrowserDlg.cpp -text
src/console/win32/MIBBrowserDlg.h -text
src/console/win32/MainFrm.cpp -text
src/console/win32/MainFrm.h -text
src/console/win32/MapFrame.cpp -text
src/console/win32/MapFrame.h -text
src/console/win32/MapView.cpp -text
src/console/win32/MapView.h -text
src/console/win32/NetSummaryFrame.cpp -text
src/console/win32/NetSummaryFrame.h -text
src/console/win32/NewActionDlg.cpp -text
src/console/win32/NewActionDlg.h -text
src/console/win32/NewUserDlg.cpp -text
src/console/win32/NewUserDlg.h -text
src/console/win32/NodePoller.cpp -text
src/console/win32/NodePoller.h -text
src/console/win32/NodePropsGeneral.cpp -text
src/console/win32/NodePropsGeneral.h -text
src/console/win32/NodeSummary.cpp -text
src/console/win32/NodeSummary.h -text
src/console/win32/ObjectBrowser.cpp -text
src/console/win32/ObjectBrowser.h -text
src/console/win32/ObjectInfoBox.cpp -text
src/console/win32/ObjectInfoBox.h -text
src/console/win32/ObjectPreview.cpp -text
src/console/win32/ObjectPreview.h -text
src/console/win32/ObjectPropCaps.cpp -text
src/console/win32/ObjectPropCaps.h -text
src/console/win32/ObjectPropSheet.cpp -text
src/console/win32/ObjectPropSheet.h -text
src/console/win32/ObjectPropsGeneral.cpp -text
src/console/win32/ObjectPropsGeneral.h -text
src/console/win32/ObjectPropsPresentation.cpp -text
src/console/win32/ObjectPropsPresentation.h -text
src/console/win32/ObjectPropsSecurity.cpp -text
src/console/win32/ObjectPropsSecurity.h -text
src/console/win32/ObjectSearchBox.cpp -text
src/console/win32/ObjectSearchBox.h -text
src/console/win32/ObjectSelDlg.cpp -text
src/console/win32/ObjectSelDlg.h -text
src/console/win32/PasswordChangeDlg.cpp -text
src/console/win32/PasswordChangeDlg.h -text
src/console/win32/RequestProcessingDlg.cpp -text
src/console/win32/RequestProcessingDlg.h -text
src/console/win32/RuleAlarmDlg.cpp -text
src/console/win32/RuleAlarmDlg.h -text
src/console/win32/RuleCommentDlg.cpp -text
src/console/win32/RuleCommentDlg.h -text
src/console/win32/RuleHeader.cpp -text
src/console/win32/RuleHeader.h -text
src/console/win32/RuleList.cpp -text
src/console/win32/RuleList.h -text
src/console/win32/RuleSeverityDlg.cpp -text
src/console/win32/RuleSeverityDlg.h -text
src/console/win32/StdAfx.cpp -text
src/console/win32/StdAfx.h -text
src/console/win32/ThresholdDlg.cpp -text
src/console/win32/ThresholdDlg.h -text
src/console/win32/ToolBox.cpp -text
src/console/win32/ToolBox.h -text
src/console/win32/UserEditor.cpp -text
src/console/win32/UserEditor.h -text
src/console/win32/UserPropDlg.cpp -text
src/console/win32/UserPropDlg.h -text
src/console/win32/UserSelectDlg.cpp -text
src/console/win32/UserSelectDlg.h -text
src/console/win32/comm.cpp -text
src/console/win32/draw.cpp -text
src/console/win32/globals.cpp -text
src/console/win32/globals.h -text
src/console/win32/icons/EARTH.ICO -text
src/console/win32/icons/RuleManager.ico -text
src/console/win32/icons/SeverityCritical.ico -text
src/console/win32/icons/SeverityMajor.ico -text
src/console/win32/icons/SeverityMinor.ico -text
src/console/win32/icons/SeverityNormal.ico -text
src/console/win32/icons/SeverityWarning.ico -text
src/console/win32/icons/ack.ico -text
src/console/win32/icons/active.ico -text
src/console/win32/icons/alarm.ico -text
src/console/win32/icons/connect.ico -text
src/console/win32/icons/datacoll.ico -text
src/console/win32/icons/dctemplate.ico -text
src/console/win32/icons/disabled.ico -text
src/console/win32/icons/e-mail.ico -text
src/console/win32/icons/exec.ico -text
src/console/win32/icons/graph.ico -text
src/console/win32/icons/log.ico -text
src/console/win32/icons/passwd.ico -text
src/console/win32/icons/question.ico -text
src/console/win32/icons/rexec.ico -text
src/console/win32/icons/setup.ico -text
src/console/win32/icons/sms.ico -text
src/console/win32/icons/sort_up.ico -text
src/console/win32/icons/sortdown.ico -text
src/console/win32/icons/tree.ico -text
src/console/win32/icons/unsupported.ico -text
src/console/win32/icons/user.ico -text
src/console/win32/icons/users.ico -text
src/console/win32/nxcon.clw -text
src/console/win32/nxcon.cpp -text
src/console/win32/nxcon.dsp -text
src/console/win32/nxcon.dsw -text
src/console/win32/nxcon.h -text
src/console/win32/nxcon.rc -text
src/console/win32/res/Toolbar.bmp -text
src/console/win32/res/any.bmp -text
src/console/win32/res/down_arrow.bmp -text
src/console/win32/res/login.bmp -text
src/console/win32/res/none.bmp -text
src/console/win32/res/nxcon.ico -text
src/console/win32/res/nxcon.rc2 -text
src/console/win32/res/up_arrow.bmp -text
src/console/win32/resource.h -text
src/console/win32/tools.cpp -text
src/console/win32starter/nxcstart.cpp -text
src/console/win32starter/nxcstart.dsp -text
src/console/win32starter/nxcstart.dsw -text
src/console/win32starter/nxcstart.rc -text
src/console/win32starter/resource.h -text
src/libnetxms/Makefile.am -text
src/libnetxms/Makefile.nw -text
src/libnetxms/c_lgcc3.cpp -text
src/libnetxms/config.cpp -text
src/libnetxms/dload.cpp -text
src/libnetxms/getopt.c -text
src/libnetxms/hash.cpp -text
src/libnetxms/icmp.cpp -text
src/libnetxms/inline.cpp -text
src/libnetxms/libnetxms.dsp -text
src/libnetxms/libnetxms.dsw -text
src/libnetxms/libnetxms.h -text
src/libnetxms/libnetxms.vcp -text
src/libnetxms/libnetxms.vcw -text
src/libnetxms/main.cpp -text
src/libnetxms/md5.cpp -text
src/libnetxms/md5.h -text
src/libnetxms/netxms.def -text
src/libnetxms/sha1.cpp -text
src/libnetxms/sha1.h -text
src/libnetxms/strtoll.c -text
src/libnetxms/strtoull.c -text
src/libnetxms/tools.cpp -text
src/libnetxms/unicode.cpp -text
src/libnxcl/Makefile.am -text
src/libnxcl/actions.cpp -text
src/libnxcl/alarms.cpp -text
src/libnxcl/comm.cpp -text
src/libnxcl/datacoll.cpp -text
src/libnxcl/epp.cpp -text
src/libnxcl/eventdb.cpp -text
src/libnxcl/events.cpp -text
src/libnxcl/image.cpp -text
src/libnxcl/libnxcl.dsp -text
src/libnxcl/libnxcl.dsw -text
src/libnxcl/libnxcl.h -text
src/libnxcl/libnxcl.vcp -text
src/libnxcl/libnxcl.vcw -text
src/libnxcl/main.cpp -text
src/libnxcl/mib.cpp -text
src/libnxcl/misc.cpp -text
src/libnxcl/objects.cpp -text
src/libnxcl/users.cpp -text
src/server/Makefile.am -text
src/server/core/.cvsignore -text
src/server/core/Makefile.am -text
src/server/core/acl.cpp -text
src/server/core/actions.cpp -text
src/server/core/admin.cpp -text
src/server/core/alarm.cpp -text
src/server/core/client.cpp -text
src/server/core/config.cpp -text
src/server/core/container.cpp -text
src/server/core/core.rc -text
src/server/core/datacoll.cpp -text
src/server/core/db.cpp -text
src/server/core/dbwrite.cpp -text
src/server/core/dcitem.cpp -text
src/server/core/dcithreshold.cpp -text
src/server/core/dcivalue.cpp -text
src/server/core/debug.cpp -text
src/server/core/discovery.cpp -text
src/server/core/email.cpp -text
src/server/core/entirenet.cpp -text
src/server/core/epp.cpp -text
src/server/core/events.cpp -text
src/server/core/evproc.cpp -text
src/server/core/hk.cpp -text
src/server/core/id.cpp -text
src/server/core/image.cpp -text
src/server/core/interface.cpp -text
src/server/core/locks.cpp -text
src/server/core/log.cpp -text
src/server/core/main.cpp -text
src/server/core/messages.mc -text
src/server/core/netinfo.cpp -text
src/server/core/netobj.cpp -text
src/server/core/netxmsd.dsp -text
src/server/core/netxmsd.dsw -text
src/server/core/nms_actions.h -text
src/server/core/nms_alarm.h -text
src/server/core/nms_core.h -text
src/server/core/nms_dcoll.h -text
src/server/core/nms_events.h -text
src/server/core/nms_locks.h -text
src/server/core/nms_objects.h -text
src/server/core/nms_users.h -text
src/server/core/node.cpp -text
src/server/core/np.cpp -text
src/server/core/objects.cpp -text
src/server/core/resource.h -text
src/server/core/rootobj.cpp -text
src/server/core/session.cpp -text
src/server/core/snmp.cpp -text
src/server/core/status.cpp -text
src/server/core/subnet.cpp -text
src/server/core/syncer.cpp -text
src/server/core/template.cpp -text
src/server/core/tools.cpp -text
src/server/core/uniroot.cpp -text
src/server/core/users.cpp -text
src/server/core/watchdog.cpp -text
src/server/core/winsrv.cpp -text
src/server/dbdrv/Makefile.am -text
src/server/dbdrv/mssql/mssql.cpp -text
src/server/dbdrv/mssql/mssql.dsp -text
src/server/dbdrv/mssql/mssql.dsw -text
src/server/dbdrv/mssql/mssqldrv.h -text
src/server/dbdrv/mysql/Makefile.am -text
src/server/dbdrv/mysql/mysql.cpp -text
src/server/dbdrv/mysql/mysql.dsp -text
src/server/dbdrv/mysql/mysql.dsw -text
src/server/dbdrv/mysql/mysqldrv.h -text
src/server/dbdrv/odbc/Makefile.am -text
src/server/dbdrv/odbc/odbc.cpp -text
src/server/dbdrv/odbc/odbc.dsp -text
src/server/dbdrv/odbc/odbc.dsw -text
src/server/dbdrv/odbc/odbcdrv.h -text
src/server/dbdrv/pgsql/Makefile.am -text
src/server/dbdrv/pgsql/pgsql.cpp -text
src/server/dbdrv/pgsql/pgsql.dsp -text
src/server/dbdrv/pgsql/pgsql.dsw -text
src/server/dbdrv/pgsql/pgsqldrv.h -text
src/server/include/dbdrv.h -text
src/server/include/local_admin.h -text
src/server/include/nxsrvapi.h -text
src/server/include/rwlock.h -text
src/server/libnxsrv/Makefile.am -text
src/server/libnxsrv/agent.cpp -text
src/server/libnxsrv/libnxsrv.dsp -text
src/server/libnxsrv/libnxsrv.dsw -text
src/server/libnxsrv/libnxsrv.h -text
src/server/libnxsrv/main.cpp -text
src/server/libnxsrv/rwlock.cpp -text
src/server/tools/Makefile.am -text
src/server/tools/nxaction/Makefile.am -text
src/server/tools/nxaction/nxaction.cpp -text
src/server/tools/nxaction/nxaction.dsp -text
src/server/tools/nxaction/nxaction.dsw -text
src/server/tools/nxadm/comm.cpp -text
src/server/tools/nxadm/nxadm.cpp -text
src/server/tools/nxadm/nxadm.dsp -text
src/server/tools/nxadm/nxadm.dsw -text
src/server/tools/nxadm/nxadm.h -text
src/server/tools/nxget/Makefile.am -text
src/server/tools/nxget/nxget.cpp -text
src/server/tools/nxget/nxget.dsp -text
src/server/tools/nxget/nxget.dsw -text
tools/mc.pl -text
tools/nwmkimp.pl -text
