/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/bin
/config.h
/config.h.in
/config.log
/config.status
/configure
/lib
/libtool
sql/dbinit_mssql.sql
sql/dbinit_mysql.sql
sql/dbinit_oracle.sql
sql/dbinit_pgsql.sql
sql/dbinit_sqlite.sql
src/agent/core/messages.c
src/agent/core/messages.h
src/agent/core/nxagentd
src/agent/core/static_subagents.cpp
src/nxmibc/Makefile
src/nxmibc/Makefile.in
src/nxmibc/lex.mp.c
src/nxmibc/parser.output
src/nxmibc/parser.tab.c
src/nxmibc/parser.tab.h
src/server/core/netxmsd
src/server/include/messages.h
src/server/libnxsrv/*.bin
src/server/libnxsrv/messages.c
src/server/netxmsd/netxmsd
src/server/tools/nxaction/nxaction
src/server/tools/nxadm/nxadm
src/server/tools/nxdbmgr/nxdbmgr
src/server/tools/nxget/nxget
src/server/tools/nxsnmpget/nxsnmpget
src/server/tools/nxsnmpwalk/nxsnmpwalk
src/server/tools/nxupload/nxupload
/stamp-h1
/status
www/.htpasswd.digest
www/GeoIP.dat
www/bugtrackUpload
www/data/archive
www/data/bugtrack
www/data/bugtrack/*
www/data/download/*.asc
www/data/download/*.exe
www/data/download/*.gz
www/data/download/*.md5
www/data/download/*.zip
www/data/download/agent_packages
www/data/download/preview
www/data/forum
www/data/google*.html
www/data/maintenance
www/data/webalizer
www/data/y_key_*.html
www/forumAttachDir
www/icons
www/logs
