* text=auto !eol
contrib/dct/generic_agent.dct -text
contrib/dct/generic_object.dct -text
doc/internals.rtf -text
include/nms_agent.h -text
include/nms_common.h -text
include/nms_cscp.h -text
include/nms_threads.h -text
include/nms_util.h -text
include/nxclapi.h -text
sql/clear.sql -text
sql/events.sql -text
sql/schema.sql -text
sql/setup.sql -text
src/libnxcl/libnxcl.dsp -text
src/libnxcl/libnxcl.dsw -text
src/libnxcl/libnxcl.h -text
src/libnxcl/main.cpp -text
src/server/core/NmsCore.dsp -text
src/server/core/NmsCore.dsw -text
src/server/core/acl.cpp -text
src/server/core/admin.cpp -text
src/server/core/agent.cpp -text
src/server/core/client.cpp -text
src/server/core/config.cpp -text
src/server/core/core.rc -text
src/server/core/datacoll.cpp -text
src/server/core/db.cpp -text
src/server/core/dbwrite.cpp -text
src/server/core/debug.cpp -text
src/server/core/discovery.cpp -text
src/server/core/dload.cpp -text
src/server/core/entirenet.cpp -text
src/server/core/events.cpp -text
src/server/core/evproc.cpp -text
src/server/core/hk.cpp -text
src/server/core/interface.cpp -text
src/server/core/log.cpp -text
src/server/core/main.cpp -text
src/server/core/messages.mc -text
src/server/core/netobj.cpp -text
src/server/core/nms_core.h -text
src/server/core/nms_dcoll.h -text
src/server/core/nms_events.h -text
src/server/core/nms_objects.h -text
src/server/core/nms_users.h -text
src/server/core/node.cpp -text
src/server/core/np.cpp -text
src/server/core/objects.cpp -text
src/server/core/queue.cpp -text
src/server/core/resource.h -text
src/server/core/snmp.cpp -text
src/server/core/status.cpp -text
src/server/core/subnet.cpp -text
src/server/core/syncer.cpp -text
src/server/core/tools.cpp -text
src/server/core/users.cpp -text
src/server/core/watchdog.cpp -text
src/server/core/winsrv.cpp -text
src/server/dbdrv/mysql/mysql.cpp -text
src/server/dbdrv/mysql/mysql.dsp -text
src/server/dbdrv/mysql/mysql.dsw -text
src/server/dbdrv/mysql/mysqldrv.h -text
src/server/dbdrv/pgsql/pgsql.cpp -text
src/server/dbdrv/pgsql/pgsql.dsp -text
src/server/dbdrv/pgsql/pgsql.dsw -text
src/server/dbdrv/pgsql/pgsqldrv.h -text
src/server/include/dbdrv.h -text
src/server/include/local_admin.h -text
src/server/tools/nxadm/comm.cpp -text
src/server/tools/nxadm/nxadm.cpp -text
src/server/tools/nxadm/nxadm.dsp -text
src/server/tools/nxadm/nxadm.dsw -text
src/server/tools/nxadm/nxadm.h -text
tools/mc.pl -text
