<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name.EPP"
            icon="icons/epp.png"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.epp.views.EventProcessingPolicyEditor"
            id="org.netxms.ui.eclipse.epp.view.policy_editor">
      </view>
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.epp.views.SituationsManager"
            icon="icons/situation.gif"
            id="org.netxms.ui.eclipse.epp.views.SituationsManager"
            name="%view.name.Situations"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%command.name.OpenEPP"
            description="%command.description.OpenEPP"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.epp.commands.open_policy_editor">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%command.description.OpenSituations"
            id="org.netxms.ui.eclipse.epp.commands.open_situations_manager"
            name="%command.name.OpenSituations">
      </command>
   </extension>

   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.action_set.event_processing_policy"
	   	   label="%actionSet.label.EPP"
		   visible="true">
		   <action id="org.netxms.ui.eclipse.epp.actions.open_policy_editor"
			   menubarPath="config/additions"
			   label="%action.label.EPP"
			   tooltip="%action.tooltip.EPP"
			   icon="icons/epp.png"
			   class="org.netxms.ui.eclipse.epp.actions.OpenPolicyEditor"
			   definitionId="org.netxms.ui.eclipse.epp.commands.open_policy_editor">
		   </action>
	   </actionSet>
    <actionSet
          id="org.netxms.ui.eclipse.action_set.situations_manager"
          label="%actionSet.label.Situations"
          visible="true">
       <action
             class="org.netxms.ui.eclipse.epp.actions.OpenSituationsManager"
             definitionId="org.netxms.ui.eclipse.epp.commands.open_situations_manager"
             icon="icons/situation.gif"
             id="org.netxms.ui.eclipse.epp.actions.open_situations_manager"
             label="%action.label.Situations"
             menubarPath="config/additions"
             tooltip="%action.tooltip.Situations">
       </action>
    </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.epp.commands.open_policy_editor"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="F4">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.netxms.ui.eclipse.epp.propertypages.RuleCondition#0"
            class="org.netxms.ui.eclipse.epp.propertypages.RuleEvents"
            id="org.netxms.ui.eclipse.epp.propertypages.RuleEvents#10"
            name="%page.name.Events">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.epp.widgets.RuleEditor">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            category="org.netxms.ui.eclipse.epp.propertypages.RuleCondition#0"
            class="org.netxms.ui.eclipse.epp.propertypages.RuleSourceObjects"
            id="org.netxms.ui.eclipse.epp.propertypages.RuleSourceObjects#0"
            name="%page.name.Sources">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.epp.widgets.RuleEditor">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            category="org.netxms.ui.eclipse.epp.propertypages.RuleCondition#0"
            class="org.netxms.ui.eclipse.epp.propertypages.RuleSeverityFilter"
            id="org.netxms.ui.eclipse.epp.propertypages.RuleSeverityFilter#20"
            name="%page.name.Severity">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.epp.widgets.RuleEditor">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            category="org.netxms.ui.eclipse.epp.propertypages.RuleCondition#0"
            class="org.netxms.ui.eclipse.epp.propertypages.RuleFilterScript"
            id="org.netxms.ui.eclipse.epp.propertypages.RuleFilterScript#30"
            name="%page.name.Script">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.epp.widgets.RuleEditor">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            category="org.netxms.ui.eclipse.epp.propertypages.RuleAction#1"
            class="org.netxms.ui.eclipse.epp.propertypages.RuleServerActions"
            id="org.netxms.ui.eclipse.epp.propertypages.RuleServerActions#30"
            name="%page.name.ServerActions">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.epp.widgets.RuleEditor">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.epp.propertypages.RuleCondition"
            id="org.netxms.ui.eclipse.epp.propertypages.RuleCondition#0"
            name="%page.name.Condition">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.epp.widgets.RuleEditor">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.epp.propertypages.RuleAction"
            id="org.netxms.ui.eclipse.epp.propertypages.RuleAction#1"
            name="%page.name.Action">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.epp.widgets.RuleEditor">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            category="org.netxms.ui.eclipse.epp.propertypages.RuleAction#1"
            class="org.netxms.ui.eclipse.epp.propertypages.RuleAlarm"
            id="org.netxms.ui.eclipse.epp.propertypages.RuleAlarm#10"
            name="%page.name.Alarm">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.epp.widgets.RuleEditor">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.epp.propertypages.RuleComments"
            id="org.netxms.ui.eclipse.epp.propertypages.RuleComments#2"
            name="%page.name.Comments">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.epp.widgets.RuleEditor">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            category="org.netxms.ui.eclipse.epp.propertypages.RuleAction#1"
            class="org.netxms.ui.eclipse.epp.propertypages.RuleSituation"
            id="org.netxms.ui.eclipse.epp.propertypages.RuleSituation#20"
            name="%page.name.Situation">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.epp.widgets.RuleEditor">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.loginlisteners">
      <loginlistener
            class="org.netxms.ui.eclipse.epp.LoginListener">
      </loginlistener>
   </extension>
</plugin>
