<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Config"
            id="org.netxms.ui.eclipse.config">
      </category>
      <view
            name="User Manager"
            icon="icons/user_manager.png"
            category="org.netxms.ui.eclipse.config"
            class="org.netxms.ui.eclipse.usermanager.views.UserManagementView"
            id="org.netxms.ui.eclipse.usermanager.view.user_manager">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Views"
            id="org.netxms.ui.eclipse.console.category.views">
      </category>
      <command
            name="User Manager"
            description="Open user manager"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.usermanager.commands.open_user_manager">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Tools"
            id="org.netxms.ui.eclipse.console.category.tools">
      </category>
      <command
            name="Change password..."
            description="Change password for current user"
            categoryId="org.netxms.ui.eclipse.console.category.tools"
            id="org.netxms.ui.eclipse.usermanager.commands.change_password">
      </command>
   </extension>

   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.usermanager.action_sets.open"
		   label="User Manager"
		   visible="true">
		   <action id="org.netxms.ui.eclipse.usermanager.actions.open"
			   menubarPath="config/additions"
			   toolbarPath="config/additions"
			   label="User Manager"
			   tooltip="Open user manager"
			   icon="icons/user_manager.png"
			   class="org.netxms.ui.eclipse.usermanager.actions.OpenUserManager"
			   definitionId="org.netxms.ui.eclipse.usermanager.commands.open_user_manager">
		   </action>
	   </actionSet>
	   <actionSet id="org.netxms.ui.eclipse.usermanager.action_sets.change_password"
		   label="Change password..."
		   visible="true">
		   <action id="org.netxms.ui.eclipse.usermanager.actions.change_password"
			   menubarPath="tools/additions"
			   label="Change password..."
			   tooltip="Change password for current user"
			   class="org.netxms.ui.eclipse.usermanager.actions.ChangePassword"
			   definitionId="org.netxms.ui.eclipse.usermanager.commands.change_password">
		   </action>
	   </actionSet>
   </extension>

  <extension
     point = "org.eclipse.ui.propertyPages">
        <page
           id="org.netxms.ui.eclipse.usermanager.propertypages.General"
           name="General"
	       class="org.netxms.ui.eclipse.usermanager.propertypages.General">
          <enabledWhen>
             <instanceof
                  value="org.netxms.api.client.users.AbstractUserObject">
             </instanceof>
          </enabledWhen>
        </page>
        <page
           id="org.netxms.ui.eclipse.usermanager.propertypages.Authentication"
           name="Authentication"
	       class="org.netxms.ui.eclipse.usermanager.propertypages.Authentication">
          <enabledWhen>
             <instanceof
                  value="org.netxms.api.client.users.User">
             </instanceof>
          </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.usermanager.propertypages.Members"
              id="org.netxms.ui.eclipse.usermanager.propertypages.Memebres"
              name="Members">
           <enabledWhen>
              <instanceof
                    value="org.netxms.api.client.users.UserGroup">
              </instanceof>
           </enabledWhen>
        </page>
  </extension>

  <extension
     point="org.eclipse.core.runtime.adapters">
        <factory 
           class="org.netxms.ui.eclipse.usermanager.UserAdapterFactory" 
           adaptableType="org.netxms.api.client.users.AbstractUserObject">
          <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
        </factory>
        <factory 
           class="org.netxms.ui.eclipse.usermanager.UserAdapterFactory" 
           adaptableType="org.netxms.client.AccessListElement">
          <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
        </factory>
  </extension>
</plugin>
