<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.netxms.ui.eclipse.loginlisteners" name="NXMC Login Listeners" schema="schema/org.netxms.ui.eclipse.loginlisteners.exsd"/>

   <extension
         id="nxmc"
         name="NetXMS Management Console"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="org.netxms.webui.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.netxms.ui.eclipse.console.perspectives.DefaultPerspective"
            id="org.netxms.ui.eclipse.console.DefaultPerspective"
            name="%perspective.default">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.netxms.ui.eclipse.viewcategory.config"
            name="%category.config">
      </category>
      <category
            id="org.netxms.ui.eclipse.viewcategory.tools"
            name="%category.tools">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/pview.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="%view.progress"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            id="org.netxms.webui.core.branding"
            servletName="nxmc">
      </branding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.ToggleTraceFilter"
            id="org.netxms.ui.eclipse.library.commands.show_trace_filter"
            name="%command.ToggleTraceFilter">
      </command>
      <command
            description="%command.PauseTrace"
            id="org.netxms.ui.eclipse.library.commands.pause_trace"
            name="%command.PauseTrace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.library.commands.show_trace_filter"
            contextId="org.netxms.ui.eclipse.library.context.AbstractTraceView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+F2">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.library.commands.pause_trace"
            contextId="org.netxms.ui.eclipse.library.context.AbstractTraceView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="PAUSE">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.netxms.ui.eclipse.library.context.AbstractTraceView"
            name="Abstract Trace View"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

  <extension
      point="org.eclipse.equinox.http.registry.servlets">
    <servlet
         alias="/"
         class="org.netxms.webui.core.RedirectServlet">
    </servlet>
  </extension>
</plugin>
