<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.netxms.ui.eclipse.loginlisteners" name="NXMC Login Listeners" schema="schema/org.netxms.ui.eclipse.loginlisteners.exsd"/>

   <extension
         id="helloapp"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="org.netxms.webui.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="org.netxms.webui.core.Perspective"
            id="org.netxms.webui.core.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.netxms.ui.eclipse.viewcategory.config"
            name="%category.config">
      </category>
      <category
            id="org.netxms.ui.eclipse.viewcategory.tools"
            name="%category.tools">
      </category>
   </extension>
</plugin>
