<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.netxms.ui.eclipse.loginlisteners" name="NXMC Login Listeners" schema="schema/org.netxms.ui.eclipse.loginlisteners.exsd"/>
   <extension-point id="org.netxms.ui.eclipse.branding" name="NetXMS Console Branding" schema="schema/org.netxms.ui.eclipse.branding.exsd"/>
   <extension-point id="org.netxms.ui.eclipse.sessionproviders" name="Session Providers" schema="schema/org.netxms.ui.eclipse.sessionproviders.exsd"/>
   <extension-point id="org.netxms.ui.eclipse.colorproviders" name="Color Providers" schema="schema/org.netxms.ui.eclipse.colorproviders.exsd"/>
   <extension
         id="nxmc"
         name="NetXMS Management Console"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="org.netxms.ui.eclipse.console.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.default"
            class="org.netxms.ui.eclipse.console.perspectives.DefaultPerspective"
            id="org.netxms.ui.eclipse.console.DefaultPerspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/pview.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="%view.progress"
            restorable="true">
      </view>
      <category
            id="org.netxms.ui.eclipse.viewcategory.config"
            name="%category.config">
      </category>
      <category
            id="org.netxms.ui.eclipse.viewcategory.tools"
            name="%category.tools">
      </category>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
     <page name="%page.workbench"
           class="org.netxms.ui.eclipse.console.preferencepages.WorkbenchGeneralPrefs"
           id="org.eclipse.ui.preferencePages.Workbench">
     </page>
      <page category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:perspectivesPreferencePage"
            id="org.eclipse.ui.preferencePages.Perspectives"
            name="%page.perspectives">
     </page>
     <page
            name="%page.decorators"
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:decoratorsPreferencePage"
            id="org.eclipse.ui.preferencePages.Decorators">
     </page>
     <page
           class="org.netxms.ui.eclipse.console.preferencepages.RegionalSettingsPrefPage"
           id="org.netxms.ui.eclipse.preferencePages.RegionalSettings"
           name="%page.regionalSettings">
     </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%actionDescription.SendSMS"
            id="org.netxms.ui.eclipse.console.commands.send_sms"
            name="%action.SendSMS">
      </command>
      <command
            description="%command.ToggleTraceFilter"
            id="org.netxms.ui.eclipse.library.commands.show_trace_filter"
            name="%command.ToggleTraceFilter">
      </command>
      <command
            description="%command.PauseTrace"
            id="org.netxms.ui.eclipse.library.commands.pause_trace"
            name="%command.PauseTrace">
      </command>
      <command
            description="%command.description.Copy"
            id="org.netxms.ui.eclipse.library.commands.copy"
            name="%command.name.Copy">
      </command>
      <command
            description="%command.description.Refresh"
            id="org.netxms.ui.eclipse.library.commands.refresh"
            name="%command.name.Refresh">
      </command>
      <command
            description="%command.description.ExportCSV"
            id="org.netxms.ui.eclipse.library.commands.export_to_csv_selection"
            name="%command.name.ExportCSV">
      </command>
      <command
            description="%command.description.ExportAllCSV"
            id="org.netxms.ui.eclipse.library.commands.export_to_csv_all"
            name="%command.name.ExportAllCSV">
      </command>
      <category
            id="org.netxms.ui.eclipse.console.category.views"
            name="%category.name.Views">
      </category>
      <category
            id="org.netxms.ui.eclipse.console.category.tools"
            name="%category.name.Tools">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.console.action_set"
            label="%actionSet.core"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.console.actions.SendSMS"
               definitionId="org.netxms.ui.eclipse.console.commands.send_sms"
               id="org.netxms.ui.eclipse.console.actions.send_sms"
               label="%action.SendSMS"
               menubarPath="tools/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.console.commands.send_sms"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+M3+S">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.library.commands.show_trace_filter"
            contextId="org.netxms.ui.eclipse.library.context.AbstractTraceView"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+F2">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.library.commands.pause_trace"
            contextId="org.netxms.ui.eclipse.library.context.AbstractTraceView"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="PAUSE">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.library.commands.copy"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+C">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.library.commands.refresh"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="F5">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.library.commands.export_to_csv_selection"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+M3+X">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.library.commands.export_to_csv_all"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+M3+A">
      </key>
      <scheme
            description="%scheme.description"
            id="org.netxms.ui.eclipse.defaultKeyBinding"
            name="%scheme.name">
      </scheme>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.netxms.ui.eclipse.library.context.AbstractTraceView"
            name="Abstract Trace View"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            favicon="icons/favicon.png"
            id="org.netxms.webui.design.branding.classic"
            themeId="org.netxms.webui.design.theme.classic"
            title="NetXMS Management Console">
      </branding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            file="theme/classic.css"
            id="org.netxms.webui.design.theme.classic"
            name="Classic Theme">
      </theme>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            applicationId="org.netxms.webui.core.nxmc"
            brandingId="org.netxms.webui.design.branding.classic"
            id="org.netxms.webui.entrypoint"
            path="/nxmc">
      </entrypoint>
   </extension>
   <extension
      point="org.eclipse.equinox.http.registry.servlets">
    <servlet
         alias="/"
         class="org.netxms.ui.eclipse.console.RedirectServlet">
    </servlet>
  </extension>
   <extension
         point="org.eclipse.rap.ui.serviceHandler">
      <serviceHandler
            class="org.netxms.ui.eclipse.console.DownloadServiceHandler"
            id="downloadServiceHandler">
      </serviceHandler>
   </extension>
   <extension
         id="product"
         name="NetXMS Management Console"
         point="org.eclipse.core.runtime.products">
      <product
            application="nxmc"
            name="NetXMS Management Console">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>   
</plugin>
