<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.imagelibrary.views.ImageLibrary"
            icon="icons/imglib.png"
            id="org.netxms.ui.eclipse.imagelibrary.view.imagelibrary"
            name="%view.name.ImageLib"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.action_set.image_library"
            label="%actionSet.label.ImageLib"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.imagelibrary.actions.OpenLibraryManager"
               definitionId="org.netxms.ui.eclipse.imagelibrary.commands.open_library_manager"
               icon="icons/imglib.png"
               id="org.netxms.ui.eclipse.imagelibrary.actions.open"
               label="%action.label.ImageLib"
               menubarPath="config/additions"
               style="push"
               toolbarPath="config/additions"
               tooltip="%action.tooltip.ImageLib">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description.ImageLib"
            id="org.netxms.ui.eclipse.imagelibrary.commands.open_library_manager"
            name="%command.name.ImageLib">
      </command>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.loginlisteners">
      <loginlistener
            class="org.netxms.ui.eclipse.imagelibrary.LoginListener">
      </loginlistener>
   </extension>
</plugin>
