<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.nxsl.views.ScriptLibrary"
            icon="icons/library.png"
            id="org.netxms.ui.eclipse.nxsl.views.ScriptLibrary"
            name="%view.name.ScriptLibrary"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.nxsl.views.ScriptEditorView"
            icon="icons/editor.png"
            id="org.netxms.ui.eclipse.nxsl.views.ScriptEditorView"
            name="%view.name.EditScript"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%command.description.ScriptLibrary"
            id="org.netxms.ui.eclipse.nxsl.commands.open_script_library"
            name="%command.name.ScriptLibrary">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.action_set.script_library"
            label="%actionSet.label.ScriptLibrary"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.nxsl.actions.OpenScriptLibrary"
               definitionId="org.netxms.ui.eclipse.nxsl.commands.open_script_library"
               icon="icons/library.png"
               id="org.netxms.ui.eclipse.nxsl.actions.OpenScriptLibrary"
               label="%action.label.ScriptLibrary"
               menubarPath="config/additions"
               style="push"
               toolbarPath="config/additions"
               tooltip="%action.tooltip.ScriptLibrary">
         </action>
      </actionSet>
   </extension>

</plugin>
