<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name.ServerConfig"
            icon="icons/server_config.png"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.serverconfig.views.ServerConfigurationEditor"
            id="org.netxms.ui.eclipse.serverconfig.view.server_config">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.serverconfig.views.NetworkDiscoveryConfigurator"
            icon="icons/network_discovery.gif"
            id="org.netxms.ui.eclipse.serverconfig.views.NetworkDiscoveryConfigurator"
            name="%view.name.NetworkDiscovery"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.serverconfig.views.SyslogParserConfigurator"
            icon="icons/syslog_cfg.gif"
            id="org.netxms.ui.eclipse.serverconfig.views.SyslogParserConfigurator"
            name="%view.name.SyslogParser"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.serverconfig.views.ExportFileBuilder"
            icon="icons/export.gif"
            id="org.netxms.ui.eclipse.serverconfig.views.ExportFileBuilder"
            name="%view.name.ExportConfig"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.serverconfig.views.MappingTables"
            icon="icons/mapping_table.png"
            id="org.netxms.ui.eclipse.serverconfig.views.MappingTables"
            name="%view.name.MappingTables"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.serverconfig.views.MappingTableEditor"
            icon="icons/mapping_table_edit.png"
            id="org.netxms.ui.eclipse.serverconfig.views.MappingTableEditor"
            name="%view.name.MappingTable"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.serverconfig.views.ScheduledTaskView"
            icon="icons/clock.png"
            id="org.netxms.ui.eclipse.serverconfig.views.ScheduledTaskView"
            name="%view.name.ScheduledTasks">
      </view>
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.serverconfig.views.PersistentStorageView"
            icon="icons/pstorage.png"
            id="org.netxms.ui.eclipse.serverconfig.views.PersistentStorageView"
            name="Persistent Storage">
      </view>
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.serverconfig.views.NotificationChannels"
            icon="icons/nchannels.png"
            id="org.netxms.ui.eclipse.serverconfig.views.NotificationChannels"
            name="Notification Channels"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.serverconfig.views.WindowsEventParserConfigurator"
            icon="icons/syslog_cfg.gif"
            id="org.netxms.ui.eclipse.serverconfig.views.WindowsEventParserConfigurator"
            name="Windows Event Parser"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.serverconfig.views.SshKeyConfigurator"
            id="org.netxms.ui.eclipse.serverconfig.views.SshKeyConfigurator"
            name="SSH Key Configuration"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%command.name.ExportConfig"
            description="%command.description.ExportConfig"
            categoryId="org.netxms.ui.eclipse.console.category.tools"
            id="org.netxms.ui.eclipse.serverconfig.commands.export_configuration">
      </command>
      <command
            name="%command.name.ImportConfig"
            description="%command.description.ImportConfig"
            categoryId="org.netxms.ui.eclipse.console.category.tools"
            id="org.netxms.ui.eclipse.serverconfig.commands.import_configuration">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%command.description.ServerConfig"
            id="org.netxms.ui.eclipse.serverconfig.commands.open_server_config"
            name="%command.name.ServerConfig">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%command.description.NetworkDiscovery"
            id="org.netxms.ui.eclipse.serverconfig.commands.open_netdisco_config"
            name="%command.name.NetworkDiscovery">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%command.description.SyslogParser"
            id="org.netxms.ui.eclipse.serverconfig.commands.open_syslog_config"
            name="%command.name.SyslogParser">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%command.description.MappingTables"
            id="org.netxms.ui.eclipse.serverconfig.commands.open_mapping_tables"
            name="%command.name.MappingTables">
      </command>
      <command
            id="org.netxms.ui.eclipse.serverconfig.commands.add_new_row"
            name="%command.name.NewRow">
      </command>
      <command
            id="org.netxms.ui.eclipse.serverconfig.commands.delete_rows"
            name="%command.name.DeleteRows">
      </command>
      <command
            id="org.netxms.ui.eclipse.serverconfig.commands.save_exported_config"
            name="Save exported config">
      </command>
      <command
            id="org.netxms.ui.eclipse.serverconfig.commands.show_filter"
            name="Show filter">
      </command>
      <command
            id="org.netxms.ui.eclipse.serverconfig.commands.add_config_variable"
            name="Add configuration variable">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="Open scheduled task list"
            id="org.netxms.ui.eclipse.serverconfig.commands.open_scheduled_tasks"
            name="Scheduled tasks">
      </command>
      <command
            id="org.netxms.ui.eclipse.serverconfig.commands.publish_config"
            name="Publish configuration">
      </command>
      <command
            id="org.netxms.ui.eclipse.serverconfig.commands.new_task"
            name="New scheduled task">
      </command>
      <command
            id="org.netxms.ui.eclipse.serverconfig.commands.edit_task"
            name="Edit scheduled task">
      </command>
      <command
            id="org.netxms.ui.eclipse.serverconfig.commands.reschedule_task"
            name="Reschedule task">
      </command>
      <command
            id="org.netxms.ui.eclipse.serverconfig.commands.enable_task"
            name="Enable task">
      </command>
      <command
            id="org.netxms.ui.eclipse.serverconfig.commands.disable_task"
            name="Disable task">
      </command>
      <command
            id="org.netxms.ui.eclipse.serverconfig.commands.open_persistent_storage"
            name="Persistent storage">
      </command>
      <command
            id="org.netxms.ui.eclipse.serverconfig.commands.open_notification_channels"
            name="Notification channels">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="Open Windows event parser"
            id="org.netxms.ui.eclipse.serverconfig.commands.open_windows_event"
            name="Open Windows event parser">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="Copy SSH key"
            id="org.netxms.ui.eclipse.serverconfig.commands.copy_key_task"
            name="Copy SSH key">
      </command>
   </extension>

   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.action_set.server_configuration"
		   label="%actionSet.label.ServerConfig"
		   visible="true">
		   <action id="org.netxms.ui.eclipse.serverconfig.actions.open"
			   menubarPath="config/additions"
			   toolbarPath="config/additions"
			   label="%action.label.ServerConfig"
			   tooltip="%action.tooltip.ServerConfig"
			   icon="icons/server_config.png"
			   class="org.netxms.ui.eclipse.serverconfig.actions.OpenServerConfig"
			   definitionId="org.netxms.ui.eclipse.serverconfig.commands.open_server_config">
		   </action>
     <action
           class="org.netxms.ui.eclipse.serverconfig.actions.OpenNetworkDiscoveryConfig"
           definitionId="org.netxms.ui.eclipse.serverconfig.commands.open_netdisco_config"
           icon="icons/network_discovery.gif"
           id="org.netxms.ui.eclipse.serverconfig.actions.open_netdisco_config"
           label="%action.label.NetworkDiscovery"
           menubarPath="config/additions"
           toolbarPath="config/additions"
           tooltip="%action.tooltip.NetworkDiscovery">
     </action>
     <action
           class="org.netxms.ui.eclipse.serverconfig.actions.OpenSyslogParserConfig"
           definitionId="org.netxms.ui.eclipse.serverconfig.commands.open_syslog_config"
           icon="icons/syslog_cfg.gif"
           id="org.netxms.ui.eclipse.serverconfig.actions.open_syslog_config"
           label="%action.label.SyslogParser"
           menubarPath="config/additions"
           toolbarPath="config/additions"
           tooltip="%action.tooltip.SyslogParser">
     </action>
     <action
           class="org.netxms.ui.eclipse.serverconfig.actions.OpenMappingTables"
           definitionId="org.netxms.ui.eclipse.serverconfig.commands.open_mapping_tables"
           icon="icons/mapping_table.png"
           id="org.netxms.ui.eclipse.serverconfig.actions.open_mapping_tables"
           label="%action.label.MappingTables"
           menubarPath="config/additions"
           style="push"
           toolbarPath="config/additions"
           tooltip="%action.tooltip.MappingTables">
     </action>
     <action
           class="org.netxms.ui.eclipse.serverconfig.actions.OpenScheduledTaskList"
           definitionId="org.netxms.ui.eclipse.serverconfig.commands.open_scheduled_tasks"
           icon="icons/clock.png"
           id="org.netxms.ui.eclipse.serverconfig.actions.open_scheduled_tasks"
           label="%action.label.ScheduledTasks"
           menubarPath="config/additions"
           style="push"
           toolbarPath="config/additions"
           tooltip="%action.tooltip.ScheduledTasks">
     </action>
     <action
           class="org.netxms.ui.eclipse.serverconfig.actions.OpenPersistentStorage"
           definitionId="org.netxms.ui.eclipse.serverconfig.commands.open_persistent_storage"
           icon="icons/pstorage.png"
           id="org.netxms.ui.eclipse.serverconfig.actions.open_persistent_storage"
           label="Persistent storage"
           menubarPath="config/additions"
           style="push"
           tooltip="Persistent storage">
     </action>
     <action
           class="org.netxms.ui.eclipse.serverconfig.actions.OpenNotificationChannelList"
           definitionId="org.netxms.ui.eclipse.serverconfig.commands.open_notification_channels"
           icon="icons/nchannels.png"
           id="org.netxms.ui.eclipse.serverconfig.actions.open_notification_channels"
           label="Notification channels"
           menubarPath="config/additions"
           style="push"
           tooltip="Persistent storage">
     </action>
     <action
           allowLabelUpdate="true"
           class="org.netxms.ui.eclipse.serverconfig.actions.OpenWindowsEventParserConfig"
           definitionId="org.netxms.ui.eclipse.serverconfig.commands.open_windows_event"
           icon="icons/syslog_cfg.gif"
           id="org.netxms.ui.eclipse.serverconfig.actions.open_windows_event_config"
           label="Windows event parser"
           menubarPath="config/additions"
           tooltip="Windows event parser">
     </action>
     <action
           class="org.netxms.ui.eclipse.serverconfig.actions.OpenSshKeyConfiguration"
           definitionId="org.netxms.ui.eclipse.serverconfig.commands.open_ssh_configuration"
           id="org.netxms.ui.eclipse.serverconfig.actions.open_ssh_key_configuration"
           label="SSH Key Configuration"
           menubarPath="config/additions"
           style="push"
           tooltip="SSH Key Configuration">
     </action>
	   </actionSet>
	   <actionSet id="org.netxms.ui.eclipse.action_set.export_import_configuration"
		   label="%actionSet.label.ExportImport"
		   visible="true">
		   <action
           class="org.netxms.ui.eclipse.serverconfig.actions.ExportConfiguration"
           definitionId="org.netxms.ui.eclipse.serverconfig.commands.export_configuration"
           icon="icons/export.gif"
           id="org.netxms.ui.eclipse.serverconfig.actions.export_configuration"
           label="%action.label.ExportConfig"
           menubarPath="tools/additions"
           tooltip="%action.tooltip.ExportConfig">
		   </action>
     <action
           class="org.netxms.ui.eclipse.serverconfig.actions.ImportConfiguration"
           definitionId="org.netxms.ui.eclipse.serverconfig.commands.import_configuration"
           icon="icons/import.gif"
           id="org.netxms.ui.eclipse.serverconfig.actions.import_configuration"
           label="%action.label.ImportConfig"
           menubarPath="tools/additions"
           tooltip="%action.tooltip.ImportConfig">
     </action>
	   </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.netxms.ui.eclipse.serverconfig.context.MappingTableEditor"
            name="Mapping Table Editor"
            parentId="org.eclipse.ui.contexts.window">
      </context>
      <context
            id="org.netxms.ui.eclipse.serverconfig.context.ExportFileBuilder"
            name="Export File Builder"
            parentId="org.eclipse.ui.contexts.window">
      </context>
      <context
            id="org.netxms.ui.eclipse.serverconfig.context.ServerConfigurationEditor"
            name="Server Configuration Editor"
            parentId="org.eclipse.ui.contexts.window">
      </context>
      <context
            id="org.netxms.ui.eclipse.serverconfig.context.ScheduledTaskView"
            name="Scheduled Tasks"
            parentId="org.eclipse.ui.contexts.window">
      </context>
      <context
            id="org.netxms.ui.eclipse.serverconfig.context.SshKeyConfigurator"
            name="Ssh Key Configurator"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.serverconfig.commands.add_new_row"
            contextId="org.netxms.ui.eclipse.serverconfig.context.MappingTableEditor"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="F2">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.serverconfig.commands.delete_rows"
            contextId="org.netxms.ui.eclipse.serverconfig.context.MappingTableEditor"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="DEL">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.serverconfig.commands.save_exported_config"
            contextId="org.netxms.ui.eclipse.serverconfig.context.ExportFileBuilder"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+S">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.serverconfig.commands.show_filter"
            contextId="org.netxms.ui.eclipse.serverconfig.context.ServerConfigurationEditor"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+F2">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.serverconfig.commands.add_config_variable"
            contextId="org.netxms.ui.eclipse.serverconfig.context.ServerConfigurationEditor"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+N">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.serverconfig.commands.publish_config"
            contextId="org.netxms.ui.eclipse.serverconfig.context.ExportFileBuilder"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+P">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.serverconfig.commands.new_task"
            contextId="org.netxms.ui.eclipse.serverconfig.context.ScheduledTaskView"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+N">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.serverconfig.commands.edit_task"
            contextId="org.netxms.ui.eclipse.serverconfig.context.ScheduledTaskView"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M3+ENTER">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.serverconfig.commands.reschedule_task"
            contextId="org.netxms.ui.eclipse.serverconfig.context.ScheduledTaskView"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+R">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.serverconfig.commands.disable_task"
            contextId="org.netxms.ui.eclipse.serverconfig.context.ScheduledTaskView"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+D">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.serverconfig.commands.enable_task"
            contextId="org.netxms.ui.eclipse.serverconfig.context.ScheduledTaskView"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+E">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.serverconfig.commands.copy_key_task"
            contextId="org.netxms.ui.eclipse.serverconfig.context.SshKeyConfiguratorv"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+ C">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="org.netxms.ui.eclipse.serverconfig.activity.ServerConfiguration"
            name="Server Configuration">
         <enabledWhen>
            <with
                  variable="org.netxms.access.ServerConfig">
               <equals
                     value="true">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.netxms.ui.eclipse.serverconfig.activity.ServerConfiguration"
            isEqualityPattern="true"
            pattern="org.netxms.ui.eclipse.serverconfig/org.netxms.ui.eclipse.serverconfig.actions.open">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.netxms.ui.eclipse.serverconfig.activity.ServerConfiguration"
            isEqualityPattern="true"
            pattern="org.netxms.ui.eclipse.serverconfig/org.netxms.ui.eclipse.serverconfig.actions.open_netdisco_config">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.netxms.ui.eclipse.serverconfig.activity.ServerConfiguration"
            isEqualityPattern="true"
            pattern="org.netxms.ui.eclipse.serverconfig/org.netxms.ui.eclipse.serverconfig.actions.open_syslog_config">
      </activityPatternBinding>
      <activity
            id="org.netxms.ui.eclipse.serverconfig.activity.MappingTables"
            name="Mapping Tables">
         <enabledWhen>
            <with
                  variable="org.netxms.access.ManageMappingTables">
               <equals
                     value="true">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.netxms.ui.eclipse.serverconfig.activity.MappingTables"
            isEqualityPattern="true"
            pattern="org.netxms.ui.eclipse.serverconfig/org.netxms.ui.eclipse.serverconfig.actions.open_mapping_tables">
      </activityPatternBinding>
      <activity
            id="org.netxms.ui.eclipse.serverconfig.activity.ExportImport"
            name="Export/Import">
         <enabledWhen>
            <and>
               <with
                     variable="org.netxms.access.ConfigureTraps">
                  <equals
                        value="true">
                  </equals>
               </with>
               <with
                     variable="org.netxms.access.EventProcessingPolicy">
                  <equals
                        value="true">
                  </equals>
               </with>
               <with
                     variable="org.netxms.access.ViewEventConfiguration">
                  <equals
                        value="true">
                  </equals>
               </with>
            </and>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.netxms.ui.eclipse.serverconfig.activity.ExportImport"
            isEqualityPattern="true"
            pattern="org.netxms.ui.eclipse.serverconfig/org.netxms.ui.eclipse.serverconfig.actions.export_configuration">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.netxms.ui.eclipse.serverconfig.activity.ExportImport"
            isEqualityPattern="true"
            pattern="org.netxms.ui.eclipse.serverconfig/org.netxms.ui.eclipse.serverconfig.actions.import_configuration">
      </activityPatternBinding>
   </extension>


</plugin>
