<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Config"
            id="org.netxms.ui.eclipse.config">
      </category>
      <view
            name="Server Configuration"
            icon="icons/server_config.png"
            category="org.netxms.ui.eclipse.config"
            class="org.netxms.ui.eclipse.serverconfig.ServerConfigurationEditor"
            id="org.netxms.ui.eclipse.serverconfig.view.server_config">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Views"
            id="org.netxms.ui.eclipse.console.category.views">
      </category>
      <command
            name="Server Configuration"
            description="Open server configuration editor"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.serverconfig.commands.open_server_config">
      </command>
   </extension>

   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.serverconfig.action_set"
		   label="Server Configuration"
		   visible="true">
		   <action id="org.netxms.ui.eclipse.serverconfig.actions.open"
			   menubarPath="view/config/additions"
			   label="Server Configuration"
			   tooltip="Open server configuration editor"
			   icon="icons/server_config.png"
			   class="org.netxms.ui.eclipse.serverconfig.actions.OpenServerConfig"
			   definitionId="org.netxms.ui.eclipse.serverconfig.commands.open_server_config">
		   </action>
	   </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.serverconfig.actions.popup.delete_variable"
            objectClass="org.netxms.client.NXCServerVariable">
         <menu
               id="org.netxms.nxmc.serverconfig.menu.variables"
               label="Delete"
               path="additions">
         </menu>
         <action
               class="org.netxms.ui.eclipse.serverconfig.actions.DeleteVariable"
               id="org.netxms.ui.eclipse.serverconfig.popupActions.DeleteVariable"
               label="Delete"
   		       icon="icons/delete_variable.png"
               menubarPath="org.netxms.ui.eclipse.serverconfig.menu.variables"
               enablesFor="+">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.serverconfig.actions.popup.edit_variable"
            objectClass="org.netxms.client.NXCServerVariable">
         <menu
               id="org.netxms.ui.eclipse.serverconfig.menu.variables"
               label="Edit..."
               path="additions">
         </menu>
         <action
               class="org.netxms.ui.eclipse.serverconfig.actions.EditVariable"
               id="org.netxms.ui.eclipse.serverconfig.popupActions.EditVariable"
               label="Edit..."
   		       icon="icons/edit_variable.png"
               menubarPath="org.netxms.ui.eclipse.serverconfig.menu.variables"
               enablesFor="1">
         </action>
      </objectContribution>
   </extension>

</plugin>
