<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name.LogViewer"
            allowMultiple="true"
            class="org.netxms.ui.eclipse.logviewer.views.LogViewer"
            id="org.netxms.ui.eclipse.logviewer.view.log_viewer">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%command.name.AuditLog"
            description="%command.description.AuditLog"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.logviewer.commands.openAuditLog">
      </command>
      <command
            name="%command.name.EventLog"
            description="%command.description.EventLog"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.logviewer.commands.openEventLog">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%command.description.Syslog"
            id="org.netxms.ui.eclipse.logviewer.commands.openSyslog"
            name="%command.name.Syslog">
      </command>
      <command
            description="%command.description.LogFilter"
            id="org.netxms.ui.eclipse.logviewer.commands.show_filter"
            name="%command.name.LogFilter">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%command.description.TrapLog"
            id="org.netxms.ui.eclipse.logviewer.commands.openSnmpTrapLog"
            name="%command.name.TrapLog">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%command.description.AlarmLog"
            id="org.netxms.ui.eclipse.logviewer.commands.openAlarmLog"
            name="%command.name.AlarmLog">
      </command>
      <command
            description="%command.description.MoreData"
            id="org.netxms.ui.eclipse.logviewer.commands.get_more_data"
            name="%command.name.MoreData">
      </command>
      <command
            description="%command.description.Query"
            id="org.netxms.ui.eclipse.logviewer.commands.execute"
            name="%command.name.Query">
      </command>
   </extension>
   
   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.logviewer.action_set"
		   label="%actionSet.label.LogViewer"
		   visible="true">
     <action
           class="org.netxms.ui.eclipse.logviewer.actions.OpenSyslog"
           definitionId="org.netxms.ui.eclipse.logviewer.commands.openSyslog"
           icon="icons/syslog.png"
           id="org.netxms.ui.eclipse.logviewer.actions.openSyslog"
           label="%action.label.Syslog"
           menubarPath="view/logs"
           toolbarPath="logs/additions"
           tooltip="%action.tooltip.Syslog">
     </action>
     <action
           class="org.netxms.ui.eclipse.logviewer.actions.OpenSnmpTrapLog"
           definitionId="org.netxms.ui.eclipse.logviewer.commands.openSnmpTrapLog"
           icon="icons/EventLog.png"
           id="org.netxms.ui.eclipse.logviewer.actions.openSnmpTrapLog"
           label="%action.label.TrapLog"
           menubarPath="view/logs"
           toolbarPath="logs/additions"
           tooltip="%action.tooltip.TrapLog">
     </action>
		   <action id="org.netxms.ui.eclipse.logviewer.actions.openEventLog"
			   menubarPath="view/logs"
			   toolbarPath="logs/additions"
			   label="%action.label.EventLog"
			   tooltip="%action.tooltip.EventLog"
			   icon="icons/EventLog.png"
			   class="org.netxms.ui.eclipse.logviewer.actions.OpenEventLog"
			   definitionId="org.netxms.ui.eclipse.logviewer.commands.openEventLog">
		   </action>
		   <action id="org.netxms.ui.eclipse.logviewer.actions.openAuditLog"
			   menubarPath="view/logs"
			   toolbarPath="logs/additions"
			   label="%action.label.AuditLog"
			   tooltip="%action.tooltip.AuditLog"
			   icon="icons/AuditLog.png"
			   class="org.netxms.ui.eclipse.logviewer.actions.OpenAuditLog"
			   definitionId="org.netxms.ui.eclipse.logviewer.commands.openAuditLog">
		   </action>
     <action
           class="org.netxms.ui.eclipse.logviewer.actions.OpenAlarmLog"
           definitionId="org.netxms.ui.eclipse.logviewer.commands.openAlarmLog"
           icon="icons/AlarmLog.png"
           id="org.netxms.ui.eclipse.logviewer.actions.openAlarmLog"
           label="%action.label.AlarmLog"
           menubarPath="view/logs"
           toolbarPath="logs/additions"
           tooltip="%action.tooltip.AlarmLog">
     </action>
	   </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.logviewer.commands.openAuditLog"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="Ctrl+Alt+F11">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.logviewer.commands.openEventLog"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="Ctrl+Alt+F8">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.logviewer.commands.show_filter"
            contextId="org.netxms.ui.eclipse.logviewer.context.LogViewer"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="Ctrl+F2">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.logviewer.commands.openAlarmLog"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="Alt+F8">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.logviewer.commands.get_more_data"
            contextId="org.netxms.ui.eclipse.logviewer.context.LogViewer"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="F9">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.logviewer.commands.execute"
            contextId="org.netxms.ui.eclipse.logviewer.context.LogViewer"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="F2">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.netxms.ui.eclipse.logviewer.context.LogViewer"
            name="Log Viewer"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
