<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.netxms.ui.eclipse.datacollection.dciOpenHandlers" name="DCI Open Handlers" schema="schema/org.netxms.ui.eclipse.datacollection.dciOpenHandlers.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.datacollection.views.DataCollectionEditor"
            icon="icons/dc_editor.png"
            id="org.netxms.ui.eclipse.datacollection.view.data_collection_editor"
            name="%view.name.DataCollection"
            restorable="false">
      </view>
      <view
            name="%view.name.LastValues"
            allowMultiple="true"
            icon="icons/last_values.png"
            class="org.netxms.ui.eclipse.datacollection.views.LastValues"
            id="org.netxms.ui.eclipse.datacollection.view.last_values">
      </view>
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.datacollection.views.SummaryTableManager"
            icon="icons/summary_table.png"
            id="org.netxms.ui.eclipse.datacollection.views.SummaryTableManager"
            name="%view.name.DCISummaryTables"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.datacollection.views.SummaryTable"
            icon="icons/summary_table.png"
            id="org.netxms.ui.eclipse.datacollection.views.SummaryTable"
            name="%view.name.SummaryTable"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.datacollection.views.PolicyEditorView"
            icon="icons/policy.gif"
            id="org.netxms.ui.eclipse.datacollection.views.policy_editor"
            name="Policy editor"
            restorable="false">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.datacollection.actions.popup.object.DataCollectionTarget"
            objectClass="org.netxms.client.objects.DataCollectionTarget">
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.OpenEditor"
               enablesFor="1"
               id="org.netxms.ui.eclipse.datacollection.popupActions.OpenEditor#DataCollectionTarget"
               label="%action.label.DataCollection"
               icon="icons/dc_editor.png"
               menubarPath="datacollection">
         </action>
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.ShowLastValues"
               enablesFor="1"
               icon="icons/last_values.png"
               id="org.netxms.ui.eclipse.datacollection.popupActions.ShowLastValues#DataCollectionTarget"
               label="%action.label.LastValues"
               menubarPath="datacollection">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.datacollection.actions.popup.object.Template"
            objectClass="org.netxms.client.objects.Template">
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.OpenEditor"
               enablesFor="1"
               id="org.netxms.ui.eclipse.datacollection.popupActions.OpenEditor#Template"
               label="%action.label.DataCollection"
               icon="icons/dc_editor.png"
               menubarPath="datacollection">
         </action>
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.RemoveTemplate"
               enablesFor="1"
               id="org.netxms.ui.eclipse.datacollection.popupActions.RemoveTemplate"
               label="%action.label.Remove"
               menubarPath="objectbinding"
               style="push"
               tooltip="%action.tooltip.Remove">
         </action>
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.ApplyTemplate"
               enablesFor="+"
               id="org.netxms.ui.eclipse.datacollection.popupActions.ApplyTemplate"
               label="%action.label.Apply"
               menubarPath="objectbinding"
               style="push"
               tooltip="%action.tooltip.Apply">
         </action>
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.EditPolicy"
               enablesFor="+"
               id="org.netxms.ui.eclipse.datacollection.EditPolicy"
               label="Edit Policy..."
               menubarPath="objectmgmt">
         </action>
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.ForceReinstallPolicy"
               enablesFor="+"
               icon="objectmgmt"
               id="org.netxms.ui.eclipse.datacollection.ForceReinstallPolicy"
               label="Force install policy">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.datacollection.actions.popup.object.TemplateRoot"
            objectClass="org.netxms.client.objects.TemplateRoot">
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.CreateTemplateGroup"
               enablesFor="1"
               id="org.netxms.ui.eclipse.datacollection.popupActions.CreateTemplateGroup#TemplateRoot"
               label="%action.label.CreateTemplateGroup"
               menubarPath="CreateObjectSubmenu/additions">
         </action>
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.CreateTemplate"
               enablesFor="1"
               id="org.netxms.ui.eclipse.datacollection.popupActions.CreateTemplate#TemplateRoot"
               label="%action.label.CreateTemplate"
               menubarPath="CreateObjectSubmenu/additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.datacollection.actions.popup.object.TemplateGroup"
            objectClass="org.netxms.client.objects.TemplateGroup">
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.CreateTemplateGroup"
               enablesFor="1"
               id="org.netxms.ui.eclipse.datacollection.popupActions.CreateTemplateGroup#TemplateGroup"
               label="%action.label.CreateTemplateGroup"
               menubarPath="CreateObjectSubmenu/additions">
         </action>
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.CreateTemplate"
               enablesFor="1"
               id="org.netxms.ui.eclipse.datacollection.popupActions.CreateTemplate#TemplateGroup"
               label="%action.label.CreateTemplate"
               menubarPath="CreateObjectSubmenu/additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.datacollection.actions.popup.object.Interface"
            objectClass="org.netxms.client.objects.Interface">
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.CreateInterfraceDci"
               enablesFor="+"
               id="org.netxms.ui.eclipse.datacollection.popupActions.CreateInterfaceDci#Interface"
               label="%action.label.CreateDCIs"
               menubarPath="datacollection">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.datacollection.actions.popup.object.DciValue"
            objectClass="org.netxms.client.datacollection.DciValue">
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.ClearCollectedData"
               enablesFor="+"
               icon="icons/clear.gif"
               id="org.netxms.ui.eclipse.datacollection.popupActions.ClearCollectedData_DciValue"
               label="%action.label.ClearData"
               menubarPath="secondary">
         </action>
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.ForceDciPoll"
               enablesFor="+"
               id="org.netxms.ui.eclipse.datacollection.popupActions.ForceDCIPoll_DciValue"
               label="Force DCI Poll"
               menubarPath="secondary">
         </action>
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.StartDataRecalculation"
               enablesFor="+"
               id="org.netxms.ui.eclipse.datacollection.popupActions.RecalculateData_DciValue"
               label="Start data &amp;recalculation"
               menubarPath="secondary">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.datacollection.actions.popup.object.DataCollectionObject"
            objectClass="org.netxms.client.datacollection.DataCollectionObject">
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.ClearCollectedData"
               enablesFor="+"
               icon="icons/clear.gif"
               id="org.netxms.ui.eclipse.datacollection.popupActions.ClearCollectedData_DataCollectionObject"
               label="%action.label.ClearData"
               menubarPath="secondary">
         </action>
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.ForceDciPoll"
               enablesFor="+"
               id="org.netxms.ui.eclipse.datacollection.popupActions.ForceDCIPoll_DataCollectionObject"
               label="Force DCI Poll"
               menubarPath="secondary">
         </action>
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.StartDataRecalculation"
               enablesFor="+"
               id="org.netxms.ui.eclipse.datacollection.popupActions.RecalculateData_DataCollectionObject"
               label="Start data &amp;recalculation"
               menubarPath="secondary">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.datacollection.actions.popup.object.SnmpValue"
            objectClass="org.netxms.client.snmp.SnmpValue">
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.CreateSnmpDci"
               enablesFor="+"
               id="org.netxms.ui.eclipse.datacollection.popupActions.CreateSnmpDci#SnmpValue"
               label="%action.label.CreateDCI"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

  <extension
     point="org.eclipse.ui.propertyPages">
        <page
           id="org.netxms.ui.eclipse.datacollection.propertypages.General#1"
           name="%page.name.General"
	       class="org.netxms.ui.eclipse.datacollection.propertypages.General">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.datacollection.DataCollectionItem">
             </instanceof>
          </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.datacollection.propertypages.GeneralTable"
              id="org.netxms.ui.eclipse.datacollection.propertypages.GeneralTable#1"
              name="%page.name.General">
            <enabledWhen>
               <instanceof
                    value="org.netxms.client.datacollection.DataCollectionTable">
               </instanceof>
            </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.datacollection.propertypages.Comments"
              id="org.netxms.ui.eclipse.datacollection.propertypages.Comments"
              name="%page.name.Comments">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.datacollection.DataCollectionObject">
              </instanceof>
           </enabledWhen>
        </page>
        <page
           id="org.netxms.ui.eclipse.datacollection.propertypages.CustomSchedule#10"
           name="%page.name.CustomSchedule"
	       class="org.netxms.ui.eclipse.datacollection.propertypages.CustomSchedule">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.datacollection.DataCollectionObject">
             </instanceof>
          </enabledWhen>
        </page>
        <page
           id="org.netxms.ui.eclipse.datacollection.propertypages.Transformation#20"
           name="%page.name.Transformation"
	       class="org.netxms.ui.eclipse.datacollection.propertypages.Transformation">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.datacollection.DataCollectionObject">
             </instanceof>
          </enabledWhen>
        </page>
        <page
           id="org.netxms.ui.eclipse.datacollection.propertypages.Thresholds#30"
           name="%page.name.Thresholds"
	       class="org.netxms.ui.eclipse.datacollection.propertypages.Thresholds">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.datacollection.DataCollectionItem">
             </instanceof>
          </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.datacollection.propertypages.TableColumns"
              id="org.netxms.ui.eclipse.datacollection.propertypages.TableColumns#16"
              name="%page.name.Columns">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.datacollection.DataCollectionTable">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.datacollection.propertypages.InstanceDiscovery"
              id="org.netxms.ui.eclipse.datacollection.propertypages.InstanceDiscovery#50"
              name="%page.name.InstanceDiscovery">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.datacollection.DataCollectionObject">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.datacollection.propertypages.OtherOptions"
              id="org.netxms.ui.eclipse.datacollection.propertypages.NetworkMaps#200"
              name="%page.name.OtherOptions">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.datacollection.DataCollectionItem">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.datacollection.propertypages.SummaryTableGeneral"
              id="org.netxms.ui.eclipse.datacollection.propertypages.SummaryTableGeneral#0"
              name="%page.name.General">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.datacollection.DciSummaryTable">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.datacollection.propertypages.SummaryTableFilter"
              id="org.netxms.ui.eclipse.datacollection.propertypages.SummaryTableFilter#20"
              name="%page.name.Filter">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.datacollection.DciSummaryTable">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.datacollection.propertypages.SummaryTableColumns"
              id="org.netxms.ui.eclipse.datacollection.propertypages.SummaryTableColumns#10"
              name="%page.name.Columns">
           <enabledWhen>
              <and>
                 <instanceof
                       value="org.netxms.client.datacollection.DciSummaryTable">
                 </instanceof>
                 <not>
                    <test
                          forcePluginActivation="true"
                          property="org.netxms.ui.eclipse.datacollection.isTableSource">
                    </test>
                 </not>
              </and>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.datacollection.propertypages.ClusterOptions"
              id="org.netxms.ui.eclipse.datacollection.propertypages.ClusterOptions#4"
              name="%page.name.Cluster">
           <enabledWhen>
              <and>
                 <instanceof
                       value="org.netxms.client.datacollection.DataCollectionObject">
                 </instanceof>
                 <or>
                    <test
                          forcePluginActivation="true"
                          property="org.netxms.ui.eclipse.datacollection.isClusterObject">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.netxms.ui.eclipse.datacollection.isTemplateObject">
                    </test>
                 </or>
              </and>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.datacollection.propertypages.TableThresholds"
              id="org.netxms.ui.eclipse.datacollection.propertypages.TableThresholds#30"
              name="%page.name.Thresholds">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.datacollection.DataCollectionTable">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.datacollection.propertypages.AccessControl"
              id="org.netxms.ui.eclipse.datacollection.propertypages.AccessControl#120"
              name="Access Control">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.datacollection.DataCollectionObject">
              </instanceof>
           </enabledWhen>
        </page>
   </extension>

  <extension
     point="org.eclipse.core.runtime.adapters">
        <factory 
           class="org.netxms.ui.eclipse.datacollection.DataCollectionAdapterFactory" 
           adaptableType="org.netxms.client.datacollection.DataCollectionObject">
          <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
          <adapter
                type="org.netxms.ui.eclipse.datacollection.api.DataCollectionObjectEditor">
          </adapter>
        </factory>
  </extension>

   <extension
         point="org.netxms.ui.eclipse.objectview.tabs">
      <tab
            class="org.netxms.ui.eclipse.datacollection.objecttabs.LastValues"
            contextId="org.netxms.ui.eclipse.datacollection.context.LastValues"
            icon="icons/last_values.png"
            id="org.netxms.ui.eclipse.datacollection.objecttabs.LastValues"
            name="%tab.name.LastValues"
            order="30">
      </tab>
      <tab
            class="org.netxms.ui.eclipse.datacollection.objecttabs.ThresholdSummary"
            icon="icons/thresholds.gif"
            id="org.netxms.ui.eclipse.datacollection.objecttabs.ThresholdSummary"
            name="%tab.name.Thresholds"
            order="30">
      </tab>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description.ToggleFilter"
            id="org.netxms.ui.eclipse.datacollection.commands.show_dci_filter"
            name="%command.name.ToggleFilter">
         <defaultHandler
               class="org.netxms.ui.eclipse.datacollection.actions.ToggleDCIFilterHandler">
            <parameter
                  name="default"
                  value="default">
            </parameter>
         </defaultHandler>
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.netxms.ui.eclipse.datacollection.commands.show_dci_filter.state">
         </state>
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%command.description.SummaryTablesConfig"
            id="org.netxms.ui.eclipse.datacollection.commands.open_dcisumtbl_manager"
            name="%command.name.SummaryTablesConfig">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.datacollection.commands.show_dci_filter"
            contextId="org.netxms.ui.eclipse.datacollection.context.LastValues"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+F2">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.netxms.ui.eclipse.datacollection.context.LastValues"
            name="Last Values List"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.netxms.ui.eclipse.objectview.view.tabbed_object_view?after=additions">
         <command
               commandId="org.netxms.ui.eclipse.datacollection.commands.show_dci_filter"
               label="%command.label.ShowDCIFilter"
               style="toggle"
               tooltip="%command.tooltip.ShowDCIFilter">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.netxms.ui.eclipse.objectview.ActiveTab">
                  <instanceof
                        value="org.netxms.ui.eclipse.datacollection.objecttabs.LastValues">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.datacollection.actionSet"
            label="%actionSet.label.DataCollection"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.OpenSummaryTablesManager"
               definitionId="org.netxms.ui.eclipse.datacollection.commands.open_dcisumtbl_manager"
               icon="icons/summary_table.png"
               id="org.netxms.ui.eclipse.datacollection.actions.open_dcisumtbl_manager"
               label="%action.label.SummaryTablesConfig"
               menubarPath="config/additions"
               style="push"
               tooltip="%action.tooltip.SummaryTablesConfig">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.loginlisteners">
      <loginlistener
            class="org.netxms.ui.eclipse.datacollection.LoginListener">
      </loginlistener>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=datacollection">
         <dynamic
               class="org.netxms.ui.eclipse.datacollection.SummaryTablesDynamicMenu"
               id="org.netxms.ui.eclipse.datacollection.SummaryTablesDynamicMenu">
            <visibleWhen
                  checkEnabled="false">
               <and>
	               <iterate
	                     ifEmpty="false"
	                     operator="and">
	                  <or>
	                     <instanceof
	                           value="org.netxms.client.objects.Container">
	                     </instanceof>
	                     <instanceof
	                           value="org.netxms.client.objects.ServiceRoot">
	                     </instanceof>
	                     <instanceof
	                           value="org.netxms.client.objects.Subnet">
	                     </instanceof>
	                     <instanceof
	                           value="org.netxms.client.objects.Cluster">
	                     </instanceof>
	                     <instanceof
	                           value="org.netxms.client.objects.Zone">
	                     </instanceof>
	                     <instanceof
	                           value="org.netxms.client.objects.EntireNetwork">
	                     </instanceof>
	                  </or>
	               </iterate>
                <with
                      variable="org.netxms.ui.eclipse.datacollection.SummaryTablesExist">
                   <equals
                         value="true">
                   </equals>
                </with>
               </and>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.netxms.ui.eclipse.datacollection.DataCollectionObjectPropertyTester"
            id="org.netxms.ui.eclipse.datacollection.DataCollectionObjectPropertyTester"
            namespace="org.netxms.ui.eclipse.datacollection"
            properties="isClusterObject,isTemplateObject"
            type="org.netxms.client.datacollection.DataCollectionObject">
      </propertyTester>
      <propertyTester
            class="org.netxms.ui.eclipse.datacollection.DciSummaryTablePropertyTester"
            id="org.netxms.ui.eclipse.datacollection.SummaryTableDciPropertyTester"
            namespace="org.netxms.ui.eclipse.datacollection"
            properties="isTableSource"
            type="org.netxms.client.datacollection.DciSummaryTable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="org.netxms.ui.eclipse.datacollection.SourceProvider">
         <variable
               name="org.netxms.ui.eclipse.datacollection.SummaryTablesExist"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
