<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Data Collection Configuration"
            allowMultiple="true"
            icon="icons/dc_editor.png"
            class="org.netxms.ui.eclipse.datacollection.views.DataCollectionEditor"
            id="org.netxms.ui.eclipse.datacollection.view.data_collection_editor">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.datacollection.actions.popup.object.dceditor_NXCNode"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.OpenEditor"
               enablesFor="1"
               id="org.netxms.ui.eclipse.datacollection.popupActions.OpenEditor"
               label="Data Collection Configuration"
               icon="icons/dc_editor.png"
               menubarPath="datacollection">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.datacollection.actions.popup.object.dceditor_NXCTemplate"
            objectClass="org.netxms.client.objects.Template">
         <action
               class="org.netxms.ui.eclipse.datacollection.actions.OpenEditor"
               enablesFor="1"
               id="org.netxms.ui.eclipse.datacollection.popupActions.OpenEditor"
               label="Data Collection Configuration"
               icon="icons/dc_editor.png"
               menubarPath="datacollection">
         </action>
      </objectContribution>
   </extension>

  <extension
     point="org.eclipse.ui.propertyPages">
        <page
           id="org.netxms.ui.eclipse.datacollection.propertypages.General"
           name="General"
	       class="org.netxms.ui.eclipse.datacollection.propertypages.General">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.datacollection.DataCollectionItem">
             </instanceof>
          </enabledWhen>
        </page>
        <page
           id="org.netxms.ui.eclipse.datacollection.propertypages.CustomSchedule"
           name="Custom Schedule"
	       class="org.netxms.ui.eclipse.datacollection.propertypages.CustomSchedule">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.datacollection.DataCollectionItem">
             </instanceof>
          </enabledWhen>
        </page>
        <page
           id="org.netxms.ui.eclipse.datacollection.propertypages.Transformation"
           name="Transformation"
	       class="org.netxms.ui.eclipse.datacollection.propertypages.Transformation">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.datacollection.DataCollectionItem">
             </instanceof>
          </enabledWhen>
        </page>
        <page
           id="org.netxms.ui.eclipse.datacollection.propertypages.Thresholds"
           name="Thresholds"
	       class="org.netxms.ui.eclipse.datacollection.propertypages.Thresholds">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.datacollection.DataCollectionItem">
             </instanceof>
          </enabledWhen>
        </page>
   </extension>

  <extension
     point="org.eclipse.core.runtime.adapters">
        <factory 
           class="org.netxms.ui.eclipse.datacollection.DataCollectionAdapterFactory" 
           adaptableType="org.netxms.client.datacollection.DataCollectionItem">
          <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
        </factory>
  </extension>

</plugin>
