<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.netxms.ui.eclipse.objectview.tabs" name="Object Tabs" schema="schema/org.netxms.ui.eclipse.objectview.tabs.exsd"/>
   <extension-point id="org.netxms.ui.eclipse.objectview.objectDetailsProvider" name="Object Details Provider" schema="schema/org.netxms.ui.eclipse.objectview.objectDetailsProvider.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name.ObjectDetails"
            allowMultiple="false"
            icon="icons/object_details.png"
            class="org.netxms.ui.eclipse.objectview.views.TabbedObjectView"
            id="org.netxms.ui.eclipse.objectview.view.tabbed_object_view">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.objectview.views.ObjectStatusMapView"
            id="org.netxms.ui.eclipse.objectview.views.ObjectStatusMapView"
            name="%view.name.ObjectStatus"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.objectview.views.SoftwareInventoryView"
            icon="icons/software.png"
            id="org.netxms.ui.eclipse.objectview.views.SoftwareInventoryView"
            name="%view.name.SoftwareInventory"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%command.name.ObjectDetails"
            description="%command.description.ObjectDetails"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.objectview.commands.open_tabbed_object_view">
      </command>
   </extension>
   
   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.action_set.object_details"
		   label="%actionSet.label.ObjectDetails"
		   visible="true">
		   <action id="org.netxms.ui.eclipse.objectview.actions.open_tabbed_object_view"
			   menubarPath="view/primary"
			   label="%action.label.ObjectDetails"
			   tooltip="%action.tooltip.ObjectDetails"
			   icon="icons/object_details.png"
			   class="org.netxms.ui.eclipse.objectview.actions.ShowObjectDetailsView"
			   definitionId="org.netxms.ui.eclipse.objectview.commands.open_tabbed_object_view">
		   </action>
	   </actionSet>
   </extension>

   <extension
         point="org.netxms.ui.eclipse.objectview.tabs">
      <tab
            class="org.netxms.ui.eclipse.objectview.objecttabs.ObjectOverview"
            icon="icons/overview_tab.gif"
            id="org.netxms.ui.eclipse.objectview.objecttabs.ObjectOverview"
            name="%tab.name.Overview"
            order="10">
      </tab>
      <tab
            class="org.netxms.ui.eclipse.objectview.objecttabs.ClusterTab"
            icon="icons/cluster.png"
            id="org.netxms.ui.eclipse.objectview.objecttabs.ClusterTab"
            name="%tab.name.Cluster"
            order="15">
      </tab>
      <tab
            class="org.netxms.ui.eclipse.objectview.objecttabs.ComponentsTab"
            icon="icons/components.png"
            id="org.netxms.ui.eclipse.objectview.objecttabs.ComponentsTab"
            name="%tab.name.Components"
            order="50">
      </tab>
      <tab
            class="org.netxms.ui.eclipse.objectview.objecttabs.InterfacesTab"
            icon="icons/interface.png"
            id="org.netxms.ui.eclipse.objectview.objecttabs.InterfacesTab"
            name="%tab.name.Interfaces"
            order="60">
      </tab>
      <tab
            class="org.netxms.ui.eclipse.objectview.objecttabs.NodesTab"
            icon="icons/nodes.png"
            id="org.netxms.ui.eclipse.objectview.objecttabs.NodesTab"
            name="%tab.name.Nodes"
            order="50">
      </tab>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectview.actions.popup.object.Container"
            objectClass="org.netxms.client.objects.Container">
         <action
               class="org.netxms.ui.eclipse.objectview.actions.ShowStatusMap"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectview.popupActions.ShowStatusMap_Container"
               label="%action.label.StatusMap">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectview.actions.ShowSoftwareInventory"
               enablesFor="1"
               icon="icons/software.png"
               id="org.netxms.ui.eclipse.objectview.popupActions.ShowSoftwareInventory_Container"
               label="%action.label.SoftwareInventory">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectview.actions.popup.object.ServiceRoot"
            objectClass="org.netxms.client.objects.ServiceRoot">
         <action
               class="org.netxms.ui.eclipse.objectview.actions.ShowStatusMap"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectview.popupActions.ShowStatusMap_ServiceRoot"
               label="%action.label.StatusMap">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectview.actions.ShowSoftwareInventory"
               enablesFor="1"
               icon="icons/software.png"
               id="org.netxms.ui.eclipse.objectview.popupActions.ShowSoftwareInventory_ServiceRoot"
               label="%action.label.SoftwareInventory">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectview.actions.popup.object.Node"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.objectview.actions.ShowSoftwareInventory"
               enablesFor="1"
               icon="icons/software.png"
               id="org.netxms.ui.eclipse.objectview.popupActions.ShowSoftwareInventory_Node"
               label="%action.label.SoftwareInventory">
         </action>
      </objectContribution>
   </extension>

</plugin>
