<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Last Values"
            allowMultiple="true"
            icon="icons/last_values.png"
            class="org.netxms.ui.eclipse.objectview.views.LastValues"
            id="org.netxms.ui.eclipse.objectview.view.last_values">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.objectview.actions.popup.object.lastvalues"
            objectClass="org.netxms.client.NXCNode">
         <action
               class="org.netxms.ui.eclipse.objectview.actions.ShowLastValues"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectview.popupActions.ShowLastValues"
               label="Last values"
               icon="icons/last_values.png"
               menubarPath="datacollection">
         </action>
      </objectContribution>
   </extension>

</plugin>
