<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.filemanager.views.ViewServerFile"
            icon="icons/file.png"
            id="org.netxms.ui.eclipse.usermanager.view.server_files"
            name="%view.ServerFileList.name"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.filemanager.views.ViewAgentFiles"
            icon="icons/file.png"
            id="org.netxms.ui.eclipse.usermanager.view.agent_files"
            name="Agent File List"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.netxms.client.ServerFile"
            class="org.netxms.ui.eclipse.filemanager.ServerFileAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.Node"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_Node"
               label="%action.label.UploadFile"
               menubarPath="objectmgmt"
               style="push">
         </action>
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.GetAgentFileList"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.U_Node"
               label="Get file list"
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.Container"
            objectClass="org.netxms.client.objects.Container">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_Container"
               label="%action.label.UploadFile"
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.ServiceRoot"
            objectClass="org.netxms.client.objects.ServiceRoot">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_ServiceRoot"
               label="%action.label.UploadFile"
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.Subnet"
            objectClass="org.netxms.client.objects.Subnet">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_Subnet"
               label="%action.label.UploadFile"
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.EntireNetwork"
            objectClass="org.netxms.client.objects.EntireNetwork">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_EntireNetwork"
               label="%action.label.UploadFile"
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description.UploadToServer"
            id="org.netxms.ui.eclipse.filemanager.commands.upload_file_to_server"
            name="%command.name.UploadToServer">
      </command>
      <command
            description="%command.ServerFileList.description"
            id="org.netxms.ui.eclipse.console.category.views.open_server_file_list"
            name="%command.ServerFileList.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.filemanager.action_set"
            label="%actionSet.label.FileManager"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToServer"
               definitionId="org.netxms.ui.eclipse.filemanager.commands.upload_file_to_server"
               icon="icons/upload.png"
               id="org.netxms.ui.eclipse.filemanager.actions.upload_file_to_server"
               label="%action.label.UploadToServer"
               menubarPath="tools/additions"
               tooltip="%action.tooltip.UploadToServer">
         </action>
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.GetServerFileList"
               definitionId="org.netxms.ui.eclipse.console.category.views.open_server_file_list"
               icon="icons/file.png"
               id="org.netxms.ui.eclipse.usermanager.view.server_files"
               label="%action.label.ServerFileList"
               menubarPath="config/additions"
               toolbarPath="config/additions"
               tooltip="%action.tooltip.ServerFileList">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.filemanager.commands.upload_file_to_server"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="Ctrl+Alt+U">
      </key>
   </extension>

</plugin>
