<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.filemanager.views.ServerFileManager"
            icon="icons/types/unknown.png"
            id="org.netxms.ui.eclipse.usermanager.view.server_files"
            name="%view.ServerFileList.name"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.filemanager.views.AgentFileManager"
            icon="icons/filemgr.png"
            id="org.netxms.ui.eclipse.filemanager.views.AgentFileManager"
            name="File Manager"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.netxms.client.server.ServerFile"
            class="org.netxms.ui.eclipse.filemanager.ServerFileAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.netxms.client.server.AgentFile"
            class="org.netxms.ui.eclipse.filemanager.AgentFileAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.Node"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_Node"
               label="%action.label.UploadFile"
               menubarPath="objectmgmt"
               style="push">
         </action>
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.OpenFileManager"
               enablesFor="1"
               icon="icons/filemgr.png"
               id="org.netxms.ui.eclipse.filemanager.popupActions.FileManager_Node"
               label="&amp;File manager"
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.Container"
            objectClass="org.netxms.client.objects.Container">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_Container"
               label="%action.label.UploadFile"
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.ServiceRoot"
            objectClass="org.netxms.client.objects.ServiceRoot">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_ServiceRoot"
               label="%action.label.UploadFile"
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.Subnet"
            objectClass="org.netxms.client.objects.Subnet">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_Subnet"
               label="%action.label.UploadFile"
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.EntireNetwork"
            objectClass="org.netxms.client.objects.EntireNetwork">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_EntireNetwork"
               label="%action.label.UploadFile"
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description.UploadToServer"
            id="org.netxms.ui.eclipse.filemanager.commands.upload_file_to_server"
            name="%command.name.UploadToServer">
      </command>
      <command
            description="%command.description.ServerFileList"
            id="org.netxms.ui.eclipse.filemanager.commands.open_server_file_list"
            name="%command.name.ServerFileList">
      </command>
      <command
            id="org.netxms.ui.eclipse.filemanager.commands.showFilter"
            name="Show filter">
      </command>
      <command
            id="org.netxms.ui.eclipse.filemanager.commands.refreshFolder"
            name="Refresh folder">
      </command>
      <command
            id="org.netxms.ui.eclipse.filemanager.commands.newFolder"
            name="New folder">
      </command>
      <command
            id="org.netxms.ui.eclipse.filemanager.commands.delete"
            name="Delete">
      </command>
      <command
            id="org.netxms.ui.eclipse.filemanager.commands.rename"
            name="Rename">
      </command>
      <command
            id="org.netxms.ui.eclipse.filemanager.commands.download"
            name="Download">
      </command>
      <command
            id="org.netxms.ui.eclipse.filemanager.commands.uploadFile"
            name="Upload file">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.filemanager.action_set"
            label="%actionSet.label.FileManager"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToServer"
               definitionId="org.netxms.ui.eclipse.filemanager.commands.upload_file_to_server"
               icon="icons/upload.png"
               id="org.netxms.ui.eclipse.filemanager.actions.upload_file_to_server"
               label="%action.label.UploadToServer"
               menubarPath="tools/additions"
               tooltip="%action.tooltip.UploadToServer">
         </action>
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.GetServerFileList"
               definitionId="org.netxms.ui.eclipse.filemanager.commands.open_server_file_list"
               icon="icons/types/unknown.png"
               id="org.netxms.ui.eclipse.usermanager.view.server_files"
               label="%action.label.ServerFileList"
               menubarPath="config/additions"
               toolbarPath="config/additions"
               tooltip="%action.tooltip.ServerFileList">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.filemanager.commands.upload_file_to_server"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="Ctrl+Alt+U">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.filemanager.commands.showFilter"
            contextId="org.netxms.ui.eclipse.filemanager.context.AgentFileManager"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+F2">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.filemanager.commands.newFolder"
            contextId="org.netxms.ui.eclipse.filemanager.context.AgentFileManager"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+N">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.filemanager.commands.refreshFolder"
            contextId="org.netxms.ui.eclipse.filemanager.context.AgentFileManager"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+F5">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.filemanager.commands.delete"
            contextId="org.netxms.ui.eclipse.filemanager.context.AgentFileManager"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="DEL">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.filemanager.commands.rename"
            contextId="org.netxms.ui.eclipse.filemanager.context.AgentFileManager"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+R">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.filemanager.commands.download"
            contextId="org.netxms.ui.eclipse.filemanager.context.AgentFileManager"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+D">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.filemanager.commands.uploadFile"
            contextId="org.netxms.ui.eclipse.filemanager.context.AgentFileManager"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+U">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.netxms.ui.eclipse.filemanager.context.AgentFileManager"
            name="File Manager"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
