<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Tools"
            id="org.netxms.ui.eclipse.tools">
      </category>
      <view
            name="Console Job Monitor"
            icon="icons/job_monitor.png"
            category="org.netxms.ui.eclipse.tools"
            class="org.netxms.ui.eclipse.jobmonitor.JobMonitor"
            id="org.netxms.ui.eclipse.jobmonitor.view.job_monitor">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Views"
            id="org.netxms.ui.eclipse.console.category.views">
      </category>
      <command
            name="Console Job Monitor"
            description="Open Console Job Monitor"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.jobmonitor.commands.open_job_monitor">
      </command>
   </extension>
   
   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.jobmonitor.action_set"
		   label="Console Job Monitor"
		   visible="true">
		   <action id="org.netxms.ui.eclipse.jobmonitor.actions.open"
			   menubarPath="view/tools"
			   label="Console Job Monitor"
			   tooltip="Open Console Job Monitor"
			   icon="icons/job_monitor.png"
			   class="org.netxms.ui.eclipse.jobmonitor.actions.OpenJobMonitor"
			   definitionId="org.netxms.ui.eclipse.jobmonitor.commands.open_job_monitor">
		   </action>
	   </actionSet>
   </extension>

</plugin>
