<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.reporter.actions.popup.object.ReportRoot"
            objectClass="org.netxms.client.objects.ReportRoot">
         <action
               class="org.netxms.ui.eclipse.reporter.actions.CreateReportGroup"
               enablesFor="1"
               id="org.netxms.ui.eclipse.reporter.popupActions.CreateReportGroup_ReportRoot"
               label="Create report &amp;group..."
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.reporter.actions.CreateReport"
               enablesFor="1"
               id="org.netxms.ui.eclipse.reporter.popupActions.CreateReport_ReportRoot"
               label="Create &amp;report..."
               menubarPath="objectcreation">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.reporter.actions.popup.object.ReportGroup"
            objectClass="org.netxms.client.objects.ReportGroup">
         <action
               class="org.netxms.ui.eclipse.reporter.actions.CreateReportGroup"
               enablesFor="1"
               id="org.netxms.ui.eclipse.reporter.popupActions.CreateReportGroup_ReportGroup"
               label="Create report &amp;group..."
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.reporter.actions.CreateReport"
               enablesFor="1"
               id="org.netxms.ui.eclipse.reporter.popupActions.CreateReport_ReportGroup"
               label="Create &amp;report..."
               menubarPath="objectcreation">
         </action>
      </objectContribution>
   </extension>

</plugin>
