<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.netxms.ui.eclipse.reporter.customfields" name="Factory for custom types" schema="schema/org.netxms.ui.eclipse.reporter.customfields.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.reporter.views.ReportView"
            icon="icons/report.png"
            id="org.netxms.ui.eclipse.reporter.views.ReportView"
            name="%view.name.Report"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.reporter.views.ReportNavigator"
            icon="icons/report.png"
            id="org.netxms.ui.eclipse.reporter.views.ReportNavigator"
            name="%view.name.ReportNavigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.netxms.ui.eclipse.reporter.perspectives.ReportPerspective"
            icon="icons/report.png"
            id="org.netxms.ui.eclipse.reporter.ReportPerspective"
            name="%perspective.name.Reports">
      </perspective>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.reporter.customfields">
      <customControlFactory
            class="org.netxms.ui.eclipse.reporter.StandardTypesControlFactory">
      </customControlFactory>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.netxms.ui.eclipse.reporter.propertypages.General"
            id="org.netxms.ui.eclipse.reporter.propertypages.General#0"
            name="General">
         <enabledWhen>
            <instanceof
                  value="org.netxms.api.client.reporting.ReportingJob">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.reporter.propertypages.Notifications"
            id="org.netxms.ui.eclipse.reporter.propertypages.Notifications#1"
            name="Notifications">
         <enabledWhen>
            <instanceof
                  value="org.netxms.api.client.reporting.ReportingJob">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
