<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.topology.actions.popup.object.Node"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.topology.actions.FindConnectionPoint"
               enablesFor="1"
               id="org.netxms.ui.eclipse.topology.popupActions.FindConnectionPoint#Node"
               label="%action.label.FindSwitchPort"
               menubarPath="topology"
               style="push">
         </action>
         <action
               class="org.netxms.ui.eclipse.topology.actions.ShowVlans"
               enablesFor="1"
               icon="icons/vlanview.gif"
               id="org.netxms.ui.eclipse.topology.popupActions.VlanView"
               label="%action.label.ShowVlans"
               menubarPath="topology"
               style="push">
         </action>
         <action
               class="org.netxms.ui.eclipse.topology.actions.ShowWirelessStations"
               enablesFor="1"
               icon="icons/wireless_stations.png"
               id="org.netxms.ui.eclipse.topology.popupActions.WirelessStations"
               label="%action.label.WirelessStations"
               menubarPath="topology"
               style="push">
         </action>
         <action
               class="org.netxms.ui.eclipse.topology.actions.ShowRadioInterfaces"
               enablesFor="1"
               icon="icons/radio_interfaces.png"
               id="org.netxms.ui.eclipse.topology.popupActions.RadioInterfaces"
               label="%action.label.RadioIfs"
               menubarPath="topology"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.topology.actions.popup.object.Interface"
            objectClass="org.netxms.client.objects.Interface">
         <action
               class="org.netxms.ui.eclipse.topology.actions.FindConnectionPoint"
               enablesFor="1"
               id="org.netxms.ui.eclipse.topology.popupActions.FindConnectionPoint#Interface"
               label="%action.label.FindSwitchPort"
               menubarPath="topology"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.topology.actions.popup.object.AccessPoint"
            objectClass="org.netxms.client.objects.AccessPoint">
         <action
               class="org.netxms.ui.eclipse.topology.actions.FindConnectionPoint"
               enablesFor="1"
               id="org.netxms.ui.eclipse.topology.popupActions.FindConnectionPoint#AccessPoint"
               label="%action.label.FindSwitchPort"
               menubarPath="topology"
               style="push">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.netxms.ui.eclipse.console.category.tools"
            description="%command.description.FindMAC"
            id="org.netxms.ui.eclipse.topology.commands.find_mac_address"
            name="%command.name.FindMAC">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.tools"
            description="%command.description.FindIP"
            id="org.netxms.ui.eclipse.topology.commands.find_ip_address"
            name="%command.name.FindIP">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.action_set.find_connection_point"
            label="%actionSet.label.FindConnPoint"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.topology.actions.FindMacAddress"
               definitionId="org.netxms.ui.eclipse.topology.commands.find_mac_address"
               id="org.netxms.ui.eclipse.topology.actions.find_mac_address"
               label="%action.label.FindMAC"
               menubarPath="tools/additions"
               style="push"
               tooltip="%action.tooltip.FindMAC">
         </action>
         <action
               class="org.netxms.ui.eclipse.topology.actions.FindIpAddress"
               definitionId="org.netxms.ui.eclipse.topology.commands.find_ip_address"
               id="org.netxms.ui.eclipse.topology.actions.find_ip_address"
               label="%action.label.FindIP"
               menubarPath="tools/additions"
               style="push"
               tooltip="%action.tooltip.FindIP">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.topology.views.HostSearchResults"
            icon="icons/search_history.png"
            id="org.netxms.ui.eclipse.topology.views.HostSearchResults"
            name="%view.name.ConnSearch"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.viewcategory.tools"
            class="org.netxms.ui.eclipse.topology.views.VlanView"
            icon="icons/vlanview.gif"
            id="org.netxms.ui.eclipse.topology.views.VlanView"
            name="%view.name.VlanView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.viewcategory.tools"
            class="org.netxms.ui.eclipse.topology.views.WirelessStations"
            icon="icons/wireless_stations.png"
            id="org.netxms.ui.eclipse.topology.views.WirelessStations"
            name="%view.name.WirelessStations"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.viewcategory.tools"
            class="org.netxms.ui.eclipse.topology.views.RadioInterfaces"
            icon="icons/radio_interfaces.png"
            id="org.netxms.ui.eclipse.topology.views.RadioInterfaces"
            name="%view.name.RadioIfs"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.topology.commands.find_mac_address"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+F11">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.topology.commands.find_ip_address"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+M2+F11">
      </key>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.objectview.tabs">
      <tab
            class="org.netxms.ui.eclipse.topology.objecttabs.Ports"
            icon="icons/ports.gif"
            id="org.netxms.ui.eclipse.topology.objecttabs.Ports"
            name="%tab.name.Ports"
            order="70">
      </tab>
      <tab
            class="org.netxms.ui.eclipse.topology.objecttabs.AddressMap"
            icon="icons/address_map.png"
            id="org.netxms.ui.eclipse.topology.objecttabs.AddressMap"
            name="%tab.name.AddressMap"
            order="100">
      </tab>
   </extension>

</plugin>
