<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.BusinessServiceRoot"
            objectClass="org.netxms.client.objects.BusinessServiceRoot">
         <action
               class="org.netxms.ui.eclipse.slm.actions.CreateBusinessService"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createBusinessService_BusinessServiceRoot"
               label="%action.label.CreateBusinessService"
               menubarPath="CreateObjectSubmenu/additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.BusinessService"
            objectClass="org.netxms.client.objects.BusinessService">
         <action
               class="org.netxms.ui.eclipse.slm.actions.CreateBusinessService"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createBusinessService_BusinessService"
               label="%action.label.CreateBusinessService"
               menubarPath="CreateObjectSubmenu/additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.netxms.ui.eclipse.slm.propertypages.InstanceDiscovery"
            id="org.netxms.ui.eclipse.slm.propertypages.BusinessServiceInstanceDiscovery#30"
            name="Instance Discovery">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objects.BusinessServicePrototype">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
</plugin>
