<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.BusinessServiceRoot"
            objectClass="org.netxms.client.objects.BusinessServiceRoot">
         <action
               class="org.netxms.ui.eclipse.slm.actions.CreateBusinessService"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createBusinessService_BusinessServiceRoot"
               label="%action.label.CreateBusinessService"
               menubarPath="CreateObjectSubmenu/additions">
         </action>
         <action
               class="org.netxms.ui.eclipse.slm.actions.CreateBusinessServicePrototype"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createBusinessServicePrototype_BusinessServiceRoot"
               label="Business service &amp;prototype..."
               menubarPath="CreateObjectSubmenu/additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.BusinessService"
            objectClass="org.netxms.client.objects.BusinessService">
         <action
               class="org.netxms.ui.eclipse.slm.actions.CreateBusinessService"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createBusinessService_BusinessService"
               label="%action.label.CreateBusinessService"
               menubarPath="CreateObjectSubmenu/additions">
         </action>
         <action
               class="org.netxms.ui.eclipse.slm.actions.CreateBusinessServicePrototype"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createBusinessServicePrototype_BusinessService"
               label="Business service &amp;prototype..."
               menubarPath="CreateObjectSubmenu/additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.netxms.ui.eclipse.slm.propertypages.InstanceDiscovery"
            id="org.netxms.ui.eclipse.slm.propertypages.BusinessServiceInstanceDiscovery#30"
            name="Instance Discovery">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objects.BusinessServicePrototype">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.slm.propertypages.DCIAutoBind"
            id="org.netxms.ui.eclipse.slm.propertypages.DCIAutoBind#27"
            name="DCI Auto Bind">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objects.BaseBusinessService">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.slm.propertypages.ObjectAutoBind"
            id="org.netxms.ui.eclipse.slm.propertypages.ObjectAutoBind#25"
            name="Object Auto Bind">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objects.BaseBusinessService">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.objectview.tabs">
      <tab
            class="org.netxms.ui.eclipse.slm.objecttabs.BusinessServiceChecks"
            contextId="org.netxms.ui.eclipse.datacollection.context.BusinessServiceChecks"
            icon="icons/service_check.gif"
            id="org.netxms.ui.eclipse.slm.objecttabs.BusinessServiceChecks"
            name="Checks"
            order="60">
      </tab>
      <tab
            class="org.netxms.ui.eclipse.slm.objecttabs.BusinessServiceAvailability"
            icon="icons/availability_chart.png"
            id="org.netxms.ui.eclipse.slm.objecttabs.BusinessServiceAvailability"
            name="Availability"
            order="70">
      </tab>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Toggle checks filter"
            id="org.netxms.ui.eclipse.slm.commands.show_checks_filter"
            name="Toggle checks filter">
         <defaultHandler
               class="org.netxms.ui.eclipse.slm.actions.ToggleChecksFilterHandler">
            <parameter
                  name="default"
                  value="default">
            </parameter>
         </defaultHandler>
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.netxms.ui.eclipse.slm.commands.show_checks_filter.state">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.slm.commands.show_checks_filter"
            contextId="org.netxms.ui.eclipse.datacollection.context.BusinessServiceChecks"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+F2">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.netxms.ui.eclipse.datacollection.context.BusinessServiceChecks"
            name="Business Service Check List"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.netxms.ui.eclipse.objectview.view.tabbed_object_view?after=additions">
         <command
               commandId="org.netxms.ui.eclipse.slm.commands.show_checks_filter"
               label="Show &amp;filter"
               style="toggle"
               tooltip="Show/hide filter">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.netxms.ui.eclipse.objectview.ActiveTab">
                  <instanceof
                        value="org.netxms.ui.eclipse.slm.objecttabs.BusinessServiceChecks">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
