<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<filter>
		<filter-name>ConnectionManagerFilter</filter-name>
		<filter-class>org.netxms.ui.web.infrastructure.ConnectionManagerFilter</filter-class>
	</filter>
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>org.netxms.ui.web.infrastructure.SessionFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ConnectionManagerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/secure/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.netxms.ui.web.infrastructure.ConnectionManagerListener</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.netxms.ui.web.infrastructure.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>org.netxms.ui.web.TestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
</web-app>
