<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.snmp.views.SnmpTrapEditor"
            icon="icons/trapeditor.png"
            id="org.netxms.ui.eclipse.snmp.views.SnmpTrapEditor"
            name="%view.name.TrapCfg"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.viewcategory.tools"
            class="org.netxms.ui.eclipse.snmp.views.MibExplorer"
            icon="icons/mibexplorer.gif"
            id="org.netxms.ui.eclipse.snmp.views.MibExplorer"
            name="%view.name.MIBExplorer"
            restorable="true">
      </view>
      <view
            class="org.netxms.ui.eclipse.snmp.views.SnmpTrapMonitor"
            icon="icons/snmp_trap_monitor.png"
            id="org.netxms.ui.eclipse.snmp.views.SnmpTrapMonitor"
            name="%view.name.TrapMonitor"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.snmp.views.SnmpCredentials"
            id="org.netxms.ui.eclipse.snmp.views.SnmpCredentials"
            name="SNMP Credentials"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description.TrapCfg"
            id="org.netxms.ui.eclipse.snmp.commands.open_snmp_trap_editor"
            name="%command.name.TrapCfg">
      </command>
      <command
            description="%command.description.MIBExplorer"
            id="org.netxms.ui.eclipse.snmp.commands.open_mib_explorer"
            name="%command.name.MIBExplorer">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%command.description.TrapMonitor"
            id="org.netxms.ui.eclipse.snmp.commands.open_snmp_trap_monitor"
            name="%command.name.TrapMonitor">
      </command>
      <command
            description="%command.description.MIBExplorer"
            id="org.netxms.ui.eclipse.snmp.commands.open_snmp_configuration"
            name="Open SNMP Configuration">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.action_set.snmp_traps_configuration"
            label="%actionSet.label.TrapCfg"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.snmp.actions.OpenTrapEditor"
               definitionId="org.netxms.ui.eclipse.snmp.commands.open_snmp_trap_editor"
               icon="icons/trapeditor.png"
               id="org.netxms.ui.eclipse.snmp.actions.open_trap_editor"
               label="%action.label.TrapCfg"
               menubarPath="config/additions"
               style="push"
               tooltip="%action.tooltip.TrapCfg">
         </action>
         <action
               class="org.netxms.ui.eclipse.snmp.actions.OpenSnmpTrapMonitor"
               definitionId="org.netxms.ui.eclipse.snmp.commands.open_snmp_trap_monitor"
               id="org.netxms.ui.eclipse.snmp.actions.open_snmp_trap_monitor"
               label="%action.label.TrapMonitor"
               menubarPath="monitor/additions"
               tooltip="%action.tooltip.TrapMonitor">
         </action>
      </actionSet>
      <actionSet
            id="org.netxms.ui.eclipse.action_set.mib_explorer"
            label="%actionSet.label.MIBExplorer"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.snmp.actions.OpenMibExplorer"
               definitionId="org.netxms.ui.eclipse.snmp.commands.open_mib_explorer"
               icon="icons/mibexplorer.gif"
               id="org.netxms.ui.eclipse.snmp.actions.open_mib_explorer"
               label="%action.label.MIBExplorer"
               menubarPath="view/tools"
               style="push"
               tooltip="%action.tooltip.MIBExplorer">
         </action>
      </actionSet>
      <actionSet
            id="org.netxms.ui.eclipse.action_set.snmp_configuration"
            label="SNMP Credentials"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.snmp.actions.SnmpConfigrationAction"
               definitionId="org.netxms.ui.eclipse.snmp.commands.open_snmp_configuration"
               id="org.netxms.ui.eclipse.snmp.actions.open_snmp_configuration"
               label="SNMP Credentials"
               menubarPath="config/additions"
               style="push"
               tooltip="Open SNMP Credentials">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.snmp.actions.popup.object.Node"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.snmp.actions.OpenMibExplorerForNode"
               enablesFor="1"
               icon="icons/mibexplorer.gif"
               id="org.netxms.ui.eclipse.snmp.popupActions.OpenMibExplorer"
               label="%action.label.MIBExplorerNode"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.loginlisteners">
      <loginlistener
            class="org.netxms.ui.eclipse.snmp.shared.MibCache">
      </loginlistener>
   </extension>

</plugin>
