# This file should be copied to
#   %USERPROFILE%\Application Data\Subversion\config (windows)
#   ~/.subversion/config (unix)

[miscellany]
global-ignores = *.obj *.o *.lo *.la #*# .*.rej *.rej .*~ *~ .#* .DS_Store *.ncb *.opt *.plg *.bak Debug Release x64 *.nsm *.nlm *.aps *.iws *.ipr *.iml target bin *.vcproj.*.user Makefile.in .deps .libs Makefile *.deb
enable-auto-props = yes

[auto-props]
.classpath = svn:eol-style=native
.htaccess = svn:eol-style=native
.project = svn:eol-style=native
Makefile = svn:eol-style=native
Makefile.* = svn:eol-style=native
README.* = svn:eol-style=native
README = svn:eol-style=native
AUTHORS = svn:eol-style=native
COPYING = svn:eol-style=native
ChangeLog = svn:eol-style=native
INSTALL = svn:eol-style=native
NEWS = svn:eol-style=native
THANKS = svn:eol-style=native
TODO = svn:eol-style=native
UPGRADE = svn:eol-style=native
*.ac = svn:eol-style=native
*.am = svn:eol-style=native
*.c = svn:eol-style=native
*.clw = svn:eol-style=native
*.cmd = svn:eol-style=native
*.conf-dist = svn:eol-style=native
*.cpp = svn:eol-style=native
*.css = svn:eol-style=native
*.dat = svn:eol-style=native
*.def = svn:eol-style=native
*.dep = svn:eol-style=native
*.dsp = svn:eol-style=CRLF
*.dsw = svn:eol-style=CRLF
*.h = svn:eol-style=native
*.htm = svn:eol-style=native
*.html = svn:eol-style=native
*.in = svn:eol-style=native
*.inc = svn:eol-style=native
*.iss = svn:eol-style=native
*.js = svn:eol-style=native
*.l = svn:eol-style=native
*.m4 = svn:eol-style=native
*.manifest = svn:eol-style=native
*.mc = svn:eol-style=native
*.pl = svn:eol-style=native;svn:executable
*.pm = svn:eol-style=native
*.py = svn:eol-style=native;svn:executable
*.rc = svn:eol-style=native
*.rc2 = svn:eol-style=native
*.sh = svn:eol-style=native;svn:executable
*.shtml = svn:eol-style=native
*.sln = svn:eol-style=native
*.sql = svn:eol-style=native
*.txt = svn:eol-style=native
*.vcc = svn:eol-style=CRLF
*.vcp = svn:eol-style=CRLF
*.vcw = svn:eol-style=CRLF
*.xpm = svn:eol-style=native
*.xrc = svn:eol-style=native
*.xsl = svn:eol-style=native
*.y = svn:eol-style=native
*.nxmp = svn:eol-style=native
*.java = svn:eol-style=native
