<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <context-param>
    <param-name>org.eclipse.rap.applicationConfiguration</param-name>
    <param-value>org.netxms.nxmc.WebApplicationConfiguration</param-value>
  </context-param>

  <listener>
    <listener-class>org.eclipse.rap.rwt.engine.RWTServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>rwtServlet</servlet-name>
    <servlet-class>org.eclipse.rap.rwt.engine.RWTServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>rwtServlet</servlet-name>
    <url-pattern>*.app</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>redirectServlet</servlet-name>
    <servlet-class>org.netxms.nxmc.RedirectServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>redirectServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
</web-app>
