<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0">

  <context-param>
    <param-name>org.eclipse.rap.applicationConfiguration</param-name>
    <param-value>org.netxms.nxmc.WebApplicationConfiguration</param-value>
  </context-param>

  <listener>
    <listener-class>org.eclipse.rap.rwt.engine.RWTServletContextListener</listener-class>
  </listener>

  <filter>
    <filter-name>csp-filter</filter-name>
    <filter-class>org.netxms.nxmc.filters.CspFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>csp-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>rwtServlet</servlet-name>
    <servlet-class>org.eclipse.rap.rwt.engine.RWTServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>rwtServlet</servlet-name>
    <url-pattern>*.app</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>redirectServlet</servlet-name>
    <servlet-class>org.netxms.nxmc.RedirectServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>redirectServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>healthServlet</servlet-name>
    <servlet-class>org.netxms.nxmc.HealthServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>healthServlet</servlet-name>
    <url-pattern>/health</url-pattern>
  </servlet-mapping>
</web-app>
