<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.usermanager.views.UserManagementView"
            icon="icons/user_manager.png"
            id="org.netxms.ui.eclipse.usermanager.view.user_manager"
            name="%view.UserManager.name"
            restorable="true">
      </view>
      <view
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.usermanager.views.CertificateView"
            icon="icons/certificate.png"
            id="org.netxms.ui.eclipse.usermanager.view.user_certificate"
            name="%view.CertificateManage.name"
            restorable="true">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.Views"
            id="org.netxms.ui.eclipse.console.category.views">
      </category>
      <category
            id="org.netxms.ui.eclipse.console.category.tools"
            name="%category.Tools">
      </category>
      <command
            name="%command.UserManager.name"
            description="%command.UserManager.description"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.usermanager.commands.open_user_manager">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.tools"
            description="%command.ChangePasswd.description"
            id="org.netxms.ui.eclipse.usermanager.commands.change_password"
            name="%command.ChangePasswd.name">
      </command>
      <command
            description="%command.CertificateManager.description"
            id="org.netxms.ui.eclipse.usermanager.commands.open_certificate_manager"
            name="%command.CertificateManager.name">
      </command>
   </extension>


   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.action_set.user_manager"
		   label="%actionSet.UserManager.label"
		   visible="true">
		   <action id="org.netxms.ui.eclipse.usermanager.actions.open"
			   menubarPath="config/additions"
			   toolbarPath="config/additions"
			   label="%action.UserManager.label"
			   tooltip="%action.UserManager.tooltip"
			   icon="icons/user_manager.png"
			   class="org.netxms.ui.eclipse.usermanager.actions.OpenUserManager"
			   definitionId="org.netxms.ui.eclipse.usermanager.commands.open_user_manager">
		   </action>
     <action
           class="org.netxms.ui.eclipse.usermanager.actions.ChangePassword"
           definitionId="org.netxms.ui.eclipse.usermanager.commands.change_password"
           icon="icons/change_password.png"
           id="org.netxms.ui.eclipse.usermanager.actions.change_password"
           label="%action.ChangePasswd.label"
           menubarPath="tools/additions"
           tooltip="%action.ChangePasswd.tooltip">
     </action>
     <action
           class="org.netxms.ui.eclipse.usermanager.actions.OpenCertificateManager"
           definitionId="org.netxms.ui.eclipse.usermanager.commands.open_certificate_manager"
           icon="icons/certificate.png"
           id="org.netxms.ui.eclipse.usermanager.actions.certificate_manager"
           label="%action.CertificateManager.label"
           menubarPath="config/additions"
           style="push"
           toolbarPath="config/additions"
           tooltip="%action.CertificateManager.tooltip">
     </action>
	   </actionSet>
   </extension>

  <extension
     point = "org.eclipse.ui.propertyPages">
        <page
           id="org.netxms.ui.eclipse.usermanager.propertypages.General#0"
           name="%page.General.name"
	       class="org.netxms.ui.eclipse.usermanager.propertypages.General">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.users.AbstractUserObject">
             </instanceof>
          </enabledWhen>
        </page>
        <page
           id="org.netxms.ui.eclipse.usermanager.propertypages.Authentication#1"
           name="%page.Authentication.name"
	       class="org.netxms.ui.eclipse.usermanager.propertypages.Authentication">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.users.User">
             </instanceof>
          </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.usermanager.propertypages.Members"
              id="org.netxms.ui.eclipse.usermanager.propertypages.Memebres#2"
              name="%page.Members.name">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.users.UserGroup">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.usermanager.propertypages.SystemRights"
              id="org.netxms.ui.eclipse.usermanager.propertypages.SystemRights#3"
              name="%page.SystemRights.name">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.users.AbstractUserObject">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.usermanager.propertypages.GroupMembership"
              id="org.netxms.ui.eclipse.usermanager.propertypages.GroupMembership#2"
              name="%page.GroupMembership.name">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.users.User">
              </instanceof>
           </enabledWhen>
        </page>
  </extension>

  <extension
     point="org.eclipse.core.runtime.adapters">
        <factory 
           class="org.netxms.ui.eclipse.usermanager.UserAdapterFactory" 
           adaptableType="org.netxms.client.users.AbstractUserObject">
          <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
        </factory>
        <factory 
           class="org.netxms.ui.eclipse.usermanager.UserAdapterFactory" 
           adaptableType="org.netxms.client.users.AbstractAccessListElement">
          <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
        </factory>
  </extension>
  <extension
        point="org.eclipse.ui.decorators">
     <decorator
           class="org.netxms.ui.eclipse.usermanager.UserDecorator"
           id="org.netxms.ui.eclipse.decorators.AbstractUserObject"
           label="%decorator.AbstractUserObject.label"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.netxms.client.users.AbstractUserObject">
           </objectClass></enablement>
        <description>
           %decorator.AbstractUserObject.description
        </description>
     </decorator>
  </extension>
</plugin>
