<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
     point = "org.eclipse.ui.propertyPages">
        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.General#0"
           name="%page.name.General"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.General">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.GenericObject">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.CustomAttributes"
           name="%page.name.CustomAttrs"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.CustomAttributes">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.GenericObject">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.Comments"
           name="%page.name.Comments"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.Comments">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.GenericObject">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.AccessControl"
           name="%page.name.AccessControl"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.AccessControl">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.GenericObject">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.AutoApply"
           name="%page.name.AutoApply"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.AutoApply">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.Template">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.AutoBind"
           name="%page.name.AutoBind"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.AutoBind">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.Container">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.Communication#10"
           name="%page.name.Communications"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.Communication">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.Node">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.TrustedNodes"
           name="%page.name.TrustedNodes"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.TrustedNodes">
          <enabledWhen>
             <or>
                <instanceof
                      value="org.netxms.client.objects.Node">
                </instanceof>
                <instanceof
                      value="org.netxms.client.objects.Subnet">
                </instanceof>
                <instanceof
                      value="org.netxms.client.objects.Container">
                </instanceof>
                <instanceof
                      value="org.netxms.client.objects.Cluster">
                </instanceof>
                <instanceof
                      value="org.netxms.client.objects.ServiceRoot">
                </instanceof>
                <instanceof
                      value="org.netxms.client.objects.Condition">
                </instanceof>
                <instanceof
                      value="org.netxms.client.objects.MobileDevice">
                </instanceof>
             </or>
          </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.Location"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.Location"
              name="%page.name.Location">
           <enabledWhen>
              <or>
                 <instanceof
                       value="org.netxms.client.objects.Node">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.Container">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.Cluster">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.Rack">
                 </instanceof>
              </or>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.ZoneCommunications"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.ZoneCommunications#10"
              name="%page.name.Communications">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.objects.Zone">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.ConditionScript"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.ConditionScript#30"
              name="%page.name.Script">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.objects.Condition">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.ConditionData"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.ConditionData#20"
              name="%page.name.Data">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.objects.Condition">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.ConditionEvents"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.ConditionEvents#10"
              name="%page.name.EventsStatus">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.objects.Condition">
              </instanceof></enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.MapAppearance"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.MapAppearance"
              name="%page.name.MapAppearance">
           <enabledWhen>
              <or>
                 <instanceof
                       value="org.netxms.client.objects.Node">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.Subnet">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.Container">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.Condition">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.Interface">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.NetworkMap">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.ServiceContainer">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.AccessPoint">
                 </instanceof>
              </or>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.NetworkServicePolling"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.NetworkServicePolling#10"
              name="%page.name.NetSrv">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.objects.NetworkService">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.NodePolling"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.NodePolling#20"
              name="%page.name.Polling">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.objects.Node">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.ClusterResources"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.ClusterResources#10"
              name="%page.name.ClusterRes">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.objects.Cluster">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.StatusCalculation"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.StatusCalculation"
              name="%page.name.StatusCalc">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.objects.GenericObject">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.ClusterNetworks"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.ClusterNetworks#15"
              name="%page.name.ClusterNet">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.objects.Cluster">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.InterfacePolling"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.InterfacePolling#20"
              name="%page.name.Polling">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.objects.Interface">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.VPNSubnets"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.VPNSubnets"
              name="Subnets">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.objects.VPNConnector">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.RackPlacement"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.RackPlacement"
              name="Rack">
           <enabledWhen>
              <instanceof
                    value="org.netxms.client.objects.AbstractNode">
              </instanceof>
           </enabledWhen>
        </page>
        <page
              class="org.netxms.ui.eclipse.objectmanager.propertypages.Dashboards"
              id="org.netxms.ui.eclipse.objectmanager.propertypages.Dashboards"
              name="%page.name.Dashboards">
           <enabledWhen>
              <or>
                 <instanceof
                       value="org.netxms.client.objects.Node">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.Subnet">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.Container">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.Cluster">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.ServiceRoot">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.Condition">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.MobileDevice">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.Zone">
                 </instanceof>
                 <instanceof
                       value="org.netxms.client.objects.EntireNetwork">
                 </instanceof>
              </or>
           </enabledWhen>
        </page>
  </extension>

   <extension
         point="org.eclipse.ui.popupMenus">

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.Container"
            objectClass="org.netxms.client.objects.Container">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.UnbindObject"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.UnbindObject_Container"
               label="%action.label.Unbind"
               menubarPath="objectbinding">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.BindObject"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.BindObject_Container"
               label="%action.label.Bind"
               menubarPath="objectbinding">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateCluster"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createCluster_Container"
               label="%action.label.CreateCluster"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateNode"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createNode_Container"
               label="%action.label.CreateNode"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateMobileDevice"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createMobileDevice_Container"
               label="%action.label.CreateMobile"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateContainer"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createContainer_Container"
               label="%action.label.CreateContainer"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateRack"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createRack_Container"
               label="%action.label.CreateRack"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateCondition"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createCondition_Container"
               label="%action.label.CreateCond"
               menubarPath="objectcreation">
         </action>
      </objectContribution>

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.ServiceRoot"
            objectClass="org.netxms.client.objects.ServiceRoot">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.UnbindObject"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.UnbindObject_ServiceRoot"
               label="%action.label.Unbind"
               menubarPath="objectbinding">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.BindObject"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.BindObject_ServiceRoot"
               label="%action.label.Bind"
               menubarPath="objectbinding">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateCluster"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createCluster_ServiceRoot"
               label="%action.label.CreateCluster"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateNode"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createNode_ServiceRoot"
               label="%action.label.CreateNode"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateMobileDevice"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createMobileDevice_ServiceRoot"
               label="%action.label.CreateMobile"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateContainer"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createContainer_ServiceRoot"
               label="%action.label.CreateContainer"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateRack"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createRack_ServiceRoot"
               label="%action.label.CreateRack"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateCondition"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createCondition_ServiceRoot"
               label="%action.label.CreateCond"
               menubarPath="objectcreation">
         </action>
      </objectContribution>



      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.Node"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.ChangeZone"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.ChangeZone_Node"
               label="%action.label.ChangeZone"
               menubarPath="objectmgmt">
         </action>
         <menu
               id="org.netxms.ui.eclipse.objectmanager.popupActions.PollMenu"
               label="%menu.label.Poll"
               path="objectmgmt">
         </menu>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.TopologyPoll"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.TopologyPoll"
               label="%action.label.TopologyPoll"
               menubarPath="org.netxms.ui.eclipse.objectmanager.popupActions.PollMenu/additions"
               style="push">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.InterfacePoll"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.InterfacePoll"
               label="%action.label.IfNamesPoll"
               menubarPath="org.netxms.ui.eclipse.objectmanager.popupActions.PollMenu/additions"
               style="push">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.InstanceDiscoveryPoll"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.InstanceDiscoveryPoll"
               label="%action.label.InstanceDiscoveryPoll"
               menubarPath="org.netxms.ui.eclipse.objectmanager.popupActions.PollMenu/additions"
               style="push">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.FullConfigurationPoll"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.FullConfigurationPoll"
               label="%action.label.ConfPollFull"
               menubarPath="org.netxms.ui.eclipse.objectmanager.popupActions.PollMenu/additions"
               style="push">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.NormalConfigurationPoll"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.ConfigurationPoll"
               label="%action.label.ConfPoll"
               menubarPath="org.netxms.ui.eclipse.objectmanager.popupActions.PollMenu/additions"
               style="push">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.StatusPoll"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.StatusPoll"
               label="%action.label.StatusPoll"
               menubarPath="org.netxms.ui.eclipse.objectmanager.popupActions.PollMenu/additions"
               style="push">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateVpnConnector"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createVPNConnector_Node"
               label="%action.label.CreateVPNConnector"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateNetworkService"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createNetworkService_Node"
               label="%action.label.CreateNetSrv"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateInterface"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createInterface_Node"
               label="%action.label.CreateIface"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.BindObjectTo"
               enablesFor="+"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.BindObjectTo_Node"
               label="%action.label.BindTo"
               menubarPath="objectbinding">
         </action>
      </objectContribution>


      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.Cluster"
            objectClass="org.netxms.client.objects.Cluster">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateNode"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createNode_Cluster"
               label="%action.label.CreateNode"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.RemoveClusterNode"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.removeClusterNode"
               label="%action.label.RemoveNode"
               menubarPath="objectbinding">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.AddClusterNode"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.addClusterNode"
               label="%action.label.AddNode"
               menubarPath="objectbinding">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.BindObjectTo"
               enablesFor="+"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.BindObjectTo_Cluster"
               label="%action.label.BindTo"
               menubarPath="objectbinding">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.EntireNetwork"
            objectClass="org.netxms.client.objects.EntireNetwork">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.CreateZone"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.createZone"
               label="%action.label.CreateZone"
               menubarPath="objectcreation">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.Interface"
            objectClass="org.netxms.client.objects.Interface">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.ChangeInterfaceExpectedState"
               enablesFor="+"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.changeInterfaceExpectedState"
               label="%action.label.ChangeExpState"
               menubarPath="objectmgmt">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.MobileDevice"
            objectClass="org.netxms.client.objects.MobileDevice">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.BindObjectTo"
               enablesFor="+"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.BindObjectTo_MobileDevice"
               label="%action.label.BindTo"
               menubarPath="objectbinding">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.Rack"
            objectClass="org.netxms.client.objects.Rack">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.BindObjectTo"
               enablesFor="+"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.BindObjectTo_Rack"
               label="%action.label.BindTo"
               menubarPath="objectbinding">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.Subnet"
            objectClass="org.netxms.client.objects.Subnet">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.BindObjectTo"
               enablesFor="+"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.BindObjectTo_Subnet"
               label="%action.label.BindTo"
               menubarPath="objectbinding">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.objectmanager.views.NodePollerView"
            icon="icons/poller_view.png"
            id="org.netxms.ui.eclipse.objectmanager.views.NodePollerView"
            name="%view.name.NodePoll"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=objectmgmt">
         <command
               commandId="org.netxms.ui.eclipse.objectmanager.popupActions.Manage"
               label="%action.label.Manage"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="+">
                  </count>   
	               <iterate>
	                  <and>
	                     <instanceof
	                           value="org.netxms.client.objects.AbstractObject">
	                     </instanceof>
	                     <not>
	                        <or>
	                           <instanceof
	                                 value="org.netxms.client.objects.Template">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.TemplateGroup">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.TemplateRoot">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.Dashboard">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.DashboardRoot">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.PolicyRoot">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.PolicyGroup">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.AgentPolicy">
	                           </instanceof>
	                        </or>
	                     </not>
	                  </and>
	               </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.netxms.ui.eclipse.objectmanager.popupActions.Unmanage"
               label="%action.label.Unmanage"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="+">
                  </count>   
	               <iterate>
	                  <and>
	                     <instanceof
	                           value="org.netxms.client.objects.AbstractObject">
	                     </instanceof>
	                     <not>
	                        <or>
	                           <instanceof
	                                 value="org.netxms.client.objects.Template">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.TemplateGroup">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.TemplateRoot">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.Dashboard">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.DashboardRoot">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.PolicyRoot">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.PolicyGroup">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.AgentPolicy">
	                           </instanceof>
	                        </or>
	                     </not>
	                  </and>
	               </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.netxms.ui.eclipse.objectmanager.popupActions.DeleteObject"
               icon="icons/delete.png"
               label="%action.label.Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="+">
                  </count>   
	               <iterate>
	                  <and>
	                     <instanceof
	                           value="org.netxms.client.objects.AbstractObject">
	                     </instanceof>
	                     <not>
	                        <or>
	                           <instanceof
	                                 value="org.netxms.client.objects.EntireNetwork">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.ServiceRoot">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.TemplateRoot">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.NetworkMapRoot">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.DashboardRoot">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.BusinessServiceRoot">
	                           </instanceof>
	                           <instanceof
	                                 value="org.netxms.client.objects.PolicyRoot">
	                           </instanceof>
	                        </or>
	                     </not>
	                  </and>
	               </iterate>
	            </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.netxms.ui.eclipse.objectmanager.popupActions.Manage"
            name="%action.label.Manage">
      </command>
      <command
            id="org.netxms.ui.eclipse.objectmanager.popupActions.Unmanage"
            name="%action.label.Unmanage">
      </command>
      <command
            id="org.netxms.ui.eclipse.objectmanager.popupActions.DeleteObject"
            name="%action.label.Delete">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.netxms.ui.eclipse.objectmanager.actions.Manage"
            commandId="org.netxms.ui.eclipse.objectmanager.popupActions.Manage">
      </handler>
      <handler
            class="org.netxms.ui.eclipse.objectmanager.actions.Unmanage"
            commandId="org.netxms.ui.eclipse.objectmanager.popupActions.Unmanage">
      </handler>
      <handler
            class="org.netxms.ui.eclipse.objectmanager.actions.DeleteObject"
            commandId="org.netxms.ui.eclipse.objectmanager.popupActions.DeleteObject">
      </handler>
   </extension>

</plugin>
