<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.agentmanager.views.AgentConfigEditorView"
            icon="icons/agent_config.gif"
            id="org.netxms.ui.eclipse.agentmanager.views.AgentConfigEditorView"
            name="%view.AgentConfig"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.agentmanager.views.PackageManager"
            icon="icons/package.gif"
            id="org.netxms.ui.eclipse.agentmanager.views.PackageManager"
            name="%view.PackageManager"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.agentmanager.views.PackageDeploymentMonitor"
            icon="icons/package_deploy.gif"
            id="org.netxms.ui.eclipse.agentmanager.views.PackageDeploymentMonitor"
            name="%view.PackageDeploymentMonitor"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.agentmanager.views.ServerStoredAgentConfigEditorView"
            icon="icons/config_manager.gif"
            id="org.netxms.ui.eclipse.agentmanager.views.ServerStoredAgentConfigEditorView"
            name="Agent Config Manager"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.agentmanager.views.ScreenshotView"
            icon="icons/image_obj.gif"
            id="org.netxms.ui.eclipse.agentmanager.views.ScreenshotView"
            name="Screenshot"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.agentmanager.actions.popup.object.Node"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.agentmanager.actions.OpenAgentConfig"
               enablesFor="+"
               icon="icons/agent_config.gif"
               id="org.netxms.ui.eclipse.agentmanager.popupActions.OpenAgentConfig_Node"
               label="%menu.EditConfig"
               menubarPath="objectmgmt"
               style="push">
         </action>
         <action
               class="org.netxms.ui.eclipse.agentmanager.actions.TakeScreenshot"
               enablesFor="+"
               icon="icons/image_obj.gif"
               id="org.netxms.ui.eclipse.agentmanager.popupActions.TakeScreenshot_Node"
               label="%menu.TakeScreenshot"
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.action_set.agent_management"
            label="%actionSet.AgentManagement"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.agentmanager.actions.OpenAgentConfigManager"
               definitionId="org.netxms.ui.eclipse.agentmanager.commands.open_agent_configuration_manager"
               icon="icons/config_manager.gif"
               id="org.netxms.ui.eclipse.agentmanager.actions.open_agent_config_manager"
               label="%action.openAgentConfigManager"
               menubarPath="config/additions"
               toolbarPath="config/additions"
               tooltip="%actionDescription.openAgentConfigManager">
         </action>
         <action
               class="org.netxms.ui.eclipse.agentmanager.actions.OpenPackageManager"
               definitionId="org.netxms.ui.eclipse.agentmanager.commands.open_package_manager"
               icon="icons/package.gif"
               id="org.netxms.ui.eclipse.agentmanager.actions.open_package_manager"
               label="%action.openPackageManager"
               menubarPath="config/additions"
               toolbarPath="config/additions"
               tooltip="%actionDescription.openPackageManager">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%actionDescription.openPackageManager"
            id="org.netxms.ui.eclipse.agentmanager.commands.open_package_manager"
            name="%action.openPackageManager">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="Open agent configuration manager"
            id="org.netxms.ui.eclipse.agentmanager.commands.open_agent_configuration_manager"
            name="Agent configuration manager">
      </command>
   </extension>

</plugin>
