Source: netxms
Priority: extra
Maintainer: Alex Kirhenshtein <alk@netxms.org>
Build-Depends:
 debhelper (>= 9.0.0),
 dh-autoreconf,
 debconf,
 libssl-dev,
 zlib1g-dev,
 libexpat1-dev,
 libsensors4-dev,
 libjansson-dev,
 libreadline-dev,
 libsqlite3-dev,
 libmysqlclient-dev,
 libcurl4-openssl-dev,
 libpq-dev (>= 9.1),
 libldap2-dev,
 libaio1,
 unixodbc-dev,
 openjdk-7-jdk
Standards-Version: 4.9.3
Section: admin
Homepage: http://www.netxms.org/

Package: netxms-base
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NetXMS core libraries
 <insert long description, indented with spaces>

Package: netxms-agent
Architecture: any
Multi-Arch: same
Depends: netxms-base (= ${binary:Version}), netxms-dbdrv-sqlite3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: NetXMS agent
 <insert long description, indented with spaces>

Package: netxms-agent-java
Architecture: any
Multi-Arch: same
Depends: netxms-agent (= ${binary:Version}), openjdk-7-jre-headless, ${shlibs:Depends}, ${misc:Depends}
Description: Java subagent for NetXMS agent
 <insert long description, indented with spaces>

Package: netxms-client
Architecture: any
Multi-Arch: same
Depends: netxms-base (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: NetXMS command line client tools
 <insert long description, indented with spaces>

Package: netxms-server
Architecture: any
Multi-Arch: same
Depends:
 netxms-base (= ${binary:Version}),
 netxms-dbdrv-sqlite3 (= ${binary:Version}) |
 netxms-dbdrv-pgsql (= ${binary:Version}) |
 netxms-dbdrv-mysql (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Suggests: netxms-dbdrv-pgsql, netxms-dbdrv-mysql, netxms-dbdrv-oracle
Description: meta package
 <insert long description, indented with spaces>

Package: netxms-dbdrv-sqlite3
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: netxms-base (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: SQLite3 driver for netxms-server
 <insert long description, indented with spaces>

Package: netxms-dbdrv-pgsql
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: netxms-base (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: postgresql-9.1
Description: PostgreSQL driver for netxms-server
 <insert long description, indented with spaces>

Package: netxms-dbdrv-mysql
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: netxms-base (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: mysql-server
Description: MySQL driver for netxms-server
 <insert long description, indented with spaces>

Package: netxms-dbdrv-odbc
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: netxms-base (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: unixODBC driver for netxms-server
 <insert long description, indented with spaces>

Package: netxms-dbdrv-oracle
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: netxms-base (= ${binary:Version}), libaio1, ${shlibs:Depends}, ${misc:Depends}
Description: Oracle driver for netxms-server
 <insert long description, indented with spaces>
