#!/usr/bin/make -f

export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

override_dh_installinit:
	dh_installinit -pnetxms-agent --name=nxagentd
	dh_installinit -pnetxms-server --name=netxmsd

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_configure:
	dh_auto_configure -- --with-server --with-agent --with-client \
		--with-sqlite --with-mysql --with-pgsql --with-odbc --with-oracle=/opt/instantclient_11_2 \
		--enable-unicode --with-jdk=/usr/lib/jvm/java-7-openjdk-$(DEB_BUILD_ARCH)

%:
	LD_LIBRARY_PATH=$(LD_LIBRARY_PATH):/opt/instantclient_11_2 dh $@ --with autoreconf
