<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.netxms.ui.eclipse.networkmaps.imageproviders" name="Network Map Image Providers" schema="schema/org.netxms.ui.eclipse.networkmaps.imageproviders.exsd"/>
   <extension-point id="org.netxms.ui.eclipse.networkmaps.objectDoubleClickHandlers" name="Object Double Click Handlers" schema="schema/org.netxms.ui.eclipse.networkmaps.objectDoubleClickHandlers.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.networkmaps.viewCategory.networkmaps"
            class="org.netxms.ui.eclipse.networkmaps.views.IPNeighbors"
            icon="icons/quickmap.png"
            id="org.netxms.ui.eclipse.networkmaps.view.ip_neighbors"
            name="%view.name.IPNeighbors"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.networkmaps.viewCategory.networkmaps"
            class="org.netxms.ui.eclipse.networkmaps.views.ServiceDependency"
            icon="icons/service_deps.gif"
            id="org.netxms.ui.eclipse.networkmaps.views.ServiceDependency"
            name="%view.name.ServiceDeps">
      </view>
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.networkmaps.viewCategory.networkmaps"
            class="org.netxms.ui.eclipse.networkmaps.views.ServiceComponents"
            icon="icons/service_components.gif"
            id="org.netxms.ui.eclipse.networkmaps.views.ServiceComponents"
            name="%view.name.ServiceComponents"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.networkmaps.viewCategory.networkmaps"
            class="org.netxms.ui.eclipse.networkmaps.views.Layer2Topology"
            icon="icons/layer2.png"
            id="org.netxms.ui.eclipse.networkmaps.views.Layer2Topology"
            name="%view.name.L2Topology"
            restorable="true">
      </view>
      <category
            id="org.netxms.ui.eclipse.networkmaps.viewCategory.networkmaps"
            name="%category.name.NetworkMaps">
      </category>
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.networkmaps.viewCategory.networkmaps"
            class="org.netxms.ui.eclipse.networkmaps.views.PredefinedMap"
            icon="icons/netmap.png"
            id="org.netxms.ui.eclipse.networkmaps.views.PredefinedMap"
            name="%view.name.NetworkMap"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.networkmaps.viewCategory.networkmaps"
            class="org.netxms.ui.eclipse.networkmaps.views.VlanMap"
            icon="icons/quickmap.png"
            id="org.netxms.ui.eclipse.networkmaps.views.VlanMap"
            name="%view.name.VlanMap"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.networkmaps.viewCategory.networkmaps"
            class="org.netxms.ui.eclipse.networkmaps.views.IPRouteMap"
            icon="icons/route.gif"
            id="org.netxms.ui.eclipse.networkmaps.views.IPRouteMap"
            name="%view.name.IPRoute"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.netxms.ui.eclipse.objectview.tabs">
      <tab
            class="org.netxms.ui.eclipse.networkmaps.objecttabs.ClusterTab"
            icon="icons/cluster.png"
            id="org.netxms.ui.eclipse.networkmaps.objecttabs.ClusterTab"
            name="%tab.name.Cluster"
            order="15">
      </tab>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.networkmaps.actions.popup.object.Node"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.networkmaps.actions.ShowIPNeighbors"
               enablesFor="1"
               id="org.netxms.ui.eclipse.quickmaps.popupActions.ShowIPNeighbors"
               label="%action.label.IPNeighbors"
               icon="icons/quickmap.png"
               menubarPath="topology">
         </action>
         <action
               class="org.netxms.ui.eclipse.networkmaps.actions.ShowLayer2Topology"
               enablesFor="1"
               icon="icons/layer2.png"
               id="org.netxms.ui.eclipse.quickmaps.popupActions.ShowLayer2Topology"
               label="%action.label.L2Topology"
               menubarPath="topology">
         </action>
         <action
               class="org.netxms.ui.eclipse.networkmaps.actions.ShowServiceDependency"
               enablesFor="1"
               icon="icons/service_deps.gif"
               id="org.netxms.ui.eclipse.networkmaps.popupActions.ShowServiceDependency#node"
               label="%action.label.ServiceDeps"
               menubarPath="additions">
         </action>
         <action
               class="org.netxms.ui.eclipse.networkmaps.actions.ShowIPRoute"
               enablesFor="+"
               icon="icons/route.gif"
               id="org.netxms.ui.eclipse.quickmaps.popupActions.ShowIPRoute"
               label="%action.label.IPRoute"
               menubarPath="topology">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.networkmaps.actions.popup.object.Cluster"
            objectClass="org.netxms.client.objects.Cluster">
         <action
               class="org.netxms.ui.eclipse.networkmaps.actions.ShowServiceDependency"
               enablesFor="1"
               id="org.netxms.ui.eclipse.networkmaps.popupActions.ShowServiceDependency#cluster"
               label="%action.label.ServiceDeps"
               icon="icons/service_deps.gif"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.networkmaps.actions.popup.object.Container"
            objectClass="org.netxms.client.objects.Container">
         <action
               class="org.netxms.ui.eclipse.networkmaps.actions.ShowServiceDependency"
               enablesFor="1"
               id="org.netxms.ui.eclipse.networkmaps.popupActions.ShowServiceDependency#container"
               label="%action.label.ServiceDeps"
               icon="icons/service_deps.gif"
               menubarPath="additions">
         </action>
         <action
               class="org.netxms.ui.eclipse.networkmaps.actions.ShowServiceComponents"
               enablesFor="1"
               icon="icons/service_components.gif"
               id="org.netxms.ui.eclipse.networkmaps.popupActions.ShowServiceComponents#container"
               label="%action.label.ServiceComponents"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.networkmaps.actions.popup.object.ServiceRoot"
            objectClass="org.netxms.client.objects.ServiceRoot">
         <action
               class="org.netxms.ui.eclipse.networkmaps.actions.ShowServiceComponents"
               enablesFor="1"
               icon="icons/service_components.gif"
               id="org.netxms.ui.eclipse.networkmaps.popupActions.ShowServiceComponents#serviceroot"
               label="%action.label.ServiceComponents"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.networkmaps.actions.popup.object.NetworkMapRoot"
            objectClass="org.netxms.client.objects.NetworkMapRoot">
         <action
               class="org.netxms.ui.eclipse.networkmaps.actions.CreateMapGroup"
               enablesFor="1"
               id="org.netxms.ui.eclipse.networkmaps.popupActions.CreateMapGroup#NetworkMapRoot"
               label="%action.label.CreateMapGroup"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.networkmaps.actions.CreateNetworkMap"
               enablesFor="1"
               id="org.netxms.ui.eclipse.networkmaps.popupActions.CreateMap#NetworkMapRoot"
               label="%action.label.CreateMap"
               menubarPath="objectcreation">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.networkmaps.actions.popup.object.NetworkMapGroup"
            objectClass="org.netxms.client.objects.NetworkMapGroup">
         <action
               class="org.netxms.ui.eclipse.networkmaps.actions.CreateMapGroup"
               enablesFor="1"
               id="org.netxms.ui.eclipse.networkmaps.popupActions.CreateMapGroup#NetworkMapGroup"
               label="%action.label.CreateMapGroup"
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.networkmaps.actions.CreateNetworkMap"
               enablesFor="1"
               id="org.netxms.ui.eclipse.networkmaps.popupActions.CreateMap#NetworkMapGroup"
               label="%action.label.CreateMap"
               menubarPath="objectcreation">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.networkmaps.actions.popup.object.NetworkMap"
            objectClass="org.netxms.client.objects.NetworkMap">
         <action
               class="org.netxms.ui.eclipse.networkmaps.actions.OpenMapObject"
               enablesFor="1"
               id="org.netxms.ui.eclipse.networkmaps.popupActions.Open#NetworkMap"
               label="%action.label.OpenMap"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.netxms.ui.eclipse.networkmaps.preferencepages.GeneralMapPreferences"
            id="org.netxms.ui.eclipse.networkmaps.preferencepages.General"
            name="%page.name.NetMaps">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.netxms.ui.eclipse.networkmaps.propertypages.MapOptions"
            id="org.netxms.ui.eclipse.networkmaps.propertypages.MapOptions"
            name="%page.name.MapOptions">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objects.NetworkMap">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.networkmaps.propertypages.MapObjectFilter"
            id="org.netxms.ui.eclipse.networkmaps.propertypages.MapObjectFilter"
            name="%page.name.ObjectFilter">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objects.NetworkMap">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.networkmaps.propertypages.MapBackground"
            id="org.netxms.ui.eclipse.networkmaps.propertypages.MapBackground"
            name="%page.name.MapBkgnd">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objects.NetworkMap">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.networkmaps.propertypages.MapLinkGeneral"
            id="org.netxms.ui.eclipse.networkmaps.propertypages.MapLinkGeneral#0"
            name="%page.name.General">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.networkmaps.views.helpers.LinkEditor">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.networkmaps.propertypages.DataSources"
            id="org.netxms.ui.eclipse.networkmaps.propertypages.DataSourcaes"
            name="%page.name.DataSources">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.networkmaps.views.helpers.LinkEditor">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.networkmaps.localCommands.PredefinedMap.AddObject"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="Ctrl+A">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.networkmaps.localCommands.PredefinedMap.LinkObjects"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="Ctrl+L">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.networkmaps.localCommands.PredefinedMap.Remove"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="Ctrl+R">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description.AddObj"
            id="org.netxms.ui.eclipse.networkmaps.localCommands.PredefinedMap.AddObject"
            name="%command.name.AddObj">
      </command>
      <command
            description="%command.description.LinkObj"
            id="org.netxms.ui.eclipse.networkmaps.localCommands.PredefinedMap.LinkObjects"
            name="%command.name.LinkObj">
      </command>
      <command
            description="%command.description.Remove"
            id="org.netxms.ui.eclipse.networkmaps.localCommands.PredefinedMap.Remove"
            name="%command.name.Remove">
      </command>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.objectbrowser.objectOpenHandlers">
      <handler
            class="org.netxms.ui.eclipse.networkmaps.NetworkMapOpenHandler"
            enabledFor="org.netxms.client.objects.NetworkMap"
            priority="10">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.netxms.ui.eclipse.networkmaps.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
