<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.netxms.client.ServerFile"
            class="org.netxms.ui.eclipse.filemanager.ServerFileAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.Node"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_Node"
               label="Upload file..."
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.Container"
            objectClass="org.netxms.client.objects.Container">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_Container"
               label="Upload file..."
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.ServiceRoot"
            objectClass="org.netxms.client.objects.ServiceRoot">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_ServiceRoot"
               label="Upload file..."
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.Subnet"
            objectClass="org.netxms.client.objects.Subnet">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_Subnet"
               label="Upload file..."
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.filemanager.actions.popup.object.EntireNetwork"
            objectClass="org.netxms.client.objects.EntireNetwork">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToAgent"
               enablesFor="+"
               id="org.netxms.ui.eclipse.filemanager.popupActions.UploadFileToAgent_EntireNetwork"
               label="Upload file..."
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Upload local file to server"
            id="org.netxms.ui.eclipse.filemanager.commands.upload_file_to_server"
            name="Upload file to server...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.filemanager.action_set"
            label="File Manager Action Set"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.filemanager.actions.UploadFileToServer"
               definitionId="org.netxms.ui.eclipse.filemanager.commands.upload_file_to_server"
               icon="icons/upload.png"
               id="org.netxms.ui.eclipse.filemanager.actions.upload_file_to_server"
               label="Upload file to server..."
               menubarPath="tools/additions"
               tooltip="Upload local file to server&apos;s file store">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.filemanager.commands.upload_file_to_server"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+U">
      </key>
   </extension>

</plugin>
