<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.netxms.ui.android" android:versionName="1.2.4" android:versionCode="5">
	<uses-sdk android:targetSdkVersion="11" android:minSdkVersion="8"></uses-sdk>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <application android:icon="@drawable/icon" 
    	android:theme="@style/AppTheme"
    	android:label="@string/app_name" 
    	android:enabled="true" android:hardwareAccelerated="true" android:name="NXApplication">
    	<receiver android:name="org.netxms.ui.android.receiver.BootCompletedIntentReceiver">  
			<intent-filter>  
		 		<action android:name="android.intent.action.BOOT_COMPLETED" />
		 		<category android:name="android.intent.category.HOME" /> 		
		 	</intent-filter>  
		</receiver>
		<receiver android:name="org.netxms.ui.android.receiver.ConnectivityChangeIntentReceiver"> 
   			<intent-filter> 
      			<action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> 
      		</intent-filter> 
		</receiver> 
		<receiver android:name="org.netxms.ui.android.receiver.AlarmIntentReceiver">
		</receiver> 
		<service android:name="org.netxms.ui.android.service.ClientConnectorService"
    	         android:label="@string/app_name"
    	         android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    	</service>
        <activity android:label="@string/app_name"
                  android:launchMode="singleTop"
                  android:name=".main.activities.HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" 
                  android:name=".main.activities.NodeInfo">
        </activity>        
        <activity android:name=".main.activities.AlarmBrowser"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".main.activities.ConsolePreferences"
                  android:label="@string/settings">
        </activity>
        <activity android:label="@string/app_name" 
                  android:name=".main.activities.NodeBrowser">
        </activity>
        <activity android:label="@string/app_name" 
                  android:name=".main.activities.GraphBrowser">
        </activity>
		<activity android:label="@string/app_name" 
                  android:name=".main.activities.ConnectionPointBrowser">
		</activity>
        <activity android:label="@string/app_name" 
                  android:name=".main.activities.DrawGraph">
        </activity>        
        <activity android:label="@string/app_name" 
                  android:name=".main.activities.DrawBarChart">
        </activity>        
        <activity android:label="@string/app_name" 
                  android:name=".main.activities.DrawPieChart">
        </activity>        
        <activity android:label="@string/app_name" 
                  android:name=".main.activities.DashboardBrowser">
        </activity>
        <activity android:label="@string/app_name" 
                  android:name=".main.activities.DashboardActivity">
        </activity>
        <activity android:label="@string/app_name" 
                  android:name=".main.activities.NodePollerActivity">
        </activity>
        <activity android:label="@string/app_name" 
                  android:name=".main.activities.TableLastValues">
        </activity>
        	</application>
</manifest>
