<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
     point = "org.eclipse.ui.propertyPages">
        <page
           id="org.netxms.ui.eclipse.policymanager.propertypages.Policy"
           name="Policy"
	       class="org.netxms.ui.eclipse.policymanager.propertypages.Policy">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.AgentPolicy">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.policymanager.propertypages.ConfigFile"
           name="Configuration File"
	       class="org.netxms.ui.eclipse.policymanager.propertypages.ConfigFile">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.AgentPolicyConfig">
             </instanceof>
          </enabledWhen>
        </page>
  </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.createPolicyGroup_NXCPolicyRoot"
            objectClass="org.netxms.client.objects.PolicyRoot">
         <action
               class="org.netxms.ui.eclipse.policymanager.actions.CreatePolicyGroup"
               enablesFor="1"
               id="org.netxms.ui.eclipse.policymanager.popupActions.CreatePolicyGroup"
               label="Create policy group..."
               menubarPath="objectcreation">
         </action>
      </objectContribution>

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.createPolicyGroup_NXCPolicyGroup"
            objectClass="org.netxms.client.objects.PolicyGroup">
         <action
               class="org.netxms.ui.eclipse.policymanager.actions.CreatePolicyGroup"
               enablesFor="1"
               id="org.netxms.ui.eclipse.policymanager.popupActions.CreatePolicyGroup"
               label="Create policy group..."
               menubarPath="objectcreation">
         </action>
      </objectContribution>

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.createAgentPolicyConfig_NXCPolicyRoot"
            objectClass="org.netxms.client.objects.PolicyRoot">
         <action
               class="org.netxms.ui.eclipse.policymanager.actions.CreateAgentPolicyConfig"
               enablesFor="1"
               id="org.netxms.ui.eclipse.policymanager.popupActions.CreateAgentPolicyConfig"
               label="Create agent policy (configuration file)..."
               menubarPath="objectcreation">
         </action>
      </objectContribution>

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.createAgentPolicyConfig_NXCPolicyGroup"
            objectClass="org.netxms.client.objects.PolicyGroup">
         <action
               class="org.netxms.ui.eclipse.policymanager.actions.CreateAgentPolicyConfig"
               enablesFor="1"
               id="org.netxms.ui.eclipse.policymanager.popupActions.CreateAgentPolicyConfig"
               label="Create agent policy (configuration file)..."
               menubarPath="objectcreation">
         </action>
      </objectContribution>

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.uninstallPolicy"
            objectClass="org.netxms.client.objects.AgentPolicy">
         <action
               class="org.netxms.ui.eclipse.policymanager.actions.UninstallPolicy"
               enablesFor="1"
               id="org.netxms.ui.eclipse.policymanager.popupActions.UninstallPolicy"
               label="Uninstall..."
               menubarPath="objectmgmt">
         </action>
      </objectContribution>

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.installPolicy"
            objectClass="org.netxms.client.objects.AgentPolicy">
         <action
               class="org.netxms.ui.eclipse.policymanager.actions.InstallPolicy"
               enablesFor="1"
               id="org.netxms.ui.eclipse.policymanager.popupActions.InstallPolicy"
               label="Install..."
               menubarPath="objectmgmt">
         </action>
      </objectContribution>
   </extension>

</plugin>
