<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Config"
            id="org.netxms.ui.eclipse.config">
      </category>
      <view
            name="Event Processing Policy"
            icon="icons/epp.png"
            category="org.netxms.ui.eclipse.config"
            class="org.netxms.ui.eclipse.epp.views.EventProcessingPolicyEditor"
            id="org.netxms.ui.eclipse.epp.view.policy_editor">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Views"
            id="org.netxms.ui.eclipse.console.category.views">
      </category>
      <command
            name="Event Processing Policy"
            description="Open event processing policy editor"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.epp.commands.open_policy_editor">
      </command>
   </extension>

   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.epp.action_sets.open"
		   label="Event Processing Policy"
		   visible="true">
		   <action id="org.netxms.ui.eclipse.epp.actions.open"
			   menubarPath="view/config/additions"
			   label="Event Processing Policy"
			   tooltip="Open event processing policy editor"
			   icon="icons/epp.png"
			   class="org.netxms.ui.eclipse.epp.actions.OpenPolicyEditor"
			   definitionId="org.netxms.ui.eclipse.epp.commands.open_policy_editor">
		   </action>
	   </actionSet>
   </extension>
</plugin>
