<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.netxms.ui.eclipse.objecttools.toolhandlers" name="Object Tool Handlers" schema="schema/org.netxms.ui.eclipse.objecttools.toolhandlers.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=objectmgmt">
         <dynamic
               class="org.netxms.ui.eclipse.objecttools.ObjectToolsDynamicMenu"
               id="org.netxms.ui.eclipse.objecttools.objectToolsDynamicMenu">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                           value="org.netxms.client.objects.Node">
                     </instanceof>
                     <instanceof
                           value="org.netxms.client.events.Alarm">
                     </instanceof>
                     <instanceof
                           value="org.netxms.client.objects.Container">
                     </instanceof>
                     <instanceof
                           value="org.netxms.client.objects.ServiceRoot">
                     </instanceof>
                     <instanceof
                           value="org.netxms.client.objects.Subnet">
                     </instanceof>
                     <instanceof
                           value="org.netxms.client.objects.Cluster">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.viewcategory.tools"
            class="org.netxms.ui.eclipse.objecttools.views.TableToolResults"
            icon="icons/table.gif"
            id="org.netxms.ui.eclipse.objecttools.views.TableToolResults"
            name="%view.name.TableResults"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.objecttools.views.ObjectToolsEditor"
            icon="icons/tools.png"
            id="org.netxms.ui.eclipse.objecttools.views.ObjectToolsEditor"
            name="%view.name.ObjectTools"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.objecttools.views.FileViewer"
            icon="icons/file_download.png"
            id="org.netxms.ui.eclipse.objecttools.views.FileViewer"
            name="%view.name.FileViewer"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.objecttools.views.AgentActionResults"
            icon="icons/console.png"
            id="org.netxms.ui.eclipse.objecttools.views.AgentActionResults"
            name="Agent Action"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description.ObjectTools"
            id="org.netxms.ui.eclipse.objecttools.commands.open_objecttools_editor"
            name="%command.name.ObjectTools">
      </command>
      <command
            description="%command.description.Terminate"
            id="org.netxms.ui.eclipse.objecttools.commands.terminate_process"
            name="%command.name.Terminate">
      </command>
      <command
            description="%command.description.SelectAll"
            id="org.netxms.ui.eclipse.objecttools.commands.select_all"
            name="%command.name.SelectAll">
      </command>
      <command
            description="%command.description.Copy"
            id="org.netxms.ui.eclipse.objecttools.commands.copy"
            name="%command.name.Copy">
      </command>
      <command
            description="Scroll lock"
            id="org.netxms.ui.eclipse.objecttools.commands.scroll_lock"
            name="Scroll lock">
      </command>
      <command
            description="Clear output"
            id="org.netxms.ui.eclipse.objecttools.commands.clear_output"
            name="Clear output">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.action_set.object_tools"
            label="%actionSet.label.ObjectTools"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.objecttools.actions.OpenObjectToolsEditor"
               definitionId="org.netxms.ui.eclipse.objecttools.commands.open_objecttools_editor"
               icon="icons/tools.png"
               id="org.netxms.ui.eclipse.objecttools.actions.open_editor"
               label="%action.label.ObjectTools"
               menubarPath="config/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.netxms.client.objecttools.ObjectTool"
            class="org.netxms.ui.eclipse.objecttools.ObjectToolsAdapterFactory">
         <adapter
               type="org.netxms.client.objecttools.ObjectToolDetails">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.netxms.ui.eclipse.objecttools.propertypages.General"
            id="org.netxms.ui.eclipse.objecttools.propertypages.General#1"
            name="%page.name.General">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objecttools.ObjectTool">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.objecttools.propertypages.AccessControl"
            id="org.netxms.ui.eclipse.objecttools.propertypages.AccessControl#2"
            name="%page.name.AccessControl">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objecttools.ObjectTool">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.objecttools.propertypages.Filter"
            id="org.netxms.ui.eclipse.objecttools.propertypages.Filter#3"
            name="%page.name.Filter">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objecttools.ObjectTool">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.objecttools.propertypages.Columns"
            id="org.netxms.ui.eclipse.objecttools.propertypages.Columns#4"
            name="%page.name.Columns">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objecttools.ObjectTool">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.netxms.ui.eclipse.objecttools.context.AbstractCommandResults"
            name="Abstract Command Results"
            parentId="org.eclipse.ui.contexts.window">
      </context>
      <context
            id="org.netxms.ui.eclipse.objecttools.context.FileViewer"
            name="FileViewer"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.objecttools.commands.copy"
            contextId="org.netxms.ui.eclipse.objecttools.context.AbstractCommandResults"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+C">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.objecttools.commands.copy"
            contextId="org.netxms.ui.eclipse.objecttools.context.FileViewer"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+C">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.objecttools.commands.select_all"
            contextId="org.netxms.ui.eclipse.objecttools.context.AbstractCommandResults"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+A">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.objecttools.commands.select_all"
            contextId="org.netxms.ui.eclipse.objecttools.context.FileViewer"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+A">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.objecttools.commands.terminate_process"
            contextId="org.netxms.ui.eclipse.objecttools.context.AbstractCommandResults"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="CTRL+BREAK">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.objecttools.commands.scroll_lock"
            contextId="org.netxms.ui.eclipse.objecttools.context.AbstractCommandResults"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="PAUSE">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.objecttools.commands.scroll_lock"
            contextId="org.netxms.ui.eclipse.objecttools.context.FileViewer"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="PAUSE">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.objecttools.commands.clear_output"
            contextId="org.netxms.ui.eclipse.objecttools.context.AbstractCommandResults"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+L">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.objecttools.commands.clear_output"
            contextId="org.netxms.ui.eclipse.objecttools.context.FileViewer"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+L">
      </key>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.loginlisteners">
      <loginlistener
            class="org.netxms.ui.eclipse.objecttools.LoginListener">
      </loginlistener>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.objecttools.toolhandlers">
      <handler
            class="org.netxms.ui.eclipse.objecttools.WakeupToolHandler"
            id="wakeup">
      </handler>
   </extension>

</plugin>
