<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.preferencePages">
      <page name="%prefPage.Charts"
            class="org.netxms.ui.eclipse.charts.preferencepages.GeneralChartPrefs"
            id="org.eclipse.ui.preferencePages.Charts">
      </page>
      <page name="%prefPage.Colors"
            class="org.netxms.ui.eclipse.charts.preferencepages.ChartColors"
            id="org.eclipse.ui.preferencePages.Charts"
            category="org.eclipse.ui.preferencePages.Charts">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.netxms.ui.eclipse.charts.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
   		id="org.netxms.ui.eclipse.charts.LineChartResources"
         point="org.eclipse.rap.ui.resources">
         <resource
               class="org.netxms.ui.eclipse.charts.widgets.LineChartResource">
         </resource>
         <resource
               class="org.netxms.ui.eclipse.charts.widgets.FlotAPIResource">
         </resource>
   </extension>
</plugin>
