/* general */

.gwt-StackPanel
{
	width: 100%;
	height: 100%;
}

.gwt-StackPanel .gwt-StackPanelItem
{
	font-family: Verdana, Helvetica;
	font-weight: bold;
}

.gwt-StackPanel .gwt-StackPanelItem-selected
{
	font-family: Verdana, Helvetica;
	font-weight: bold;
}


/* info bar */
.infoBar
{
	background-color: #3D5C7A;
}

.infoBar a
{
	color: #FFFFFF;
}


/* workarea */

.workarea
{
	background-color: #A0A0A0;
}


/* dialogs */

.gwt-DialogBox
{
	font-family: Verdana, Helvetica;
}

.gwt-DialogBox .Caption
{
	font-weight: bold;
}
