<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
     point = "org.eclipse.ui.propertyPages">
        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.General"
           name="General"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.General">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.NXCObject">
             </instanceof>
          </enabledWhen>
        </page>
  </extension>

  <extension
     point = "org.eclipse.ui.propertyPages">
        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.CustomAttributes"
           name="Custom Attributes"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.CustomAttributes">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.NXCObject">
             </instanceof>
          </enabledWhen>
        </page>
  </extension>

  <extension
     point = "org.eclipse.ui.propertyPages">
        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.AutoApply"
           name="Automatic Apply Rules"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.AutoApply">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.NXCTemplate">
             </instanceof>
          </enabledWhen>
        </page>
  </extension>

  <extension
     point = "org.eclipse.ui.propertyPages">
        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.AutoBind"
           name="Automatic Bind Rules"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.AutoBind">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.NXCContainer">
             </instanceof>
          </enabledWhen>
        </page>
  </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.bind"
            objectClass="org.netxms.client.NXCContainer">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.BindObject"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.BindObject"
               label="Bind..."
               menubarPath="objectmgmt">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.bind"
            objectClass="org.netxms.client.NXCServiceRoot">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.BindObject"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.BindObject"
               label="Bind..."
               menubarPath="objectmgmt">
         </action>
      </objectContribution>
   </extension>

</plugin>
