<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
     point = "org.eclipse.ui.propertyPages">
        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.General"
           name="General"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.General">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.GenericObject">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.CustomAttributes"
           name="Custom Attributes"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.CustomAttributes">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.GenericObject">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.Comments"
           name="Comments"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.Comments">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.GenericObject">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.AccessControl"
           name="Access Control"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.AccessControl">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.GenericObject">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.AutoApply"
           name="Automatic Apply Rules"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.AutoApply">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.Template">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.AutoBind"
           name="Automatic Bind Rules"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.AutoBind">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.Container">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.Communication"
           name="Communication"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.Communication">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.Node">
             </instanceof>
          </enabledWhen>
        </page>

        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.TrustedNodes"
           name="Trusted Nodes"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.TrustedNodes">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.objects.Node">
             </instanceof>
          </enabledWhen>
        </page>
  </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.delete"
            objectClass="org.netxms.client.objects.GenericObject">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.DeleteObject"
               enablesFor="+"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.DeleteObject"
               label="Delete"
               icon="icons/delete.png"
               menubarPath="objectmgmt">
         </action>
      </objectContribution>

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.unbind_NXCContainer"
            objectClass="org.netxms.client.objects.Container">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.UnbindObject"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.UnbindObject"
               label="Unbind..."
               menubarPath="objectbinding">
         </action>
      </objectContribution>

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.unbind_NXCServiceRoot"
            objectClass="org.netxms.client.objects.ServiceRoot">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.UnbindObject"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.UnbindObject"
               label="Unbind..."
               menubarPath="objectbinding">
         </action>
      </objectContribution>

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.bind_NXCContainer"
            objectClass="org.netxms.client.objects.Container">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.BindObject"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.BindObject"
               label="Bind..."
               menubarPath="objectbinding">
         </action>
      </objectContribution>

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.bind_NXCServiceRoot"
            objectClass="org.netxms.client.objects.ServiceRoot">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.BindObject"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.BindObject"
               label="Bind..."
               menubarPath="objectbinding">
         </action>
      </objectContribution>

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.changeIpAddress"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.ChangeIpAddress"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.ChangeIpAddress"
               label="Change IP address..."
               menubarPath="objectmgmt">
         </action>
      </objectContribution>

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.unmanage"
            objectClass="org.netxms.client.objects.GenericObject">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.Unmanage"
               enablesFor="+"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.Unmanage"
               label="Unmanage"
               menubarPath="objectmgmt">
         </action>
      </objectContribution>

      <objectContribution
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.manage"
            objectClass="org.netxms.client.objects.GenericObject">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.Manage"
               enablesFor="+"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.Manage"
               label="Manage"
               menubarPath="objectmgmt">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.removeClusterNode"
            objectClass="org.netxms.client.objects.Cluster">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.RemoveClusterNode"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.removeClusterNode"
               label="&amp;Remove node..."
               menubarPath="objectbinding">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectmanager.actions.popup.object.addClusterNode"
            objectClass="org.netxms.client.objects.Cluster">
         <action
               class="org.netxms.ui.eclipse.objectmanager.actions.AddClusterNode"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectmanager.popupActions.addClusterNode"
               label="&amp;Add node..."
               menubarPath="objectbinding">
         </action>
      </objectContribution>
   </extension>

</plugin>
