<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
     point = "org.eclipse.ui.propertyPages">
        <page
           id="org.netxms.ui.eclipse.objectmanager.propertypages.General"
           name="General"
	       class="org.netxms.ui.eclipse.objectmanager.propertypages.General">
          <enabledWhen>
             <instanceof
                  value="org.netxms.client.NXCObject">
             </instanceof>
          </enabledWhen>
        </page>
  </extension>

</plugin>
