<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.agentmanager.views.AgentConfigEditorView"
            icon="icons/agent_config.gif"
            id="org.netxms.ui.eclipse.agentmanager.views.AgentConfigEditorView"
            name="Agent Config"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.agentmanager.actions.popup.object.Node"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.agentmanager.actions.OpenAgentConfig"
               enablesFor="+"
               icon="icons/agent_config.gif"
               id="org.netxms.ui.eclipse.agentmanager.popupActions.OpenAgentConfig_Node"
               label="Edit agent&apos;s configuration file"
               menubarPath="objectmgmt"
               style="push">
         </action>
      </objectContribution>
   </extension>

</plugin>
