Redirect 301 /wiki http://wiki.netxms.org/wiki

RewriteEngine on
RewriteCond %{http_host} ^netxms.org [nc]
RewriteRule ^(.*)$ http://www.netxms.org/$1 [r=301,nc]

RewriteCond %{http_host} ^netxms.com [nc]
RewriteRule ^(.*)$ http://www.netxms.com/$1 [r=301,nc]



rewritecond %{REMOTE_ADDR} 85\.92\.84\.232
RewriteCond %{REQUEST_URI} ^/archive.*$
RewriteRule !^MESSAGE\.html$ /archMESSAGE.html [NC,L] 
