<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="History Graph"
            allowMultiple="true"
            icon="icons/graph.png"
            class="org.netxms.ui.eclipse.charts.views.HistoryGraph"
            id="org.netxms.ui.eclipse.charts.views.HistoryGraph">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.charts.views.PredefinedGraphTree"
            icon="icons/graph_tree.png"
            id="org.netxms.ui.eclipse.charts.views.PredefinedGraphTree"
            name="Graphs"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.charts.views.BarChart"
            icon="icons/chart_bar.png"
            id="org.netxms.ui.eclipse.charts.views.BarChart"
            name="Bar Chart"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.charts.actions.popup.dci.graph_DciValue"
            objectClass="org.netxms.client.datacollection.DciValue">
         <action
               class="org.netxms.ui.eclipse.charts.actions.ShowHistoryGraph"
               id="org.netxms.ui.eclipse.charts.popupActions.ShowHistoryGraph"
               label="Graph"
               icon="icons/chart_line.png"
               menubarPath="additions">
         </action>
         <action
               class="org.netxms.ui.eclipse.charts.actions.ShowBarChart"
               icon="icons/chart_bar.png"
               id="org.netxms.ui.eclipse.charts.popupActions.ShowBarChart"
               label="Bar Chart"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.charts.actions.popup.dci.graph_DataCollectionItem"
            objectClass="org.netxms.client.datacollection.DataCollectionItem">
         <action
               class="org.netxms.ui.eclipse.charts.actions.ShowHistoryGraph"
               id="org.netxms.ui.eclipse.charts.popupActions.ShowHistoryGraph"
               label="Graph"
               icon="icons/chart_line.png"
               menubarPath="additions">
         </action>
         <action
               class="org.netxms.ui.eclipse.charts.actions.ShowBarChart"
               icon="icons/chart_bar.png"
               id="org.netxms.ui.eclipse.charts.popupActions.ShowBarChart"
               label="Bar Chart"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page name="Charts"
            class="org.netxms.ui.eclipse.charts.preferencepages.GeneralChartPrefs"
            id="org.eclipse.ui.preferencePages.Charts">
      </page>
      <page name="Colors"
            class="org.netxms.ui.eclipse.charts.preferencepages.ChartColors"
            id="org.eclipse.ui.preferencePages.Charts"
            category="org.eclipse.ui.preferencePages.Charts">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.netxms.ui.eclipse.charts.propertypages.PerfTab"
            id="org.netxms.ui.eclipse.charts.propertypages.PerfTab"
            name="Performance Tab">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.datacollection.DataCollectionItem">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Open predefined graphs navigation view"
            id="org.netxms.ui.eclipse.charts.commands.open_predef_graph_tree"
            name="Predefined Graphs">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.charts.action_set"
            label="Graphs"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.charts.actions.OpenPredefinedGraphsTree"
               definitionId="org.netxms.ui.eclipse.charts.commands.open_predef_graph_tree"
               icon="icons/graph_tree.png"
               id="org.netxms.ui.eclipse.charts.action.open_predef_graph_tree"
               label="Predefined Graphs"
               menubarPath="view/primary"
               style="push"
               toolbarPath="view/additions">
         </action>
      </actionSet>
   </extension>

</plugin>
