<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="History Graph"
            allowMultiple="true"
            icon="icons/graph.png"
            class="org.netxms.ui.eclipse.charts.views.HistoryGraph"
            id="org.netxms.ui.eclipse.charts.view.history_graph">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.charts.actions.popup.dci.graph_DciValue"
            objectClass="org.netxms.client.datacollection.DciValue">
         <action
               class="org.netxms.ui.eclipse.charts.actions.ShowHistoryGraph"
               id="org.netxms.ui.eclipse.charts.popupActions.ShowHistoryGraph"
               label="Graph"
               icon="icons/graph.png"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.charts.actions.popup.dci.graph_DataCollectionItem"
            objectClass="org.netxms.client.datacollection.DataCollectionItem">
         <action
               class="org.netxms.ui.eclipse.charts.actions.ShowHistoryGraph"
               id="org.netxms.ui.eclipse.charts.popupActions.ShowHistoryGraph"
               label="Graph"
               icon="icons/graph.png"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page name="Charts"
            class="org.netxms.ui.eclipse.charts.preferencepages.GeneralChartPrefs"
            id="org.eclipse.ui.preferencePages.Charts">
      </page>
      <page name="Colors"
            class="org.netxms.ui.eclipse.charts.preferencepages.ChartColors"
            id="org.eclipse.ui.preferencePages.Charts"
            category="org.eclipse.ui.preferencePages.Charts">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.netxms.ui.eclipse.charts.propertypages.PerfTab"
            id="org.netxms.ui.eclipse.charts.propertypages.PerfTab"
            name="Performance Tab">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.datacollection.DataCollectionItem">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
