<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Location Map"
            allowMultiple="true"
            icon="icons/map.png"
            class="org.netxms.ui.eclipse.osm.views.LocationMap"
            id="org.netxms.ui.eclipse.osm.views.LocationMap">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.osm.actions.popup.object.showmap_NXCNode"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.osm.actions.OpenLocationMap"
               enablesFor="1"
               id="org.netxms.ui.eclipse.osm.popupActions.OpenLocationMap_NXCNode"
               label="Location map"
               icon="icons/map.png"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
