<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name.Geolocation"
            allowMultiple="true"
            icon="icons/map.png"
            class="org.netxms.ui.eclipse.osm.views.LocationMap"
            id="org.netxms.ui.eclipse.osm.views.LocationMap">
      </view>
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.networkmaps.viewCategory.networkmaps"
            class="org.netxms.ui.eclipse.osm.views.WorldMap"
            icon="icons/map.png"
            id="org.netxms.ui.eclipse.osm.views.WorldMap"
            name="%view.name.WorldMap"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.osm.actions.popup.object.Node"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.osm.actions.OpenLocationMap"
               enablesFor="1"
               id="org.netxms.ui.eclipse.osm.popupActions.OpenLocationMap#Node"
               label="%action.label.Geolocation"
               icon="icons/map.png"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.osm.actions.popup.object.Cluster"
            objectClass="org.netxms.client.objects.Cluster">
         <action
               class="org.netxms.ui.eclipse.osm.actions.OpenLocationMap"
               enablesFor="1"
               icon="icons/map.png"
               id="org.netxms.ui.eclipse.osm.popupActions.OpenLocationMap#Cluster"
               label="%action.label.Geolocation"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.osm.actions.popup.object.Container"
            objectClass="org.netxms.client.objects.Container">
         <action
               class="org.netxms.ui.eclipse.osm.actions.OpenLocationMap"
               enablesFor="1"
               icon="icons/map.png"
               id="org.netxms.ui.eclipse.osm.popupActions.OpenLocationMap#Container"
               label="%action.label.Geolocation"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.osm.actions.popup.object.MobileDevice"
            objectClass="org.netxms.client.objects.MobileDevice">
         <action
               class="org.netxms.ui.eclipse.osm.actions.OpenLocationMap"
               enablesFor="1"
               icon="icons/map.png"
               id="org.netxms.ui.eclipse.osm.popupActions.OpenLocationMap#MobileDevice"
               label="%action.label.Geolocation"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description.WorldMap"
            id="org.netxms.ui.eclipse.osm.commands.open_world_map"
            name="%command.name.WorldMap">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.action_set.open_world_map"
            label="%actionSet.label.WorldMap"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.osm.actions.OpenWorldMap"
               definitionId="org.netxms.ui.eclipse.osm.commands.open_world_map"
               icon="icons/map.png"
               id="org.netxms.ui.eclipse.osm.actions.open_world_map"
               label="%action.label.WorldMap"
               menubarPath="view/primary"
               style="push"
               tooltip="%action.tooltip.WorldMap">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.loginlisteners">
      <loginlistener
            class="org.netxms.ui.eclipse.osm.LoginListener">
      </loginlistener>
   </extension>

</plugin>
