<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Dashboard"
            icon="icons/dashboard.png"
            class="org.netxms.ui.eclipse.dashboard.perspectives.DashboardPerspective"
            id="org.netxms.ui.eclipse.dashboard.DashboardPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.dashboard.actions.popup.object.DashboardRoot"
            objectClass="org.netxms.client.objects.DashboardRoot">
         <action
               class="org.netxms.ui.eclipse.dashboard.actions.CreateDashboard"
               enablesFor="1"
               id="org.netxms.ui.eclipse.dashboard.popupActions.CreateDashboard#DashboardRoot"
               label="Create &amp;dashboard..."
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.dashboard.actions.ImportDashboard"
               enablesFor="1"
               icon="icons/import.gif"
               id="org.netxms.ui.eclipse.dashboard.actions.ImportDashboard#DashboardRoot"
               label="&amp;Import dashboard..."
               menubarPath="objectcreation">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.dashboard.actions.popup.object.Dashboard"
            objectClass="org.netxms.client.objects.Dashboard">
         <action
               class="org.netxms.ui.eclipse.dashboard.actions.CreateDashboard"
               enablesFor="1"
               id="org.netxms.ui.eclipse.dashboard.popupActions.CreateDashboard#Dashboard"
               label="Create &amp;dashboard..."
               menubarPath="objectcreation">
         </action>
         <action
               class="org.netxms.ui.eclipse.dashboard.actions.OpenDashboard"
               enablesFor="1"
               id="org.netxms.ui.eclipse.dashboard.popupActions.OpenDashboard"
               label="&amp;Open dashboard"
               menubarPath="additions">
         </action>
         <action
               class="org.netxms.ui.eclipse.dashboard.actions.CloneDashboard"
               id="org.netxms.ui.eclipse.dashboard.popupActions.CloneDashboard"
               label="Clone dashboard"
               menubarPath="additions">
         </action>
         <action
               class="org.netxms.ui.eclipse.dashboard.actions.ExportDashboard"
               icon="icons/export.gif"
               id="org.netxms.ui.eclipse.dashboard.actions.ExportDashboard"
               label="Export..."
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.dashboard.views.DashboardView"
            icon="icons/dashboard.png"
            id="org.netxms.ui.eclipse.dashboard.views.DashboardView"
            name="Dashboard"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.dashboard.views.DashboardNavigator"
            id="org.netxms.ui.eclipse.dashboard.views.DashboardNavigator"
            name="Dashboard Navigator"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.dashboard.views.DashboardDynamicView"
            icon="icons/dashboard.png"
            id="org.netxms.ui.eclipse.dashboard.views.DashboardDynamicView"
            name="Dashboard"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.DashboardElements"
            id="org.netxms.ui.eclipse.dashboard.propertypages.DashboardElements"
            name="Dashboard Elements">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objects.Dashboard">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.Layout"
            id="org.netxms.ui.eclipse.dashboard.propertypages.Layout#100"
            name="Layout">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.DashboardElementConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.LabelProperties"
            id="org.netxms.ui.eclipse.dashboard.propertypages.LabelProperties#0"
            name="Label">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.LabelConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.DataSources"
            id="org.netxms.ui.eclipse.dashboard.propertypages.DataSources#20"
            name="Data Sources">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.AbstractChartConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.EmbeddedDashboard"
            id="org.netxms.ui.eclipse.dashboard.propertypages.EmbeddedDashboard#0"
            name="Dashboard">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.EmbeddedDashboardConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.AvailabilityChart"
            id="org.netxms.ui.eclipse.dashboard.propertypages.AvailabilityChart#0"
            name="Availability Chart">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.AvailabilityChartConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.StatusIndicator"
            id="org.netxms.ui.eclipse.dashboard.propertypages.StatusIndicator#0"
            name="Status Indicator">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.StatusIndicatorConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.ObjectStatusChart"
            id="org.netxms.ui.eclipse.dashboard.propertypages.ObjectStatusChart#0"
            name="Object Status Chart">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.ObjectStatusChartConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.NetworkMap"
            id="org.netxms.ui.eclipse.dashboard.propertypages.NetworkMap#0"
            name="Network Map">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.NetworkMapConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.DialChart"
            id="org.netxms.ui.eclipse.dashboard.propertypages.DialChart#10"
            name="Dial Chart">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.DialChartConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.WebPage"
            id="org.netxms.ui.eclipse.dashboard.propertypages.WebPage#0"
            name="Web Page">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.WebPageConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.AlarmViewer"
            id="org.netxms.ui.eclipse.dashboard.propertypages.AlarmViewer#0"
            name="Alarm Viewer">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.AlarmViewerConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.AbstractChart"
            id="org.netxms.ui.eclipse.dashboard.propertypages.AbstractChart#0"
            name="Chart">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.AbstractChartConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.TableDataSource"
            id="org.netxms.ui.eclipse.dashboard.propertypages.TableDataSource#20"
            name="Data Source">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.TableComparisonChartConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.TableComparisonChart"
            id="org.netxms.ui.eclipse.dashboard.propertypages.TableComparisonChart#0"
            name="Chart">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.TableComparisonChartConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.CustomWidget"
            id="org.netxms.ui.eclipse.dashboard.propertypages.CustomWidget#0"
            name="Custom Widget">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.CustomWidgetConfig">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.dashboard.propertypages.GeoMap"
            id="org.netxms.ui.eclipse.dashboard.propertypages.GeoMap#0"
            name="Geo Map">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.dashboard.widgets.internal.GeoMapConfig">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.netxms.client.dashboards.DashboardElement"
            class="org.netxms.ui.eclipse.dashboard.DashboardElementAdapterFactory">
         <adapter
               type="org.netxms.ui.eclipse.dashboard.widgets.internal.DashboardElementConfig">
         </adapter>
      </factory>
   </extension>

</plugin>
