<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.AlarmBrowser"
            allowMultiple="false"
            icon="icons/alarm_browser.png"
            class="org.netxms.ui.eclipse.alarmviewer.views.AlarmBrowser"
            id="org.netxms.ui.eclipse.alarmviewer.view.alarm_browser">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.alarmviewer.views.AlarmComments"
            icon="icons/comments.png"
            id="org.netxms.ui.eclipse.alarmviewer.views.AlarmComments"
            name="Alarm Comments"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.alarmviewer.views.ObjectAlarmBrowser"
            icon="icons/alarm_browser.png"
            id="org.netxms.ui.eclipse.alarmviewer.views.ObjectAlarmBrowser"
            name="%view.AlarmBrowser"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.alarmviewer.views.AlarmDetails"
            icon="icons/alarm_browser.png"
            id="org.netxms.ui.eclipse.alarmviewer.views.AlarmDetails"
            name="Alarm Details"
            restorable="false">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%action.openAlarmBrowser"
            description="%actionDescription.openAlarmBrowser"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.alarmviewer.commands.open_alarm_browser">
      </command>
   </extension>
   
   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.action_set.alarm_browser"
		   label="Alarm Browser"
		   visible="true">
		   <action id="org.netxms.ui.eclipse.alarmviewer.actions.open"
			   menubarPath="view/primary"
			   toolbarPath="view/additions"
			   label="%action.openAlarmBrowser"
			   tooltip="%actionDescription.openAlarmBrowser"
			   icon="icons/alarm_browser.png"
			   class="org.netxms.ui.eclipse.alarmviewer.actions.OpenAlarmBrowser"
			   definitionId="org.netxms.ui.eclipse.alarmviewer.commands.open_alarm_browser">
		   </action>
	   </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.alarmviewer.commands.open_alarm_browser"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="F8">
      </key>
   </extension>


   <extension
         point="org.netxms.ui.eclipse.objectview.tabs">
      <tab
            class="org.netxms.ui.eclipse.alarmviewer.objecttabs.AlarmTab"
            icon="icons/alarm_browser.png"
            id="org.netxms.ui.eclipse.alarmviewer.objecttabs.AlarmTab"
            name="%tab.Alarms"
            order="20">
      </tab>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.loginlisteners">
      <loginlistener
            class="org.netxms.ui.eclipse.alarmviewer.LoginListener">
      </loginlistener>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.netxms.ui.eclipse.alarmviewer.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.netxms.ui.eclipse.alarmviewer.preferencepages.Alarms"
            id="org.netxms.ui.eclipse.alarmviewer.preferencepages.Alarms"
            name="Alarms">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.ui.eclipse.alarmviewer.actions.popup.object.Node"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.alarmviewer.actions.ShowObjectAlarms"
               enablesFor="1"
               icon="icons/alarm_browser.png"
               id="org.netxms.ui.eclipse.alarmviewer.popupActions.ShowObjectAlarms_Node"
               label="Alarms"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.alarmviewer.actions.popup.object.Subnet"
            objectClass="org.netxms.client.objects.Subnet">
         <action
               class="org.netxms.ui.eclipse.alarmviewer.actions.ShowObjectAlarms"
               enablesFor="1"
               icon="icons/alarm_browser.png"
               id="org.netxms.ui.eclipse.alarmviewer.popupActions.ShowObjectAlarms_Subnet"
               label="Alarms"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.alarmviewer.actions.popup.object.EntireNetwork"
            objectClass="org.netxms.client.objects.EntireNetwork">
         <action
               class="org.netxms.ui.eclipse.alarmviewer.actions.ShowObjectAlarms"
               enablesFor="1"
               icon="icons/alarm_browser.png"
               id="org.netxms.ui.eclipse.alarmviewer.popupActions.ShowObjectAlarms_EntireNetwork"
               label="Alarms"
               menubarPath="aditions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.alarmviewer.actions.popup.object.ServiceRoot"
            objectClass="org.netxms.client.objects.ServiceRoot">
         <action
               class="org.netxms.ui.eclipse.alarmviewer.actions.ShowObjectAlarms"
               enablesFor="1"
               icon="icons/alarm_browser.png"
               id="org.netxms.ui.eclipse.alarmviewer.popupActions.ShowObjectAlarms_ServiceRoot"
               label="Alarms"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.alarmviewer.actions.popup.object.Cluster"
            objectClass="org.netxms.client.objects.Cluster">
         <action
               class="org.netxms.ui.eclipse.alarmviewer.actions.ShowObjectAlarms"
               enablesFor="1"
               icon="icons/alarm_browser.png"
               id="org.netxms.ui.eclipse.alarmviewer.popupActions.ShowObjectAlarms_Cluster"
               label="Alarms"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.alarmviewer.actions.popup.object.Zone"
            objectClass="org.netxms.client.objects.Zone">
         <action
               class="org.netxms.ui.eclipse.alarmviewer.actions.ShowObjectAlarms"
               enablesFor="1"
               icon="icons/alarm_browser.png"
               id="org.netxms.ui.eclipse.alarmviewer.popupActions.ShowObjectAlarms_Zone"
               label="Alarms"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="org.netxms.ui.eclipse.alarmviewer.actions.popup.object.Container"
            objectClass="org.netxms.client.objects.Container">
         <action
               class="org.netxms.ui.eclipse.alarmviewer.actions.ShowObjectAlarms"
               enablesFor="1"
               icon="icons/alarm_browser.png"
               id="org.netxms.ui.eclipse.alarmviewer.popupActions.ShowObjectAlarms_Container"
               label="Alarms"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.objectview.objectDetailsProvider">
      <provider
            class="org.netxms.ui.eclipse.alarmviewer.AlarmDetailsProvider"
            name="Alarm Details Provider"
            priority="255">
      </provider>
   </extension>

</plugin>
