<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.netxms.nxmc.core.objecttab">
      <tab
            class="org.netxms.nxmc.alarmviewer.TabProvider">
      </tab>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Alarm Browser"
            allowMultiple="false"
            icon="icons/alarm_browser.png"
            class="org.netxms.nxmc.alarmviewer.AlarmBrowser"
            id="org.netxms.nxmc.alarmviewer.view.alarm_browser">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Views"
            id="org.netxms.nxmc.core.category.views">
      </category>
      <command
            name="Alarm Browser"
            description="Open Alarm Browser"
            categoryId="org.netxms.nxmc.core.category.views"
            id="org.netxms.nxmc.alarmviewer.commands.open_alarm_browser">
      </command>
   </extension>
   
   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.nxmc.alarmviewer.action_set"
		   label="Alarm Browser"
		   visible="true">
		   <action id="org.netxms.nxmc.alarmviewer.actions.open"
			   menubarPath="view/primary"
			   toolbarPath="view"
			   label="Alarm Browser"
			   tooltip="Open Alarm Browser"
			   icon="icons/alarm_browser.png"
			   class="org.netxms.nxmc.alarmviewer.actions.OpenAlarmBrowser"
			   definitionId="org.netxms.nxmc.alarmviewer.commands.open_alarm_browser">
		   </action>
	   </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.nxmc.alarmviewer.commands.open_alarm_browser"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8">
      </key>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.nxmc.alarmviewer.actions.popup.terminate_alarm"
            objectClass="org.netxms.client.NXCAlarm">
         <action
               class="org.netxms.nxmc.alarmviewer.actions.TerminateAlarm"
               id="org.netxms.nxmc.alarmviewer.popupActions.TerminateAlarm"
               label="Terminate"
   		       icon="icons/terminated.png"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.nxmc.alarmviewer.actions.popup.acknowledge_alarm"
            objectClass="org.netxms.client.NXCAlarm">
         <action
               class="org.netxms.nxmc.alarmviewer.actions.AcknowledgeAlarm"
               id="org.netxms.nxmc.alarmviewer.popupActions.AcknowledgeAlarm"
               label="Acknowledge"
   		       icon="icons/acknowledged.png"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
