<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.AlarmBrowser.name"
            allowMultiple="false"
            icon="icons/alarm_browser.png"
            class="org.netxms.ui.eclipse.alarmviewer.views.AlarmBrowser"
            id="org.netxms.ui.eclipse.alarmviewer.view.alarm_browser">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.alarmviewer.views.AlarmComments"
            icon="icons/comments.png"
            id="org.netxms.ui.eclipse.alarmviewer.views.AlarmComments"
            name="%view.AlarmComments.name"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.alarmviewer.views.ObjectAlarmBrowser"
            icon="icons/alarm_browser.png"
            id="org.netxms.ui.eclipse.alarmviewer.views.ObjectAlarmBrowser"
            name="%view.AlarmBrowser.name"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.alarmviewer.views.AlarmDetails"
            icon="icons/alarm_browser.png"
            id="org.netxms.ui.eclipse.alarmviewer.views.AlarmDetails"
            name="%view.AlarmDetails.name"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.alarmviewer.views.AlarmCategoryConfigurator"
            icon="icons/alarm_category.png"
            id="org.netxms.ui.eclipse.alarmviewer.view.alarm_category_configurator"
            name="Alarm Category Configurator">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.alarmviewer.views.AlarmLogViewer"
            id="org.netxms.ui.eclipse.alarmviewer.views.alarm_log_viewer"
            name="Alarm log viewer">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%action.openAlarmBrowser"
            description="%actionDescription.openAlarmBrowser"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.alarmviewer.commands.open_alarm_browser">
      </command>
      <command
            id="org.netxms.ui.eclipse.alarmviewer.commands.alarms"
            name="%action.Alarms.label">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="Open Alarm Category Configurator"
            id="org.netxms.ui.eclipse.alarmviewer.commands.open_alarm_category_configurator"
            name="Alarm Category Configurator">
      </command>
      <command
            description="Toggle Filter"
            id="org.netxms.ui.eclipse.alarmviewer.commands.show_filter"
            name="Toggle Filter">
      </command>
      <command
            description="Open alarm log"
            id="org.netxms.ui.eclipse.alarmviewer.commands.openAlarmLog"
            name="Open alarm log">
      </command>
   </extension>
   
   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.action_set.alarm_browser"
		   label="%actionSet.AlarmBrowser.label"
		   visible="true">
		   <action id="org.netxms.ui.eclipse.alarmviewer.actions.open"
			   menubarPath="view/primary"
			   toolbarPath="view/additions"
			   label="%action.openAlarmBrowser"
			   tooltip="%actionDescription.openAlarmBrowser"
			   icon="icons/alarm_browser.png"
			   class="org.netxms.ui.eclipse.alarmviewer.actions.OpenAlarmBrowser"
			   definitionId="org.netxms.ui.eclipse.alarmviewer.commands.open_alarm_browser">
		   </action>
	   </actionSet>
    <actionSet
          id="org.netxms.ui.eclipse.action_set.alarm_category_configurator"
          label="Alarm Category Configurator"
          visible="true">
       <action
             class="org.netxms.ui.eclipse.alarmviewer.actions.OpenAlarmCategoryConfigurator"
             definitionId="org.netxms.ui.eclipse.alarmviewer.commands.open_alarm_category_configurator"
             icon="icons/alarm_category.png"
             id="org.netxms.ui.eclipse.alarmviewer.actions.open_alarm_category_conf"
             label="Alarm Category Configurator"
             menubarPath="config/additions"
             tooltip="Open Alarm Category Configurator">
       </action>
    </actionSet>
    <actionSet
          id="org.netxms.ui.eclipse.action_set.alarm_log"
          label="Alarm Log"
          visible="true">
       <action
             class="org.netxms.ui.eclipse.alarmviewer.actions.OpenAlarmLog"
             definitionId="org.netxms.ui.eclipse.alarmviewer.commands.openAlarmLog"
             icon="icons/AlarmLog.png"
             id="org.netxms.ui.eclipse.alarmviewer.actions.openAlarmLog"
             label="Alarm log"
             menubarPath="view/logs"
             toolbarPath="logs/additions"
             tooltip="Open alarm log">
       </action>
    </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.alarmviewer.commands.open_alarm_browser"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="F8">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.alarmviewer.commands.alarms"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M3+Shift+A">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.alarmviewer.commands.show_filter"
            contextId="org.netxms.ui.eclipse.alarmviewer.context.AlarmCategoryConfigurator"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+F2">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.alarmviewer.commands.openAlarmLog"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="Alt+F8">
      </key>
   </extension>


   <extension
         point="org.netxms.ui.eclipse.objectview.tabs">
      <tab
            class="org.netxms.ui.eclipse.alarmviewer.objecttabs.AlarmTab"
            icon="icons/alarm_browser.png"
            id="org.netxms.ui.eclipse.alarmviewer.objecttabs.AlarmTab"
            name="%tab.Alarms"
            order="20">
      </tab>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.loginlisteners">
      <loginlistener
            class="org.netxms.ui.eclipse.alarmviewer.LoginListener">
      </loginlistener>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.netxms.ui.eclipse.alarmviewer.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.netxms.ui.eclipse.alarmviewer.preferencepages.Alarms"
            id="org.netxms.ui.eclipse.alarmviewer.preferencepages.Alarms"
            name="%page.Alarms.name">
      </page>
      <page
            category="org.netxms.ui.eclipse.alarmviewer.preferencepages.Alarms"
            class="org.netxms.ui.eclipse.alarmviewer.preferencepages.AlarmSounds"
            id="org.netxms.ui.eclipse.alarmviewer.preferencepages.AlarmSounds"
            name="%page.AlarmSounds.name">
      </page>
   </extension>
   <extension
         point="org.netxms.ui.eclipse.objectview.objectDetailsProvider">
      <provider
            class="org.netxms.ui.eclipse.alarmviewer.AlarmDetailsProvider"
            name="%provider.AlarmDetails.name"
            priority="255">
      </provider>
   </extension>
  
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.netxms.ui.eclipse.alarmviewer.actions.ShowObjectAlarms"
            commandId="org.netxms.ui.eclipse.alarmviewer.commands.alarms">
      </handler>
   </extension> 
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=eventsAndLogs">
         <command
               commandId="org.netxms.ui.eclipse.alarmviewer.commands.alarms"
               icon="icons/alarm_browser.png"
               label="%action.Alarms.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="org.netxms.client.objects.AbstractObject">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.netxms.ui.eclipse.objectbrowser.isAlarmsVisible">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.netxms.ui.eclipse.alarmviewer.propertypages.General"
            id="org.netxms.ui.eclipse.alarmviewer.propertypages.General#0"
            name="General">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.alarmviewer.editors.AlarmCategoryEditor">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.alarmviewer.propertypages.AccessControl"
            id="org.netxms.ui.eclipse.alarmviewer.propertypages.AccessControl#1"
            name="Access Control">
         <enabledWhen>
            <instanceof
                  value="org.netxms.ui.eclipse.alarmviewer.editors.AlarmCategoryEditor">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.netxms.ui.eclipse.alarmviewer.context.AlarmCategoryConfigurator"
            name="Alarm Category Configurator"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
