<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name.EventCfg"
            icon="icons/event_configurator.png"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.eventmanager.views.EventConfigurator"
            id="org.netxms.ui.eclipse.eventmanager.view.event_configurator">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.eventmanager.views.EventMonitor"
            icon="icons/event_monitor.png"
            id="org.netxms.ui.eclipse.eventmanager.views.EventMonitor"
            name="%view.name.EventMonitor"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.netxms.ui.eclipse.eventmanager.views.SyslogMonitor"
            icon="icons/event_monitor.png"
            id="org.netxms.ui.eclipse.eventmanager.views.SyslogMonitor"
            name="%view.name.SyslogMonitor"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%command.name.OpenEventCfg"
            description="%command.description.OpenEventCfg"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.eventmanager.commands.open_event_configurator">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%command.description.EventMonitor"
            id="org.netxms.ui.eclipse.eventmanager.commands.open_event_monitor"
            name="%command.name.EventMonitor">
      </command>
      <command
            categoryId="org.netxms.ui.eclipse.console.category.views"
            description="%command.description.SyslogMonitor"
            id="org.netxms.ui.eclipse.eventmanager.commands.open_syslog_monitor"
            name="%command.name.SyslogMonitor">
      </command>
      <command
            id="org.netxms.ui.eclipse.eventmanager.commands.show_filter"
            name="Show filter">
      </command>
      <command
            id="org.netxms.ui.eclipse.eventmanager.commands.new_event_template"
            name="New event template">
      </command>
   </extension>

   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.action_set.event_configuration"
		   label="%actionSet.label.EventCfg"
		   visible="true">
		   <action id="org.netxms.ui.eclipse.eventmanager.actions.open"
			   menubarPath="config/additions"
			   toolbarPath="config/additions"
			   label="%action.label.EventCfg"
			   tooltip="%action.tooltip.EventCfg"
			   icon="icons/event_configurator.png"
			   class="org.netxms.ui.eclipse.eventmanager.actions.OpenEventConfigurator"
			   definitionId="org.netxms.ui.eclipse.eventmanager.commands.open_event_configurator">
		   </action>
     <action
           class="org.netxms.ui.eclipse.eventmanager.actions.OpenEventMonitor"
           definitionId="org.netxms.ui.eclipse.eventmanager.commands.open_event_monitor"
           id="org.netxms.ui.eclipse.eventmanager.actions.open_event_monitor"
           label="%action.label.EventMonitor"
           menubarPath="monitor/additions"
           tooltip="%action.tooltip.EventMonitor">
     </action>
     <action
           class="org.netxms.ui.eclipse.eventmanager.actions.OpenSyslogMonitor"
           definitionId="org.netxms.ui.eclipse.eventmanager.commands.open_syslog_monitor"
           id="org.netxms.ui.eclipse.eventmanager.actions.open_syslog_monitor"
           label="%action.label.SyslogMonitor"
           menubarPath="monitor/additions"
           tooltip="%action.tooltip.SyslogMonitor">
     </action>
	   </actionSet>
   </extension>

  <extension
     point="org.eclipse.core.runtime.adapters">
        <factory 
           class="org.netxms.ui.eclipse.eventmanager.EventTemplateAdapterFactory" 
           adaptableType="org.netxms.client.events.EventTemplate">
          <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
        </factory>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.netxms.ui.eclipse.eventmanager.PreferenceInitializer">
     </initializer>
  </extension>
  <extension
        point="org.eclipse.ui.contexts">
     <context
           id="org.netxms.ui.eclipse.eventmanager.contexts.EventConfigurator"
           name="Event Configurator"
           parentId="org.eclipse.ui.contexts.window">
     </context>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.netxms.ui.eclipse.eventmanager.commands.show_filter"
           contextId="org.netxms.ui.eclipse.eventmanager.contexts.EventConfigurator"
           schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
           sequence="M1+F2">
     </key>
     <key
           commandId="org.netxms.ui.eclipse.eventmanager.commands.new_event_template"
           contextId="org.netxms.ui.eclipse.eventmanager.contexts.EventConfigurator"
           schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
           sequence="M1+N">
     </key>
  </extension>

</plugin>
