<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.netxms.ui.eclipse.objectview.tabs" name="Object Tabs" schema="schema/org.netxms.ui.eclipse.objectview.tabs.exsd"/>
   <extension-point id="org.netxms.ui.eclipse.objectview.objectDetailsProvider" name="Object Details Provider" schema="schema/org.netxms.ui.eclipse.objectview.objectDetailsProvider.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name.ObjectDetails"
            allowMultiple="false"
            icon="icons/object_details.png"
            class="org.netxms.ui.eclipse.objectview.views.TabbedObjectView"
            id="org.netxms.ui.eclipse.objectview.view.tabbed_object_view">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.objectview.views.ObjectStatusMapView"
            id="org.netxms.ui.eclipse.objectview.views.ObjectStatusMapView"
            name="%view.name.ObjectStatus"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.objectview.views.SoftwareInventoryView"
            icon="icons/software.png"
            id="org.netxms.ui.eclipse.objectview.views.SoftwareInventoryView"
            name="%view.name.SoftwareInventory"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.objectview.views.RackView"
            icon="icons/rack.gif"
            id="org.netxms.ui.eclipse.objectview.views.RackView"
            name="Rack"
            restorable="true">
      </view>
      <view
            class="org.netxms.ui.eclipse.objectview.views.HardwareInventoryView"
            icon="icons/components.png"
            id="org.netxms.ui.eclipse.objectview.views.HardwareInventoryView"
            name="Hardware Inventory"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%command.name.ObjectDetails"
            description="%command.description.ObjectDetails"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.objectview.commands.open_tabbed_object_view">
      </command>
      <command
            description="Toggle Filter"
            id="org.netxms.ui.eclipse.objectview.commands.show_filter"
            name="Toggle Filter">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.netxms.ui.eclipse.objectview.commands.show_filter.state">
         </state>
         <defaultHandler
               class="org.netxms.ui.eclipse.objectview.actions.ToggleFilterHandler">
            <parameter
                  name="default"
                  value="default">
            </parameter>
         </defaultHandler>
      </command>
      <command
            description="Hide sub-interfaces"
            id="org.netxms.ui.eclipse.objectview.commands.hideSubInterfaces"
            name="Hide sub-interfaces">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.netxms.ui.eclipse.objectview.commands.hideSubInterfaces.state">
         </state>
         <defaultHandler
               class="org.netxms.ui.eclipse.objectview.actions.HideSubInterfacesHandler">
            <parameter
                  name="default"
                  value="default">
            </parameter>
         </defaultHandler>
      </command>
   </extension>
   
   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.action_set.object_details"
		   label="%actionSet.label.ObjectDetails"
		   visible="true">
		   <action id="org.netxms.ui.eclipse.objectview.actions.open_tabbed_object_view"
			   menubarPath="view/primary"
			   label="%action.label.ObjectDetails"
			   tooltip="%action.tooltip.ObjectDetails"
			   icon="icons/object_details.png"
			   class="org.netxms.ui.eclipse.objectview.actions.ShowObjectDetailsView"
			   definitionId="org.netxms.ui.eclipse.objectview.commands.open_tabbed_object_view">
		   </action>
	   </actionSet>
   </extension>

   <extension
         point="org.netxms.ui.eclipse.objectview.tabs">
      <tab
            class="org.netxms.ui.eclipse.objectview.objecttabs.ObjectOverview"
            icon="icons/overview_tab.gif"
            id="org.netxms.ui.eclipse.objectview.objecttabs.ObjectOverview"
            name="%tab.name.Overview"
            order="10">
      </tab>
      <tab
            class="org.netxms.ui.eclipse.objectview.objecttabs.ComponentsTab"
            icon="icons/components.png"
            id="org.netxms.ui.eclipse.objectview.objecttabs.ComponentsTab"
            name="%tab.name.Components"
            order="50">
      </tab>
      <tab
            class="org.netxms.ui.eclipse.objectview.objecttabs.InterfacesTab"
            contextId="org.netxms.ui.eclipse.objectview.context.InterfacesTab"
            icon="icons/interface.png"
            id="org.netxms.ui.eclipse.objectview.objecttabs.InterfacesTab"
            name="%tab.name.Interfaces"
            order="60">
      </tab>
      <tab
            class="org.netxms.ui.eclipse.objectview.objecttabs.NodesTab"
            icon="icons/nodes.png"
            id="org.netxms.ui.eclipse.objectview.objecttabs.NodesTab"
            name="%tab.name.Nodes"
            order="50">
      </tab>
      <tab
            class="org.netxms.ui.eclipse.objectview.objecttabs.RackTab"
            icon="icons/rack.gif"
            id="org.netxms.ui.eclipse.objectview.objecttabs.RackTab"
            name="%tab.name.Rack"
            order="15">
      </tab>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectview.actions.popup.object.Container"
            objectClass="org.netxms.client.objects.Container">
         <action
               class="org.netxms.ui.eclipse.objectview.actions.ShowStatusMap"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectview.popupActions.ShowStatusMap_Container"
               label="%action.label.StatusMap">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectview.actions.ShowSoftwareInventory"
               enablesFor="1"
               icon="icons/software.png"
               id="org.netxms.ui.eclipse.objectview.popupActions.ShowSoftwareInventory_Container"
               label="%action.label.SoftwareInventory">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectview.actions.popup.object.ServiceRoot"
            objectClass="org.netxms.client.objects.ServiceRoot">
         <action
               class="org.netxms.ui.eclipse.objectview.actions.ShowStatusMap"
               enablesFor="1"
               id="org.netxms.ui.eclipse.objectview.popupActions.ShowStatusMap_ServiceRoot"
               label="%action.label.StatusMap">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectview.actions.ShowSoftwareInventory"
               enablesFor="1"
               icon="icons/software.png"
               id="org.netxms.ui.eclipse.objectview.popupActions.ShowSoftwareInventory_ServiceRoot"
               label="%action.label.SoftwareInventory">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.netxms.ui.eclipse.objectview.actions.popup.object.Node"
            objectClass="org.netxms.client.objects.Node">
         <action
               class="org.netxms.ui.eclipse.objectview.actions.ShowSoftwareInventory"
               enablesFor="1"
               icon="icons/software.png"
               id="org.netxms.ui.eclipse.objectview.popupActions.ShowSoftwareInventory_Node"
               label="%action.label.SoftwareInventory">
         </action>
         <action
               class="org.netxms.ui.eclipse.objectview.actions.ShowHardwareInventory"
               enablesFor="1"
               icon="icons/components.png"
               id="org.netxms.ui.eclipse.objectview.popupActions.ShowHardwareInventory"
               label="Hardware inventory">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="org.netxms.ui.eclipse.objectview.SourceProvider">
         <variable
               name="org.netxms.ui.eclipse.objectview.ActiveTab"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.objectview.commands.show_filter"
            contextId="org.netxms.ui.eclipse.objectview.context.InterfacesTab"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="M1+F2">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.netxms.ui.eclipse.objectview.context.InterfacesTab"
            name="Interfaces Tab"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.netxms.ui.eclipse.objectview.view.tabbed_object_view?after=additions">
         <command
               commandId="org.netxms.ui.eclipse.objectview.commands.show_filter"
               label="Show &amp;filter"
               style="toggle"
               tooltip="Show Filter">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.netxms.ui.eclipse.objectview.ActiveTab">
                  <instanceof
                        value="org.netxms.ui.eclipse.objectview.objecttabs.InterfacesTab">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.netxms.ui.eclipse.objectview.commands.hideSubInterfaces"
               label="Hide sub-&amp;interfaces"
               style="toggle"
               tooltip="Hide sub-interfaces">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.netxms.ui.eclipse.objectview.ActiveTab">
                  <instanceof
                        value="org.netxms.ui.eclipse.objectview.objecttabs.InterfacesTab">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
