<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=objectmgmt">
         <dynamic
               class="org.netxms.ui.eclipse.objecttools.ObjectToolsDynamicMenu"
               id="org.netxms.ui.eclipse.objecttools.objectToolsDynamicMenu">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.netxms.client.objects.Node">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.netxms.ui.eclipse.objecttools.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.viewcategory.tools"
            class="org.netxms.ui.eclipse.objecttools.views.TableToolResults"
            icon="icons/table.gif"
            id="org.netxms.ui.eclipse.objecttools.views.TableToolResults"
            name="Table Tool Results"
            restorable="true">
      </view>
   </extension>

</plugin>
