<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.netxms.ui.eclipse.objecttools.toolhandlers" name="Object Tool Handlers" schema="schema/org.netxms.ui.eclipse.objecttools.toolhandlers.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=objectmgmt">
         <dynamic
               class="org.netxms.ui.eclipse.objecttools.ObjectToolsDynamicMenu"
               id="org.netxms.ui.eclipse.objecttools.objectToolsDynamicMenu">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.netxms.client.objects.Node">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.netxms.ui.eclipse.objecttools.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.netxms.ui.eclipse.viewcategory.tools"
            class="org.netxms.ui.eclipse.objecttools.views.TableToolResults"
            icon="icons/table.gif"
            id="org.netxms.ui.eclipse.objecttools.views.TableToolResults"
            name="Table Tool Results"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.netxms.ui.eclipse.viewcategory.config"
            class="org.netxms.ui.eclipse.objecttools.views.ObjectToolsEditor"
            icon="icons/tools.png"
            id="org.netxms.ui.eclipse.objecttools.views.ObjectToolsEditor"
            name="Object Tools"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.netxms.ui.eclipse.objecttools.views.FileViewer"
            icon="icons/file_download.png"
            id="org.netxms.ui.eclipse.objecttools.views.FileViewer"
            name="File Viewer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Open object tools editor"
            id="org.netxms.ui.eclipse.objecttools.commands.open_objecttools_editor"
            name="Object Tools">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.netxms.ui.eclipse.action_set.object_tools"
            label="Object Tools Configuration"
            visible="true">
         <action
               class="org.netxms.ui.eclipse.objecttools.actions.OpenObjectToolsEditor"
               definitionId="org.netxms.ui.eclipse.objecttools.commands.open_objecttools_editor"
               icon="icons/tools.png"
               id="org.netxms.ui.eclipse.objecttools.actions.open_editor"
               label="Object Tools"
               menubarPath="config/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.netxms.client.objecttools.ObjectTool"
            class="org.netxms.ui.eclipse.objecttools.ObjectToolsAdapterFactory">
         <adapter
               type="org.netxms.client.objecttools.ObjectToolDetails">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.netxms.ui.eclipse.objecttools.propertypages.General"
            id="org.netxms.ui.eclipse.objecttools.propertypages.General#1"
            name="General">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objecttools.ObjectTool">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.objecttools.propertypages.AccessControl"
            id="org.netxms.ui.eclipse.objecttools.propertypages.AccessControl#2"
            name="Access Control">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objecttools.ObjectTool">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.objecttools.propertypages.Filter"
            id="org.netxms.ui.eclipse.objecttools.propertypages.Filter#3"
            name="Filter">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objecttools.ObjectTool">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="org.netxms.ui.eclipse.objecttools.propertypages.Columns"
            id="org.netxms.ui.eclipse.objecttools.propertypages.Columns#4"
            name="Columns">
         <enabledWhen>
            <instanceof
                  value="org.netxms.client.objecttools.ObjectTool">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
