<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Object Browser"
            allowMultiple="false"
            icon="icons/object_browser.png"
            class="org.netxms.nxmc.objectbrowser.ObjectBrowser"
            id="org.netxms.nxmc.objectbrowser.view.object_browser">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Views"
            id="org.netxms.nxmc.core.category.views">
      </category>
      <command
            name="Object Browser"
            description="Open Object Browser"
            categoryId="org.netxms.nxmc.core.category.views"
            id="org.netxms.nxmc.objectbrowser.commands.open_object_browser">
      </command>
   </extension>
   
   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.nxmc.objectbrowser.action_set"
		   label="Object Browser"
		   visible="true">
		   <action id="org.netxms.nxmc.objectbrowser.actions.open"
			   menubarPath="view/primary"
			   toolbarPath="view"
			   label="Object Browser"
			   tooltip="Open Object Browser"
			   icon="icons/object_browser.png"
			   class="org.netxms.nxmc.objectbrowser.actions.OpenObjectBrowser"
			   definitionId="org.netxms.nxmc.objectbrowser.commands.open_object_browser">
		   </action>
	   </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.nxmc.objectbrowser.commands.open_object_browser"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.netxms.nxmc.objectbrowser.actions.popup.object.bind"
            objectClass="org.netxms.client.NXCObject">
         <menu
               id="org.netxms.nxmc.objectbrowser.menu.object_browser"
               label="Bind..."
               path="additions">
         </menu>
         <action
               class="org.netxms.nxmc.objectbrowser.actions.BindObject"
               enablesFor="1"
               id="org.netxms.nxmc.objectbrowser.popupActions.BindObject"
               label="Bind..."
               menubarPath="org.netxms.nxmc.objectbrowser.menu.object_browser">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.netxms.nxmc.objectbrowser.actions.view.object.hide_unmanaged"
            targetID="org.netxms.nxmc.objectbrowser.view.object_browser">
         <menu
               id="org.netxms.nxmc.objectbrowser.menu.object_browser"
               label="Hide unmanaged objects"
               path="additions">
         </menu>
         <action
               class="org.netxms.nxmc.objectbrowser.actions.HideUnmanagedObjects"
               id="org.netxms.nxmc.objectbrowser.viewActions.HideUnmanagedObjects"
               label="Hide unmanaged objects"
               menubarPath="org.netxms.nxmc.objectbrowser.menu.object_browser">
         </action>
      </viewContribution>
   </extension>

</plugin>
