<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.netxms.ui.eclipse.objectbrowser.objectOpenHandlers" name="Object Open Handlers" schema="schema/org.netxms.ui.eclipse.objectbrowser.objectOpenHandlers.exsd"/>
   <extension-point id="org.netxms.ui.eclipse.objectbrowser.objectActionValidators" name="Object Action Validators" schema="schema/org.netxms.ui.eclipse.objectbrowser.objectActionValidators.exsd"/>
   <extension-point id="org.netxms.ui.eclipse.objectbrowser.objectSelectionFilterFactories" name="Object Selection Filters" schema="schema/org.netxms.ui.eclipse.objectbrowser.objectSelectionFilterFactories.exsd"/>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.netxms.ui.eclipse.objectbrowser.PreferenceInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.ObjectBrowser.name"
            allowMultiple="false"
            icon="icons/object_browser.gif"
            class="org.netxms.ui.eclipse.objectbrowser.views.ObjectBrowser"
            id="org.netxms.ui.eclipse.view.navigation.objectbrowser">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%command.ObjectBrowser.name"
            description="%command.ObjectBrowser.description"
            categoryId="org.netxms.ui.eclipse.console.category.views"
            id="org.netxms.ui.eclipse.objectbrowser.commands.open_object_browser">
      </command>
      <command
            description="%command.ToggleFilter.description"
            id="org.netxms.ui.eclipse.objectbrowser.commands.show_object_filter"
            name="%command.ToggleFilter.name">
      </command>
      <command
            description="%command.ToggleStatusInd.description"
            id="org.netxms.ui.eclipse.objectbrowser.commands.show_status_indicator"
            name="%command.ToggleStatusInd.name">
      </command>
   </extension>
   
   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="org.netxms.ui.eclipse.action_set.object_browser"
		   label="%actionSet.ObjectBrowser.label"
		   visible="true">
		   <action id="org.netxms.ui.eclipse.objectbrowser.actions.open"
			   menubarPath="view/primary"
			   toolbarPath="view/additions"
			   label="%action.ObjectBrowser.label"
			   tooltip="%action.ObjectBrowser.tooltip"
			   icon="icons/object_browser.gif"
			   class="org.netxms.ui.eclipse.objectbrowser.actions.OpenObjectBrowser"
			   definitionId="org.netxms.ui.eclipse.objectbrowser.commands.open_object_browser">
		   </action>
	   </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.netxms.ui.eclipse.objectbrowser.commands.open_object_browser"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="F3">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.objectbrowser.commands.show_object_filter"
            contextId="org.netxms.ui.eclipse.objectbrowser.context.ObjectBrowser"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="Ctrl+F2">
      </key>
      <key
            commandId="org.netxms.ui.eclipse.objectbrowser.commands.show_status_indicator"
            contextId="org.netxms.ui.eclipse.objectbrowser.context.ObjectBrowser"
            schemeId="org.netxms.ui.eclipse.defaultKeyBinding"
            sequence="Ctrl+F3">
      </key>
   </extension>

  <extension
     point="org.eclipse.ui.decorators">
       <decorator
          id="org.netxms.ui.eclipse.decorators.NXCObject"
          label="%decorator.Objects.label"
          state="true"
          lightweight= "true"
          class="org.netxms.ui.eclipse.objectbrowser.ObjectDecorator">
         <enablement>
           <objectClass name="org.netxms.client.objects.AbstractObject"/>
         </enablement>
         <description>
            %decorator.Objects.description
         </description>
    </decorator>
  </extension>
  <extension
        point="org.eclipse.ui.contexts">
     <context
           id="org.netxms.ui.eclipse.objectbrowser.context.ObjectBrowser"
           name="%context.ObjectBrowser.name"
           parentId="org.eclipse.ui.contexts.window">
     </context>
  </extension>
</plugin>
